.contact-us{
  .title{
    font-size:40px;
  }
}
.msp-order {
  .stockits-box {
    a {
      font-size: 14px;
    }
  }
  #contact-form{
    .form-group{
      .input-form{
        margin-bottom:15px;
        .form-control{
          border:1px solid $indigo;
          color:$indigo;
          border-radius:30px;
          &::placeholder{
            color:rgba($indigo, 0.7);
          }

          &:focus{
            box-shadow:none;
          }
        }
      }
    }
  }
}

.contect {
  blockquote {
    margin-bottom: 40px;
    padding: 15px;
    border-left: 3px solid;
    background: rgba($purple, 0.2);

    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .qen {
    margin-bottom: 40px;
    padding: 15px;
    border-left: 3px solid;
    background: rgba($purple, 0.2);

    p:first-child {
      color: #bf7e2e;
      font-size: 20px;
    }

    p:last-child {
      margin: 0;
      font-size: 14px;
    }
  }
}
.content-title {
  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width:480px) {
  .content-title {
    h1 {
      font-size: 23px;
    }
  }
  .contact-us{
    .title{
      font-size:23px;
    }
  }
}