//================ custome mixin ==============
@mixin background ($img:file, $type:png, $repeat:no-repeat, $x:0, $y:0) {
    background-image: url(images/#{$img}.#{$type});
    background-repeat: #{$repeat};
    background-position: #{$x} #{$y};
    background-size: cover;
}

@mixin after($content:0, $position:absolute, $top:0, $left:0, $textsize:0) {
    content:"0#{$content}";
    position:#{$position};
    top:#{$top};
    left:#{$left};
    transform: translate(-50%, -50%);
    // right:#{$right};
    // bottom:#{$bottom};
    font-size:#{$textsize};
    font-family: 'Oswald', sans-serif;
    color: #ededed;
    margin: auto;
    z-index: -1;
}

@mixin headerafter() {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -10px;
    opacity: 0;
    border-bottom: 2px solid $indigo;
    transform: scaleX(0);
    transition: transform .3s;
}

@mixin animation() {
    animation: puls infinite 3s;
    @keyframes puls {
        0% {
            transform: scale3d(1, 1, 1);
        }
        50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            -ms-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    @include media-breakpoint-between(xs, sm) {
        animation: puls infinite 0s;
    }
}

@mixin after-hover($color:$black, $height:0) {
    .title-div {
        h3 {
            &:after {
                content: "";
                position: absolute;
                left: 0px;
                top: 56%;
                width: 100%;
                height:#{$height}px;
                background:#{$color};
                transform-origin: left;
                transform: scaleX(0);
                transition: .4s;
            }
        }
    }
    &:hover {
        .title-div {
            h3 {
                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
}

@mixin btn-ani {
    cursor: pointer !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4) !important;
    -moz-animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite !important;
    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
        }
        70% {
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
        100% {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }
}

@mixin min-title() {
    &:hover {
        .min-title-div {
            animation: updown 2s infinite;
            transform-origin: top;
        }
    }
    @keyframes updown {
        0% {
            top: 0px;
        }
        50% {
            top: -15px;
        }
        100% {
            top: 0px;
        }
    }
}

@mixin type-cursor() {
    .typed-cursor {
        opacity: 1;
        font-weight: 100;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        -ms-animation: blink 0.7s infinite;
        -o-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin img-fit() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}