.footer{
    .footer-top{
        h5{
            color:$indigo;
        }
        .fst-col{
            p{
                color:#b7bcc8; 
            }
        }
        .footer-link{
            li{
                a{
                    color:#b7bcc8;
                }
            }
        }
    }
}