<style>
.plan_input_div .selector-wrapper
{
display:none !important;
}
</style>
{% section 'main-banner-section' %}
<section class="services-plans py-5 d-lg-block d-none">
    <div class="container">
        <div class="plan_head_row">
            <div class="plan_head">
                <div class="p_head time">
                    <!-- <h4>Time tracking</h4> -->
                </div>
                {% for product in collection.products %}
                    <div class="p_head {% if forloop.index == 1 %} bg-info {% elsif forloop.index == 2 %} bg-purple  {% else %} bg-danger {% endif %}">
                        {% assign current_variant = product.selected_or_first_available_variant %}
                        <form enctype="multipart/form-data" method="post" action="/cart/add" id="AddToCartForm-{{ product.variants.first.id }}"
                        data-cart-submit="data-cart-submit"
                        data-product-id="{{ current_variant.id }}">
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                <div class="title_plan">
                                    <h5 >{{product.title}}</h5>
                                </div>
                                <div class="plan_price">
                                    <p><span>החל מ- </span><span class="mb-0 o-price-{{forloop.index}}"> {{product.price |  money_without_currency }} </span><span>₪</span></p>
                                    <p class="mb-0"> (למילה)</p>
                                    <input type="hidden"  name="properties[_content]" value="" class="content">
                                </div>
                                <div class="plan_input_div">
                                        <select id="product-select-{{forloop.index}}" name="id" style="display:none">
                                            {% for variant in product.variants %}
                                            <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="plan_select">
                                           <div class="col-6 text-center pl-1">
                                                <label class="mr-0">שפת מקור</label><br>
                                            </div>
                                            <div class="col-6 text-right pr-1">
                                                <select id="source{{forloop.index}}" name="properties[שפת מקור]" class="form_input d-rtl source" data-id="{{forloop.index}}">
                                                    <option value="עברית">עברית</option>
                                                    <option value="רוסית">רוסית</option>
                                                    <option value="אנגלית">אנגלית</option>
                                                    <option value="ערבית">ערבית</option>
                                                    <option value="טורקית">טורקית</option>
                                                    <option value="דנית">דנית</option>
                                                    <option value="פינית">פינית</option>
                                                    <option value="שוודית">שוודית</option>
                                                    <option value="נורבגית">נורבגית</option>
                                                    <option value="גרמנית">גרמנית</option>
                                                    <option value="לטינית">לטינית</option>
                                                    <option value="יידיש">יידיש</option>
                                                    <option value="צ'כית">צ'כית</option>
                                                    <option value="פולנית">פולנית</option>
                                                    <option value="רומנית">רומנית</option>
                                                    <option value="בולגרית">בולגרית</option>
                                                    <option value="סרבית">סרבית</option>
                                                    <option value="סלובקית">סלובקית</option>
                                                    <option value="אוקראינית">אוקראינית</option>
                                                    <option value="הונגרית">הונגרית</option>
                                                    <option value="צרפתית">צרפתית</option>
                                                    <option value="איטלקית">איטלקית</option>
                                                    <option value="קטלאנית">קטלאנית</option>
                                                    <option value="ספרדית (ספרד)">ספרדית (ספרד)</option>
                                                    <option value="פורטוגזית (אירופה)">פורטוגזית (אירופה)</option>
                                                    <option value="יוונית">יוונית</option>
                                                    <option value="הינדי">הינדי</option>
                                                    <option value="אינדונזית">אינדונזית</option>
                                                    <option value="יפנית">יפנית</option>
                                                    <option value="קוריאנית">קוריאנית</option>
                                                    <option value="תאית">תאית</option>
                                                    <option value="וייטנאמית">וייטנאמית</option>
                                                    <option value="סינית מפושטת">סינית מפושטת</option>
                                                    <option value="מלאית">מלאית</option>
                                                    <option value="טאגאלוג">טאגאלוג</option>
                                                    <option value="ניגרית">ניגרית</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="plan_select">
                                            <div class="col-6 text-center pl-1">
                                                <label class="mr-0">שפת יעד</label><br>
                                            </div>
                                            <div class="col-6 text-right pr-1">
                                                <select id="target{{forloop.index}}" name="properties[שפת יעד]" class="form_input target" data-id="{{forloop.index}}">
                                                    <option value="רוסית">רוסית</option>
                                                    <option value="אנגלית">אנגלית</option>
                                                    <option value="ערבית">ערבית</option>
                                                    <option value="טורקית">טורקית</option>
                                                    <option value="דנית">דנית</option>
                                                    <option value="פינית">פינית</option>
                                                    <option value="שוודית">שוודית</option>
                                                    <option value="נורבגית">נורבגית</option>
                                                    <option value="גרמנית">גרמנית</option>
                                                    <option value="לטינית">לטינית</option>
                                                    <option value="יידיש">יידיש</option>
                                                    <option value="צ'כית">צ'כית</option>
                                                    <option value="פולנית">פולנית</option>
                                                    <option value="רומנית">רומנית</option>
                                                    <option value="בולגרית">בולגרית</option>
                                                    <option value="סרבית">סרבית</option>
                                                    <option value="סלובקית">סלובקית</option>
                                                    <option value="אוקראינית">אוקראינית</option>
                                                    <option value="הונגרית">הונגרית</option>
                                                    <option value="צרפתית">צרפתית</option>
                                                    <option value="איטלקית">איטלקית</option>
                                                    <option value="קטלאנית">קטלאנית</option>
                                                    <option value="ספרדית (ספרד)">ספרדית (ספרד)</option>
                                                    <option value="פורטוגזית (אירופה)">פורטוגזית (אירופה)</option>
                                                    <option value="יוונית">יוונית</option>
                                                    <option value="הינדי">הינדי</option>
                                                    <option value="אינדונזית">אינדונזית</option>
                                                    <option value="יפנית">יפנית</option>
                                                    <option value="קוריאנית">קוריאנית</option>
                                                    <option value="תאית">תאית</option>
                                                    <option value="וייטנאמית">וייטנאמית</option>
                                                    <option value="סינית מפושטת">סינית מפושטת</option>
                                                    <option value="מלאית">מלאית</option>
                                                    <option value="טאגאלוג">טאגאלוג</option>
                                                    <option value="ניגרית">ניגרית</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="plan_select">
                                            <div class="col-6 text-center pl-1">
                                                <label  class="mr-0">כמות מילים </label>
                                            </div>

                                            <div class="col-6 text-right pr-1">
                                                <input type="number" min="100"  required placeholder="...,100,101" data-toggle="tooltip" data-placement="bottom" title="מספר מינימלי של מילים 100,101,102, ..." class="form_input qty-new qty-{{forloop.index}}" name="quantity" id="quantity" data-vid='{{variant.id}}' data-nid={{forloop.index}} data-price={{variant.price}} >
                                            </div>
                                        </div>
                                        <div class="plan_select">
                                            <div class="col-6 text-center pl-1">
                                                <label class="mr-0">מחיר</label>
                                            </div>
                                            <div class="col-6 text-right pr-1">
                                                <input type="number" readonly id="price-{{product.variants.first.id }}" class="form_input price-{{forloop.index}} price-{{product.variants.first.id }} " placeholder="₪" min="0">
                                            </div>
                                        </div>
                                        <div class="plan_select">
                                            <div class="col-6 text-center pl-1">
                                                <label class="mr-0">מצורף</label>
                                            </div>
                                            <div class="col-6 text-right p-1">
                                                <div class="upload-container">                              
                                                        <div class="upload-btn-wrapper  text-center">
                                                            <span class="btn btn-all upl-btn" id="upload-btn-{{forloop.index}}">הוסף קבצים</span>
                                                            <input type="file" data-id={{forloop.index}} id="upload-{{forloop.index}}" autocomplete="true" required name="properties[הקובץ]" class="files"  accept="image/*,.pdf"/>
                                                        </div>                 
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="plan_select">
                                            <small id="error-{{forloop.index}}" class="d-none"></small>
                                        </div>
                                </div>
                                <div class="btn_div">
                                    <button type="submit"  data-product-id="{{ variant.id }}" class="btn btn-all add-cart" data-attr ="{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}"  >לרכישה</button>
                                </div>
                                <script>
                                            var selectCallback{{forloop.index}} = function(variant, selector) {
                                                {% if product.variants.size == 1 or product.variants.first.title contains 'Default' %}
                                                $('.selector-wrapper').hide();
                                                {% endif %}
                                                var p=parseFloat(variant.price/100).toFixed(2);
                                                $('.o-price-{{forloop.index}}').html(p);
                                                var qty=$('.qty-{{forloop.index}}').val();
                                                var rs1=parseFloat(p*qty).toFixed(2);
                                                $('.price-'+{{forloop.index}}).val(rs1);
                                            };
                                            jQuery(function($) {
                                                new Shopify.OptionSelectors("product-select-{{forloop.index}}", { 
                                                product: {{ product | json }},
                                                history: true,
                                                onVariantSelected: selectCallback{{forloop.index}}
                                                });
                                            }); 
                                            
                                </script> 
                                <script type="application/ld+json">
                                        {
                                            "@context": "http://schema.org/",
                                            "@type": "Product",
                                            "name": "{{ product.title | escape }}",
                                            "url": "{{ shop.url }}{{ product.url }}",
                                            {
                                            %
                                            if product.featured_image %
                                            } {
                                            % assign image_size = product.featured_image.width | append: 'x' %
                                            }
                                            "image": [
                                            "https:{{ product.featured_image.src | img_url: image_size }}"
                                            ],
                                            {
                                            % endif %
                                            }
                                            "description": "{{ product.description | strip_html | escape }}",
                                            {
                                            %
                                            if current_variant.sku != blank %
                                            }
                                            "sku": "{{ current_variant.sku }}",
                                            {
                                            % endif %
                                            }
                                            "brand": {
                                            "@type": "Thing",
                                            "name": "{{ product.vendor | escape }}"
                                            },
                                            {
                                            %
                                            if product.variants %
                                            }
                                            "offers": [{
                                            %
                                            for variant in product.variants %
                                            } {
                                            "@type": "Offer",
                                            "availability": "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                                            "price": "{{ variant.price | divided_by: 100.00 }}",
                                            "priceCurrency": "{{ shop.currency }}",
                                            "url": "{{ shop.url }}{{ variant.url }}",
                                            "itemOffered": {
                                                "@type": "Product",
                                                {
                                                %
                                                if variant.image %
                                                } {
                                                % assign variant_image_size = variant.image.width | append: 'x' %
                                                }
                                                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.title != blank %
                                                }
                                                "name": "{{ variant.title | escape }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.sku != blank %
                                                }
                                                "sku": "{{ variant.sku }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.weight != blank %
                                                }
                                                "weight": {
                                                "@type": "QuantitativeValue",
                                                {
                                                    %
                                                    if variant.weight_unit != blank %
                                                }
                                                "unitCode": "{{ variant.weight_unit }}",
                                                {
                                                    % endif %
                                                }
                                                "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                                                },
                                                {
                                                % endif %
                                                }
                                                "url": "{{ shop.url }}{{ variant.url }}"
                                            }
                                            } {
                                            % unless forloop.last %
                                            }, {
                                            % endunless %
                                            } {
                                            % endfor %
                                            }] {
                                            % endif %
                                            }
                                        }
                                </script> 
                        </form>
                    </div>                    
                {% endfor %}
            </div>
            <div class="plan_body">
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">36 שפות לבחירה</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                   
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">תרגום אנושי <br><span>(לא מכונה) </span></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                   
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">הגהה</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">עד 72 שעות<br><span>(עד 1500 מילים)</span></p>
                    </div>
                      <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                   
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">בקשת שינויים<br><span>(פעם אחת)</span></p>
                    </div>
                      <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>

                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">עיצוב המסמך</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
    </div>
</section>
<section class="services-plans mobile-plans d-lg-none d-block">
    <div class="container">
    {% for product in collection.products %}
        <div class="plan_head_row plan-1">
            <div class="plan_head">
                <div class="p_head {% if forloop.index == 1 %}  bg-info {% elsif forloop.index == 2 %}  bg-purple   {% else %} bg-danger {% endif %}">
                    {% assign current_variant = product.selected_or_first_available_variant %}
                    <form method="post"  enctype="multipart/form-data" action="/cart/add" id="AddToCartForm-mobile-{{ product.variants.first.id }}"
                        data-cart-submit="data-cart-submit"
                        data-product-id="{{ current_variant.id }}">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        <div class="title_plan">
                            <h5>{{product.title}}</h5>
                        </div>
                        <div class="plan_price">
                            <p><span>החל מ- </span><span class="mb-0 o-price-mobile-{{forloop.index}}"> {{product.price |  money_without_currency }} </span><span>₪</span></p>
                            <p class="mb-0"> (למילה)</p>
                             <input type="hidden"  name="properties[_content]" value="" class="content">
                        </div>
                        <div class="plan_input_div">
                            <select id="product-select-mobile-{{forloop.index}}" name="id" style="display:none">
                                {% for variant in product.variants %}
                                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                {% endfor %}
                            </select>
                            <div class="plan_select">
                                <div class="col-6 text-center pl-1">
                                    <label class="mr-0">שפת מקור</label><br>
                                </div>
                                <div class="col-6 text-right pr-1">
                                    <select id="source-mobile-{{forloop.index}}" name="properties[שפת מקור]" class="form_input d-rtl source" data-id="{{forloop.index}}">
                                        <option value="עברית">עברית</option>
                                        <option value="רוסית">רוסית</option>
                                        <option value="אנגלית">אנגלית</option>
                                        <option value="ערבית">ערבית</option>
                                        <option value="טורקית">טורקית</option>
                                        <option value="דנית">דנית</option>
                                        <option value="פינית">פינית</option>
                                        <option value="שוודית">שוודית</option>
                                        <option value="נורבגית">נורבגית</option>
                                        <option value="גרמנית">גרמנית</option>
                                        <option value="לטינית">לטינית</option>
                                        <option value="יידיש">יידיש</option>
                                        <option value="צ'כית">צ'כית</option>
                                        <option value="פולנית">פולנית</option>
                                        <option value="רומנית">רומנית</option>
                                        <option value="בולגרית">בולגרית</option>
                                        <option value="סרבית">סרבית</option>
                                        <option value="סלובקית">סלובקית</option>
                                        <option value="אוקראינית">אוקראינית</option>
                                        <option value="הונגרית">הונגרית</option>
                                        <option value="צרפתית">צרפתית</option>
                                        <option value="איטלקית">איטלקית</option>
                                        <option value="קטלאנית">קטלאנית</option>
                                        <option value="ספרדית (ספרד)">ספרדית (ספרד)</option>
                                        <option value="פורטוגזית (אירופה)">פורטוגזית (אירופה)</option>
                                        <option value="יוונית">יוונית</option>
                                        <option value="הינדי">הינדי</option>
                                        <option value="אינדונזית">אינדונזית</option>
                                        <option value="יפנית">יפנית</option>
                                        <option value="קוריאנית">קוריאנית</option>
                                        <option value="תאית">תאית</option>
                                        <option value="וייטנאמית">וייטנאמית</option>
                                        <option value="סינית מפושטת">סינית מפושטת</option>
                                        <option value="מלאית">מלאית</option>
                                        <option value="טאגאלוג">טאגאלוג</option>
                                        <option value="ניגרית">ניגרית</option>
                                    </select>
                                </div>

                            </div>
                            <div class="plan_select">
                                <div class="col-6 text-center pl-1">
                                    <label class="mr-0">שפת יעד</label><br>
                                </div>

                                <div class="col-6 text-right pr-1">
                                    <select id="target-mobile-{{forloop.index}}" name="properties[שפת יעד]" class="form_input target" data-id="{{forloop.index}}">
                                        <option value="רוסית">רוסית</option>
                                        <option value="אנגלית">אנגלית</option>
                                        <option value="ערבית">ערבית</option>
                                        <option value="טורקית">טורקית</option>
                                        <option value="דנית">דנית</option>
                                        <option value="פינית">פינית</option>
                                        <option value="שוודית">שוודית</option>
                                        <option value="נורבגית">נורבגית</option>
                                        <option value="גרמנית">גרמנית</option>
                                        <option value="לטינית">לטינית</option>
                                        <option value="יידיש">יידיש</option>
                                        <option value="צ'כית">צ'כית</option>
                                        <option value="פולנית">פולנית</option>
                                        <option value="רומנית">רומנית</option>
                                        <option value="בולגרית">בולגרית</option>
                                        <option value="סרבית">סרבית</option>
                                        <option value="סלובקית">סלובקית</option>
                                        <option value="אוקראינית">אוקראינית</option>
                                        <option value="הונגרית">הונגרית</option>
                                        <option value="צרפתית">צרפתית</option>
                                        <option value="איטלקית">איטלקית</option>
                                        <option value="קטלאנית">קטלאנית</option>
                                        <option value="ספרדית (ספרד)">ספרדית (ספרד)</option>
                                        <option value="פורטוגזית (אירופה)">פורטוגזית (אירופה)</option>
                                        <option value="יוונית">יוונית</option>
                                        <option value="הינדי">הינדי</option>
                                        <option value="אינדונזית">אינדונזית</option>
                                        <option value="יפנית">יפנית</option>
                                        <option value="קוריאנית">קוריאנית</option>
                                        <option value="תאית">תאית</option>
                                        <option value="וייטנאמית">וייטנאמית</option>
                                        <option value="סינית מפושטת">סינית מפושטת</option>
                                        <option value="מלאית">מלאית</option>
                                        <option value="טאגאלוג">טאגאלוג</option>
                                        <option value="ניגרית">ניגרית</option>
                                    
                                    </select>
                                </div>
                            </div> 
                            <div class="plan_select">
                                <div class="col-6 text-center pl-1">
                                    <label  class="mr-0">כמות מילים </label>
                                </div>
                                <div class="col-6 text-right pr-1">
                                    <input type="number" min="100" required placeholder="...,100,101" data-toggle="tooltip" data-placement="bottom" title="מספר מינימלי של מילים 100,101,102, ..." class="form_input qty-new qty-mobile-{{forloop.index}}" name="quantity" id="quantity" data-vid='{{variant.id}}' data-nid={{forloop.index}} data-price={{variant.price}} >
                                </div>
                            </div>
                            <div class="plan_select">
                                <div class="col-6 text-center pl-1">
                                    <label class="mr-0">מחיר</label>
                                </div>

                                <div class="col-6 text-right pr-1">
                                    <input type="number" readonly id="price-mobile-{{product.variants.first.id }}" class="form_input price-{{forloop.index}} price-{{product.variants.first.id }} " placeholder="₪" min="0">
                                </div>
                            </div>
                            <div class="plan_select">
                                <div class="col-6 text-center pl-1">
                                    <label class="mr-0">מצורף</label>
                                </div>
                                <div class="col-6 text-right p-1">
                                    <div class="upload-container">                              
                                            <div class="upload-btn-wrapper  text-center">
                                                <span class="btn btn-all upl-btn" id="upload-btn-mobile-{{forloop.index}}">הוסף קבצים</span>
                                                <input type="file" data-id={{forloop.index}} id="upload-mobile-{{forloop.index}}" autocomplete="true" required name="properties[הקובץ]" class="files"  accept="image/*,.pdf"/>
                                            </div>                 
                                    </div>    
                                </div>
                            </div>
                            <div class="plan_select">
                                <small id="error-mobile-{{forloop.index}}" class="d-none"></small>
                            </div>
                        </div>
                        <div class="btn_div">
                            <button type="submit"  data-product-id="{{ variant.id }}" class="btn btn-all add-cart" data-attr ="{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}"  >לרכישה</button>
                        </div>
                        <script>
                                            var selectCallbackMobile{{forloop.index}} = function(variant, selector) {
                                                {% if product.variants.size == 1 or product.variants.first.title contains 'Default' %}
                                                $('.selector-wrapper').hide();
                                                {% endif %}
                                                var p=parseFloat(variant.price/100).toFixed(2);
                                                $('.o-price-mobile-{{forloop.index}}').html(p);
                                                var qty=$('.qty-mobile-{{forloop.index}}').val();
                                                var rs1=parseFloat(p*qty).toFixed(2);
                                                $('.price-mobile-'+{{forloop.index}}).val(rs1);
                                            };
                                            jQuery(function($) {
                                                new Shopify.OptionSelectors("product-select-mobile-{{forloop.index}}", { 
                                                product: {{ product | json }},
                                                history: true,
                                                onVariantSelected: selectCallbackMobile{{forloop.index}}
                                                });
                                            }); 
                        </script>
                        <script type="application/ld+json">
                                        {
                                            "@context": "http://schema.org/",
                                            "@type": "Product",
                                            "name": "{{ product.title | escape }}",
                                            "url": "{{ shop.url }}{{ product.url }}",
                                            {
                                            %
                                            if product.featured_image %
                                            } {
                                            % assign image_size = product.featured_image.width | append: 'x' %
                                            }
                                            "image": [
                                            "https:{{ product.featured_image.src | img_url: image_size }}"
                                            ],
                                            {
                                            % endif %
                                            }
                                            "description": "{{ product.description | strip_html | escape }}",
                                            {
                                            %
                                            if current_variant.sku != blank %
                                            }
                                            "sku": "{{ current_variant.sku }}",
                                            {
                                            % endif %
                                            }
                                            "brand": {
                                            "@type": "Thing",
                                            "name": "{{ product.vendor | escape }}"
                                            },
                                            {
                                            %
                                            if product.variants %
                                            }
                                            "offers": [{
                                            %
                                            for variant in product.variants %
                                            } {
                                            "@type": "Offer",
                                            "availability": "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                                            "price": "{{ variant.price | divided_by: 100.00 }}",
                                            "priceCurrency": "{{ shop.currency }}",
                                            "url": "{{ shop.url }}{{ variant.url }}",
                                            "itemOffered": {
                                                "@type": "Product",
                                                {
                                                %
                                                if variant.image %
                                                } {
                                                % assign variant_image_size = variant.image.width | append: 'x' %
                                                }
                                                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.title != blank %
                                                }
                                                "name": "{{ variant.title | escape }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.sku != blank %
                                                }
                                                "sku": "{{ variant.sku }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.weight != blank %
                                                }
                                                "weight": {
                                                "@type": "QuantitativeValue",
                                                {
                                                    %
                                                    if variant.weight_unit != blank %
                                                }
                                                "unitCode": "{{ variant.weight_unit }}",
                                                {
                                                    % endif %
                                                }
                                                "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                                                },
                                                {
                                                % endif %
                                                }
                                                "url": "{{ shop.url }}{{ variant.url }}"
                                            }
                                            } {
                                            % unless forloop.last %
                                            }, {
                                            % endunless %
                                            } {
                                            % endfor %
                                            }] {
                                            % endif %
                                            }
                                        }
                        </script> 
                    </form>
                </div>
            </div>
            <div class="plan_body">
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">36 שפות לבחירה</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">תרגום אנושי <br><span>(לא מכונה)</span></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">הגהה</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                         <p class="pr_title">עד 72 שעות<br><span>(עד 1500 מילים)</span></p>
                    </div>
                     {% if forloop.index == 1 %}
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    {% else %}
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                   {% endif %}
                </div>
                <div class="pr_list">
                    <div class="price_item">
                       <p class="pr_title">בקשת שינויים <br><span>(פעם אחת)</span></p>
                    </div>
                    {% if forloop.index == 1 %}
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    {% else %}
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                   {% endif %}
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">עיצוב המסמך</p>
                    </div>
                   {% if forloop.index == 1 %}
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    {% else %}
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                   {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}  
  
   </div>
</section> 
{% section 'word-writer' %}
{% section 'laguage-section' %}