{% section 'main-banner-section' %}
<section class="services-plans py-5 d-lg-block d-none">
    <div class="container">
        <div class="plan_head_row">
            <div class="plan_head">
                <div class="p_head time">
                    <!-- <h4>Time tracking</h4> -->
                </div>
                {% for product in collection.products %}
                    <div class="p_head {% if forloop.index == 1 %}   bg-info  {% elsif forloop.index == 2 %}  bg-purple {% else %} bg-danger {% endif %}">
                        {% assign current_variant = product.selected_or_first_available_variant %}
                        <form method="post"   enctype="multipart/form-data"   action="/cart/add" id="AddToCartForm-{{ product.variants.first.id }}"
                        data-cart-submit="data-cart-submit"
                        data-product-id="{{ current_variant.id }}">

                                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                <div class="title_plan">
                                    <h5>{{product.title}}</h5>
                                </div>
                                <div class="plan_price">
                                    <p><span class="mb-0 o-price-{{forloop.index}}"> {{product.price |  money_without_currency }} </span><span>₪</span></p>
                                    {% comment %} <p class="mb-0"> {% if forloop.index == 1 %} (עד 50 מילים, <br><span>כל מילה נוספת 4.90 ₪ </span>) {% elsif forloop.index == 2 %} (עד 50 מילים, <br><span>כל מילה נוספת 3.90 ₪</span>){% else %} (200 מילים,<br><span> כל מילה נוספת 2.90 ₪</span>){% endif %}</p> {% endcomment %}
                                    <p class="mb-0">(למילה)</p>
                                    <input type="hidden"  name="properties[_content]" value="" class="content"> 
                                </div>
                                <div class="row mx-1 align-items-center">
                                    <div class="play_wrapper">
                                        <a href="#"  data-toggle="modal" data-target=".open-audio-{{forloop.index}}"><img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/play_black.png?v=1585030332" class="img-fluid"></a>
                                    </div>
                                    <div class="plan_input_div_new">
                                            <select id="product-select-{{forloop.index}}" name="id" style="display:none">
                                                {% for variant in product.variants %}
                                                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                </div>
                                <div class="row mx-1">   
                                    <div class="plan_input_div_new mr-auto">   
                                            <div class="plan_select mt-0">
                                                <div class="col-6 text-center pl-1">
                                                    <label  class="mr-0">כמות מילים </label>
                                                </div>
                                                <div class="col-6 text-right pr-1">
                                                    <input type="number" min="{% if forloop.index == 3%}200{% else %}50{% endif %}" placeholder="{% if forloop.index == 3%}..200,201{% else %}...50,51{% endif %}" required data-toggle="tooltip" data-placement="bottom" title="{% if forloop.index == 3 %}  כמות מינימום של מילים למשל: 200, 201, ... {% else %} כמויות מינימום של מילים למשל: 50, 51, ... {% endif %}" class="form_input qty-new qty-{{forloop.index}}" name="quantity" id="quantity" data-vid='{{variant.id}}' data-nid={{forloop.index}} data-price={{variant.price}} >
                                                </div>
                                            </div>
                                            <div class="plan_select">
                                                <div class="col-6 text-center pl-1">
                                                    <label class="mr-0">מחיר</label>
                                                </div>
                                                <div class="col-6 text-right pr-1">
                                                    <input type="number" readonly id="price-{{product.variants.first.id }}" class="form_input price-{{forloop.index}} price-{{product.variants.first.id }} " placeholder="₪" min="0" >
                                                </div>
                                            </div>
                                            <div class="plan_select">
                                                <div class="col-6 text-center pl-1">
                                                    <label class="mr-0">מצורף</label>
                                                </div>
                                                <div class="col-6 text-right p-1">
                                                    <div class="upload-container">                              
                                                            <div class="upload-btn-wrapper  text-center">
                                                                <span class="btn btn-all upl-btn" id="upload-btn-{{forloop.index}}">הוסף קבצים</span>
                                                                <input type="file" data-id={{forloop.index}} id="upload-{{forloop.index}}" autocomplete="true" required name="properties[הקובץ]" class="files"  accept="image/*,.pdf"/>
                                                            </div>                 
                                                    </div>    
                                                </div>
                                            </div>
                                            <div class="plan_select">
                                                <small id="error-{{forloop.index}}" class="d-none"></small>
                                            </div>
                                    </div>
                                </div>
                                <div class="btn_div">
                                    <button type="submit"  data-product-id="{{ variant.id }}" class="btn btn-all add-cart" data-attr ="{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}"  >לרכישה</button>
                                </div>
                                    {% capture 'meta_data' %}
                                    {% for variant in product.variants %}
                                    {{ variant.title | json }}: {{ variant.metafields.global.audio_url | json }}
                                    {% unless forloop.last %},{% endunless %}
                                    {% endfor %}
                                    {% endcapture %}
                                <script>
                                  var metaData = { {{ meta_data }} }

                                            var selectCallback{{forloop.index}} = function(variant, selector) {
                                                {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                                $('.selector-wrapper').hide();
                                                {% endif %}
                                                var p=parseFloat(variant.price/100).toFixed(2);
                                                $('.o-price-{{forloop.index}}').html(p);
                                                var qty=$('.qty-{{forloop.index}}').val();
                                                var rs1=parseFloat(p*qty).toFixed(2);
                                                $('.price-'+{{forloop.index}}).val(rs1);
                                                var sourceUrl=metaData[variant.title];
                                                var id={{forloop.index}}
                                                setTimeout(function(){
                                                        document.getElementById("audio_player_"+id).setAttribute('src', sourceUrl);
                                                },500);
                                            };
                                            jQuery(function($) {
                                                new Shopify.OptionSelectors("product-select-{{forloop.index}}", { 
                                                product: {{ product | json }},
                                                history: true,
                                                onVariantSelected: selectCallback{{forloop.index}}
                                                });
                                            }); 
                                </script> 
                                <script type="application/ld+json">
                                        {
                                            "@context": "http://schema.org/",
                                            "@type": "Product",
                                            "name": "{{ product.title | escape }}",
                                            "url": "{{ shop.url }}{{ product.url }}",
                                            {
                                            %
                                            if product.featured_image %
                                            } {
                                            % assign image_size = product.featured_image.width | append: 'x' %
                                            }
                                            "image": [
                                            "https:{{ product.featured_image.src | img_url: image_size }}"
                                            ],
                                            {
                                            % endif %
                                            }
                                            "description": "{{ product.description | strip_html | escape }}",
                                            {
                                            %
                                            if current_variant.sku != blank %
                                            }
                                            "sku": "{{ current_variant.sku }}",
                                            {
                                            % endif %
                                            }
                                            "brand": {
                                            "@type": "Thing",
                                            "name": "{{ product.vendor | escape }}"
                                            },
                                            {
                                            %
                                            if product.variants %
                                            }
                                            "offers": [{
                                            %
                                            for variant in product.variants %
                                            } {
                                            "@type": "Offer",
                                            "availability": "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                                            "price": "{{ variant.price | divided_by: 100.00 }}",
                                            "priceCurrency": "{{ shop.currency }}",
                                            "url": "{{ shop.url }}{{ variant.url }}",
                                            "itemOffered": {
                                                "@type": "Product",
                                                {
                                                %
                                                if variant.image %
                                                } {
                                                % assign variant_image_size = variant.image.width | append: 'x' %
                                                }
                                                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.title != blank %
                                                }
                                                "name": "{{ variant.title | escape }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.sku != blank %
                                                }
                                                "sku": "{{ variant.sku }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.weight != blank %
                                                }
                                                "weight": {
                                                "@type": "QuantitativeValue",
                                                {
                                                    %
                                                    if variant.weight_unit != blank %
                                                }
                                                "unitCode": "{{ variant.weight_unit }}",
                                                {
                                                    % endif %
                                                }
                                                "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                                                },
                                                {
                                                % endif %
                                                }
                                                "url": "{{ shop.url }}{{ variant.url }}"
                                            }
                                            } {
                                            % unless forloop.last %
                                            }, {
                                            % endunless %
                                            } {
                                            % endfor %
                                            }] {
                                            % endif %
                                            }
                                        }
                                </script>
                                <div class="modal fade open-audio-{{forloop.index}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-0 p-0">
                                            <button type="button" class="close audio" data-dismiss="modal" data-id="{{block.settings.type_service}}-{{forloop.index}}" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <audio  id="audio_player_{{forloop.index}}" controls>
                                                    <source src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Hebrew_1.mp3?v=1583128453"  type="audio/mp3">
                                                </audio>                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>                    
                {% endfor %}
            </div>
            <div class="plan_body">
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">4 שפות לבחירה</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">איכות HQ (WAV)</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                     </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">בעלות על זכויות יוצרים</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">הגהה</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                         <p class="pr_title">עד 72 שעות<br><span>(עד 200 מילים)</span></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">פיצול קבצים<br><span>(עד 2 קבצים)</span> </p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-plans mobile-plans d-lg-none d-block">
    <div class="container">
    {% for product in collection.products %}
        <div class="plan_head_row plan-1">
            <div class="plan_head">
                <div class="p_head {% if forloop.index == 1 %}   bg-info   {% elsif forloop.index == 2 %}  bg-purple {% else %} bg-danger {% endif %}">
                    {% assign current_variant = product.selected_or_first_available_variant %}
                    <form method="post"    enctype="multipart/form-data"  action="/cart/add" id="AddToCartForm-mobile-{{ product.variants.first.id }}"
                        data-cart-submit="data-cart-submit"
                        data-product-id="{{ current_variant.id }}">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        <div class="title_plan">
                            <h5>{{product.title}}</h5>
                        </div>
                        <div class="plan_price">
                            <p><span class="mb-0 o-price-mobile-{{forloop.index}}"> {{product.price |  money_without_currency }} </span><span>₪</span></p>
                            {% comment %} <p class="mb-0"> {% if forloop.index == 1 %} (עד 50 מילים, <br><span>כל מילה נוספת 4.90 ₪ </span>) {% elsif forloop.index == 2 %} (עד 50 מילים, <br><span>כל מילה נוספת 3.90 ₪</span>){% else %} (200 מילים,<br><span> כל מילה נוספת 2.90 ₪</span>){% endif %}</p> {% endcomment %}
                            <p class="mb-0">(למילה)</p>
                             <input type="hidden"  name="properties[_content]" value="" class="content">
                        </div>
                        <div class="row mx-1 align-items-center">
                            <div class="play_wrapper">
                                <a href="#"  data-toggle="modal" data-target=".open-audio-mobile-{{forloop.index}}"><img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/play_black.png?v=1585030332" class="img-fluid"></a>
                            </div>
                            <div class="plan_input_div_new">  
                                    <select id="product-select-mobile-{{forloop.index}}" name="id" style="display:none">
                                        {% for variant in product.variants %}
                                        <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                        <div class="row mx-1">
                            <div class="plan_input_div_new mr-auto">        
                                    <div class="plan_select mt-0">
                                        <div class="col-6 text-center pl-1">
                                            <label  class="mr-0">כמות מילים </label>
                                        </div>
                                        <div class="col-6 text-right pr-1">
                                            <input type="number" min="{% if forloop.index == 3 %}200{% else %}50{% endif %}"  required placeholder="{% if forloop.index == 3%}..200,201{% else %}...50,51{% endif %}" data-toggle="tooltip" data-placement="bottom" title="{% if forloop.index == 3 %}  כמות מינימום של מילים למשל: 200, 201, ... {% else %} כמויות מינימום של מילים למשל: 50, 51, ... {% endif %}"  class="form_input qty-new qty-mobile-{{forloop.index}}" name="quantity" id="quantity" data-vid='{{variant.id}}' data-nid={{forloop.index}} data-price={{variant.price}} >
                                        </div>                
                                    </div>
                                    <div class="plan_select">
                                        <div class="col-6 text-center pl-1">
                                            <label class="mr-0">מחיר</label>
                                        </div>
                                        <div class="col-6 text-right pr-1">
                                            <input type="number" readonly id="price-mobile-{{product.variants.first.id }}" class="form_input price-{{forloop.index}} price-{{product.variants.first.id }} " placeholder="₪" min="0">
                                        </div>
                                    </div>
                                    <div class="plan_select">
                                        <div class="col-6 text-center pl-1">
                                            <label class="mr-0">מצורף</label>
                                        </div>
                                        <div class="col-6 text-right p-1">
                                            <div class="upload-container">                              
                                                    <div class="upload-btn-wrapper  text-center">
                                                        <span class="btn btn-all upl-btn" id="upload-btn-mobile-{{forloop.index}}">הוסף קבצים</span>
                                                        <input type="file" data-id={{forloop.index}} id="upload-mobile-{{forloop.index}}" autocomplete="true" required name="properties[הקובץ]" class="files"  accept="image/*,.pdf"/>
                                                    </div>                 
                                            </div>    
                                        </div>
                                    </div>
                                    <div class="plan_select">
                                        <small id="error-mobile-{{forloop.index}}" class="d-none"></small>
                                    </div>
                            </div>
                        </div>
                        <div class="btn_div">
                            <button type="submit"  data-product-id="{{ variant.id }}" class="btn btn-all add-cart" data-attr ="{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}"  >לרכישה</button>
                        </div>
                        {% capture 'meta_data' %}
                        {% for variant in product.variants %}
                        {{ variant.title | json }}: {{ variant.metafields.global.audio_url | json }}
                        {% unless forloop.last %},{% endunless %}
                        {% endfor %}
                        {% endcapture %}
                                <script>
                                  var metaData = { {{ meta_data }} }
                                            var selectCallbackMobile{{forloop.index}} = function(variant, selector) {
                                                {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                                $('.selector-wrapper').hide();
                                                {% endif %}
                                                var p=parseFloat(variant.price/100).toFixed(2);
                                                $('.o-price-mobile-{{forloop.index}}').html(p);
                                                var qty=$('.qty-mobile-{{forloop.index}}').val();
                                                var rs1=parseFloat(p*qty).toFixed(2);
                                                $('.price-mobile-'+{{forloop.index}}).val(rs1);
                                                var sourceUrl=metaData[variant.title];
                                                var id={{forloop.index}}
                                               setTimeout(function(){
                                                document.getElementById("audio_player_mobile_"+id).setAttribute('src', sourceUrl);
                                               },500);
                                            };
                                            jQuery(function($) {
                                                new Shopify.OptionSelectors("product-select-mobile-{{forloop.index}}", { 
                                                product: {{ product | json }},
                                                history: true,
                                                onVariantSelected: selectCallbackMobile{{forloop.index}}
                                                });
                                            }); 
                        </script>
                        <script type="application/ld+json">
                                        {
                                            "@context": "http://schema.org/",
                                            "@type": "Product",
                                            "name": "{{ product.title | escape }}",
                                            "url": "{{ shop.url }}{{ product.url }}",
                                            {
                                            %
                                            if product.featured_image %
                                            } {
                                            % assign image_size = product.featured_image.width | append: 'x' %
                                            }
                                            "image": [
                                            "https:{{ product.featured_image.src | img_url: image_size }}"
                                            ],
                                            {
                                            % endif %
                                            }
                                            "description": "{{ product.description | strip_html | escape }}",
                                            {
                                            %
                                            if current_variant.sku != blank %
                                            }
                                            "sku": "{{ current_variant.sku }}",
                                            {
                                            % endif %
                                            }
                                            "brand": {
                                            "@type": "Thing",
                                            "name": "{{ product.vendor | escape }}"
                                            },
                                            {
                                            %
                                            if product.variants %
                                            }
                                            "offers": [{
                                            %
                                            for variant in product.variants %
                                            } {
                                            "@type": "Offer",
                                            "availability": "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                                            "price": "{{ variant.price | divided_by: 100.00 }}",
                                            "priceCurrency": "{{ shop.currency }}",
                                            "url": "{{ shop.url }}{{ variant.url }}",
                                            "itemOffered": {
                                                "@type": "Product",
                                                {
                                                %
                                                if variant.image %
                                                } {
                                                % assign variant_image_size = variant.image.width | append: 'x' %
                                                }
                                                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.title != blank %
                                                }
                                                "name": "{{ variant.title | escape }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.sku != blank %
                                                }
                                                "sku": "{{ variant.sku }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.weight != blank %
                                                }
                                                "weight": {
                                                "@type": "QuantitativeValue",
                                                {
                                                    %
                                                    if variant.weight_unit != blank %
                                                }
                                                "unitCode": "{{ variant.weight_unit }}",
                                                {
                                                    % endif %
                                                }
                                                "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                                                },
                                                {
                                                % endif %
                                                }
                                                "url": "{{ shop.url }}{{ variant.url }}"
                                            }
                                            } {
                                            % unless forloop.last %
                                            }, {
                                            % endunless %
                                            } {
                                            % endfor %
                                            }] {
                                            % endif %
                                            }
                                        }
                        </script>
                        <div class="modal fade open-audio-mobile-{{forloop.index}}" tabindex="-1" role="dialog"  aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header border-0 p-0">
                                    <button type="button" class="close audio" data-dismiss="modal" data-id="{{block.settings.type_service}}-{{forloop.index}}" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <audio  id="audio_player_mobile_{{forloop.index}}" controls>
                                            <source src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Hebrew_1.mp3?v=1583128453"  type="audio/mp3">
                                        </audio>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="plan_body">
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">4 שפות לבחירה</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                          <p class="pr_title">איכות HQ (WAV)</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">בעלות על זכויות יוצרים</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                         <p class="pr_title">הגהה</p>
                    </div>
                   {% if forloop.index == 2 %}
                    <div class="price_item">   
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    {% else %}
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                   {% endif %}
                </div>
                <div class="pr_list">
                    <div class="price_item">              
                           <p class="pr_title">עד 72 שעות<br><span>(עד 200 מילים)</span></p>
                    </div>
                   {% if forloop.index == 2 %}
                    <div class="price_item">   
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    {% else %}
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                   {% endif %}
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">פיצול קבצים<br><span>(עד 2 קבצים)</span> </p>
                    </div>
                   {% if forloop.index == 2 %}
                    <div class="price_item">   
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    {% else %}
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                   {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}  
   </div>
</section> 
{% section 'contact_link' %}
{% section 'voice-over-2' %}