{% section 'main-banner-section' %}
<section class="services-plans py-5 d-lg-block d-none">
    <div class="container">
        <div class="plan_head_row">
            <div class="plan_head">
                <div class="p_head time">
                    <!-- <h4>Time tracking</h4> -->
                </div>
                {% for product in collection.products %}
                    <div class="p_head {% if forloop.index == 1 %}  bg-info  {% elsif forloop.index == 2 %}  bg-purple {% else %} bg-danger {% endif %}">
                        {% assign current_variant = product.selected_or_first_available_variant %}
                        <form method="post"  enctype="multipart/form-data"  action="/cart/add" id="AddToCartForm-{{ product.variants.first.id }}"
                        data-cart-submit="data-cart-submit"
                        data-product-id="{{ current_variant.id }}">
                        
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                <div class="title_plan">
                                    <h5>{{product.title}}</h5>
                                </div>
                                <div class="plan_price">
                                    <p><span class="mb-0 o-price-{{forloop.index}}"> {{product.price |  money_without_currency }} </span><span>₪</span></p>
                                    {% comment %} <p class="mb-0"> {% if forloop.index == 2 %} (עד 10 דפים,<br><span>על דף נוסף 2.90 ₪ </span>) {% elsif forloop.index == 1 %}(עד 10 דפים, <br><span>כל דף נוסף 3.49 ₪<span>){% endif %}</p> {% endcomment %}
                                    <p class="mb-0">(לכל עמוד)</p>
                                </div>
                                <div class="plan_input_div">
                                        <select id="product-select-{{forloop.index}}" name="id" style="display:none">
                                            {% for variant in product.variants %}
                                            <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="plan_select">
                                            <div class="col-6 text-center pl-1">
                                                <label class="mr-0">שפת מקור</label><br>
                                            </div>
                                            <div class="col-6 text-right pr-1">
                                                <select id="" name="properties[שפת מקור]" class="form_input">
                                                    <option value="אוקראינית">אוקראינית</option>
                                                    <option value="איטלקית">איטלקית</option>
                                                    <option value="אינדונזית">אינדונזית</option>
                                                    <option value="אנגלית">אנגלית</option>
                                                    <option value="בולגרית">בולגרית</option>
                                                    <option value="גרמנית">גרמנית</option>
                                                    <option value="דנית">דנית</option>
                                                    <option value="הונגרית">הונגרית</option>
                                                    <option value="הינדי">הינדי</option>
                                                    <option value="וייטנאמית">וייטנאמית</option>
                                                    <option value="טאגאלוג">טאגאלוג</option>
                                                    <option value="טורקית">טורקית</option>
                                                    <option value="יוונית">יוונית</option>
                                                    <option value="יידיש">יידיש</option>
                                                    <option value="יפנית">יפנית</option>
                                                    <option value="לטינית">לטינית</option>
                                                    <option value="מלאית">מלאית</option>
                                                    <option value="נורבגית">נורבגית</option>
                                                    <option value="ניגרית">ניגרית</option>
                                                    <option value="סינית מפושטת">סינית מפושטת</option>
                                                    <option value="סלובקית">סלובקית</option>
                                                    <option value="ספרדית">ספרדית</option>
                                                    <option value="סרבית">סרבית</option>
                                                    <option value="עברית">עברית</option>
                                                    <option value="ערבית">ערבית</option>
                                                    <option value="פולנית">פולנית</option>
                                                    <option value="פורטוגזית">פורטוגזית</option>
                                                    <option value="פינית">פינית</option>
                                                    <option value="צ'כית">צ'כית</option>
                                                    <option value="צרפתית">צרפתית</option>
                                                    <option value="קוריאנית">קוריאנית</option>
                                                    <option value="קטלאנית">קטלאנית</option>
                                                    <option value="רומנית">רומנית</option>
                                                    <option value="רוסית">רוסית</option>
                                                    <option value="שוודית">שוודית</option>
                                                    <option value="תאית">תאית</option>
                                                    <option value="אחר">אחר</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="plan_select">
                                            <div class="col-6 text-center pl-1">
                                                <label  class="mr-0">כמות דפים </label>
                                            </div>

                                            <div class="col-6 text-right pr-1">
                                                <input type="number" min="10" required placeholder="10/20/30" data-toggle="tooltip" data-placement="bottom" title="מספר מינימלי של עמודים 10/20/30 ...." class="form_input qty-new qty-{{forloop.index}}" name="quantity" id="quantity" data-vid='{{variant.id}}' data-nid={{forloop.index}} data-price={{variant.price}} >
                                            </div>
                                        </div>
                                        <div class="plan_select">
                                            <div class="col-6 text-center pl-1">
                                                <label class="mr-0">מחיר</label>
                                            </div>
                                            <div class="col-6 text-right pr-1">
                                                <input type="number" readonly id="price-{{product.variants.first.id }}" class="form_input price-{{forloop.index}} price-{{product.variants.first.id }} " placeholder="₪" min="0">
                                            </div>
                                        </div>
                                        <div class="plan_select">
                                            <div class="col-6 text-center pl-1">
                                                <label class="mr-0">מצורף</label>
                                            </div>
                                            <div class="col-6 text-right p-1">
                                                <div class="upload-container">                              
                                                        <div class="upload-btn-wrapper  text-center">
                                                            <span class="btn btn-all upl-btn" id="upload-btn-{{forloop.index}}">הוסף קבצים</span>
                                                            <input type="file" data-id={{forloop.index}} id="upload-{{forloop.index}}" autocomplete="true" required name="properties[הקובץ]" class="files"  accept="image/*,.pdf"/>
                                                        </div>                 
                                                </div>    
                                            </div>
                                        </div>
                                        <div class="plan_select">
                                            <small id="error-{{forloop.index}}" class="d-none"></small>
                                        </div>
                                </div>
                                <div class="btn_div">
                                    <button type="submit"  data-product-id="{{ variant.id }}" class="btn btn-all add-cart" data-attr ="{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}"  >לרכישה</button>
                                </div>
                                <script>
                                            var selectCallback{{forloop.index}} = function(variant, selector) {
                                                {% if product.variants.first.title contains 'Default' %}
                                                $('.selector-wrapper').hide();
                                                {% endif %}
                                                var p=parseFloat(variant.price/100).toFixed(2);
                                                $('.o-price-{{forloop.index}}').html(p);
                                                var qty=$('.qty-{{forloop.index}}').val();
                                                var rs1=parseFloat(p*qty).toFixed(2);
                                                $('.price-'+{{forloop.index}}).val(rs1);
                                            };
                                            jQuery(function($) {
                                                new Shopify.OptionSelectors("product-select-{{forloop.index}}", { 
                                                product: {{ product | json }},
                                                history: true,
                                                onVariantSelected: selectCallback{{forloop.index}}
                                                });
                                            }); 
                                </script> 
                                <script type="application/ld+json">
                                        {
                                            "@context": "http://schema.org/",
                                            "@type": "Product",
                                            "name": "{{ product.title | escape }}",
                                            "url": "{{ shop.url }}{{ product.url }}",
                                            {
                                            %
                                            if product.featured_image %
                                            } {
                                            % assign image_size = product.featured_image.width | append: 'x' %
                                            }
                                            "image": [
                                            "https:{{ product.featured_image.src | img_url: image_size }}"
                                            ],
                                            {
                                            % endif %
                                            }
                                            "description": "{{ product.description | strip_html | escape }}",
                                            {
                                            %
                                            if current_variant.sku != blank %
                                            }
                                            "sku": "{{ current_variant.sku }}",
                                            {
                                            % endif %
                                            }
                                            "brand": {
                                            "@type": "Thing",
                                            "name": "{{ product.vendor | escape }}"
                                            },
                                            {
                                            %
                                            if product.variants %
                                            }
                                            "offers": [{
                                            %
                                            for variant in product.variants %
                                            } {
                                            "@type": "Offer",
                                            "availability": "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                                            "price": "{{ variant.price | divided_by: 100.00 }}",
                                            "priceCurrency": "{{ shop.currency }}",
                                            "url": "{{ shop.url }}{{ variant.url }}",
                                            "itemOffered": {
                                                "@type": "Product",
                                                {
                                                %
                                                if variant.image %
                                                } {
                                                % assign variant_image_size = variant.image.width | append: 'x' %
                                                }
                                                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.title != blank %
                                                }
                                                "name": "{{ variant.title | escape }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.sku != blank %
                                                }
                                                "sku": "{{ variant.sku }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.weight != blank %
                                                }
                                                "weight": {
                                                "@type": "QuantitativeValue",
                                                {
                                                    %
                                                    if variant.weight_unit != blank %
                                                }
                                                "unitCode": "{{ variant.weight_unit }}",
                                                {
                                                    % endif %
                                                }
                                                "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                                                },
                                                {
                                                % endif %
                                                }
                                                "url": "{{ shop.url }}{{ variant.url }}"
                                            }
                                            } {
                                            % unless forloop.last %
                                            }, {
                                            % endunless %
                                            } {
                                            % endfor %
                                            }] {
                                            % endif %
                                            }
                                        }
                                </script>
                        </form>
                    </div>                    
                {% endfor %}
            </div>
            <div class="plan_body">
                    <div class="pr_list">
                        <div class="price_item">
                            <p class="pr_title">מעל 140 שפות</p>
                        </div>
                        <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                        </div>
                        <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                        </div>
                    
                    </div>
                    <div class="pr_list">
                        <div class="price_item">
                            <p class="pr_title"> פענוח מ-5 פורמטים<br><span>(JPG, GIF, PNG, TIF, PDF) </span></p>
                        </div>
                        <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                        </div>
                        <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                        </div>
                        
                    </div>
                    <div class="pr_list">
                        <div class="price_item">
                            <p class="pr_title">שמירה בפורמט WORD</p>
                        </div>
                        <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                        </div>
                        <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                        </div>
                    </div>
                    <div class="pr_list">
                        <div class="price_item">
                            <p class="pr_title">עד 48 שעות<br><span>(עד 10 דפים)</span>  </p>
                        </div>
                        <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                        </div>
                        <div class="price_item">
                            <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                        </div>
                    </div>
                    <div class="pr_list">
                        <div class="price_item">
                            <p class="pr_title">עיצוב המסמך</p>
                        </div>
                        <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                        </div>
                        <div class="price_item">
                            <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                        </div>
                    </div>
                    <div class="pr_list">
                        <div class="price_item">
                            <p class="pr_title">שמירה ב-7 פורמטים לבחירה<br><span>(TXT, PDF, DOC, DOCX, RTF, XLS, XLSX) </span></p>
                        </div>
                        <div class="price_item">
                            <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                        </div>
                        <div class="price_item">
                            <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
                <p class="p-2 mb-0">* רמת דיוק של עד 80%</p>
            </div>
    </div>
</section>
<section class="services-plans mobile-plans d-lg-none d-block">
    <div class="container">
    {% for product in collection.products %}
        <div class="plan_head_row plan-1">
            <div class="plan_head">
                <div class="p_head {% if forloop.index == 1 %}  bg-info   {% elsif forloop.index == 2 %} bg-purple {% else %} bg-danger {% endif %}">
                    {% assign current_variant = product.selected_or_first_available_variant %}
                    <form method="post"  enctype="multipart/form-data"  action="/cart/add" id="AddToCartForm-mobile-{{ product.variants.first.id }}"
                        data-cart-submit="data-cart-submit"
                        data-product-id="{{ current_variant.id }}">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        <div class="title_plan">
                            <h5>{{product.title}}</h5>
                        </div>
                        <div class="plan_price">
                            <p><span class="mb-0 o-price-mobile-{{forloop.index}}"> {{product.price |  money_without_currency }} </span><span>₪</span></p>
                            {% comment %} <p class="mb-0"> {% if forloop.index == 2 %} (עד 10 דפים,<br><span>על דף נוסף 2.90 ₪ </span>) {% elsif forloop.index == 1 %}(עד 10 דפים, <br><span>כל דף נוסף 3.49 ₪<span>){% endif %}</p> {% endcomment %}
                            <p class="mb-0">(לכל עמוד)</p>
                        </div>
                        <div class="plan_input_div">
                                <select id="product-select-mobile-{{forloop.index}}" name="id" style="display:none">
                                    {% for variant in product.variants %}
                                    <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                                    {% endfor %}
                                </select>
                                <div class="plan_select">
                                    <div class="col-6 text-center pl-1">
                                        <label class="mr-0">שפת מקור</label><br>
                                    </div>
                                    <div class="col-6 text-right pr-1">
                                        <select id="" name="properties[שפת מקור]" class="form_input">
                                            <option value="אוקראינית">אוקראינית</option>
                                            <option value="איטלקית">איטלקית</option>
                                            <option value="אינדונזית">אינדונזית</option>
                                            <option value="אנגלית">אנגלית</option>
                                            <option value="בולגרית">בולגרית</option>
                                            <option value="גרמנית">גרמנית</option>
                                            <option value="דנית">דנית</option>
                                            <option value="הונגרית">הונגרית</option>
                                            <option value="הינדי">הינדי</option>
                                            <option value="וייטנאמית">וייטנאמית</option>
                                            <option value="טאגאלוג">טאגאלוג</option>
                                            <option value="טורקית">טורקית</option>
                                            <option value="יוונית">יוונית</option>
                                            <option value="יידיש">יידיש</option>
                                            <option value="יפנית">יפנית</option>
                                            <option value="לטינית">לטינית</option>
                                            <option value="מלאית">מלאית</option>
                                            <option value="נורבגית">נורבגית</option>
                                            <option value="ניגרית">ניגרית</option>
                                            <option value="סינית מפושטת">סינית מפושטת</option>
                                            <option value="סלובקית">סלובקית</option>
                                            <option value="ספרדית">ספרדית</option>
                                            <option value="סרבית">סרבית</option>
                                            <option value="עברית">עברית</option>
                                            <option value="ערבית">ערבית</option>
                                            <option value="פולנית">פולנית</option>
                                            <option value="פורטוגזית">פורטוגזית</option>
                                            <option value="פינית">פינית</option>
                                            <option value="צ'כית">צ'כית</option>
                                            <option value="צרפתית">צרפתית</option>
                                            <option value="קוריאנית">קוריאנית</option>
                                            <option value="קטלאנית">קטלאנית</option>
                                            <option value="רומנית">רומנית</option>
                                            <option value="רוסית">רוסית</option>
                                            <option value="שוודית">שוודית</option>
                                            <option value="תאית">תאית</option>
                                            <option value="אחר">אחר</option>
                                        </select>
                                    </div>                                    
                                </div>
                                <div class="plan_select">
                                    <div class="col-6 text-center pl-1">
                                        <label  class="mr-0">כמות דפים </label>
                                    </div>
                                    <div class="col-6 text-right pr-1">
                                        <input type="number" required min="10" placeholder="10/20/30" data-toggle="tooltip" data-placement="bottom" title="מספר מינימלי של עמודים 10/20/30 ...." class="form_input qty-new qty-mobile-{{forloop.index}}" name="quantity" id="quantity" data-vid='{{variant.id}}' data-nid={{forloop.index}} data-price={{variant.price}} >
                                    </div>
                                </div>
                                <div class="plan_select">
                                    <div class="col-6 text-center pl-1">
                                        <label class="mr-0">מחיר</label>
                                    </div>
                                    <div class="col-6 text-right pr-1">
                                        <input type="number" readonly id="price-mobile-{{product.variants.first.id }}" class="form_input price-{{forloop.index}} price-{{product.variants.first.id }} " placeholder="₪" min="0">
                                    </div>
                                </div>
                                <div class="plan_select">
                                    <div class="col-6 text-center pl-1">
                                        <label class="mr-0">מצורף</label>
                                    </div>
                                    <div class="col-6 text-right p-1">
                                        <div class="upload-container">                              
                                                <div class="upload-btn-wrapper  text-center">
                                                    <span class="btn btn-all upl-btn" id="upload-btn-mobile-{{forloop.index}}">הוסף קבצים</span>
                                                    <input type="file" data-id={{forloop.index}} id="upload-mobile-{{forloop.index}}" autocomplete="true" required name="properties[הקובץ]" class="files"  accept="image/*,.pdf"/>
                                                </div>                 
                                        </div>    
                                    </div>
                                </div>
                                <div class="plan_select">
                                     <small id="error-mobile-{{forloop.index}}" class="d-none"></small>
                                </div>
                        </div>
                        <div class="btn_div">
                            <button type="submit"  data-product-id="{{ variant.id }}" class="btn btn-all add-cart" data-attr ="{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}"  >לרכישה</button>
                        </div>
                        <script>
                                            var selectCallbackMobile{{forloop.index}} = function(variant, selector) {
                                                {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                                $('.selector-wrapper').hide();
                                                {% endif %}
                                                var p=parseFloat(variant.price/100).toFixed(2);
                                                $('.o-price-mobile-{{forloop.index}}').html(p);
                                                var qty=$('.qty-mobile-{{forloop.index}}').val();
                                                var rs1=parseFloat(p*qty).toFixed(2);
                                                $('.price-mobile-'+{{forloop.index}}).val(rs1);
                                            };
                                            jQuery(function($) {
                                                new Shopify.OptionSelectors("product-select-mobile-{{forloop.index}}", { 
                                                product: {{ product | json }},
                                                history: true,
                                                onVariantSelected: selectCallbackMobile{{forloop.index}}
                                                });
                                            }); 
                        </script>
                        <script type="application/ld+json">
                                        {
                                            "@context": "http://schema.org/",
                                            "@type": "Product",
                                            "name": "{{ product.title | escape }}",
                                            "url": "{{ shop.url }}{{ product.url }}",
                                            {
                                            %
                                            if product.featured_image %
                                            } {
                                            % assign image_size = product.featured_image.width | append: 'x' %
                                            }
                                            "image": [
                                            "https:{{ product.featured_image.src | img_url: image_size }}"
                                            ],
                                            {
                                            % endif %
                                            }
                                            "description": "{{ product.description | strip_html | escape }}",
                                            {
                                            %
                                            if current_variant.sku != blank %
                                            }
                                            "sku": "{{ current_variant.sku }}",
                                            {
                                            % endif %
                                            }
                                            "brand": {
                                            "@type": "Thing",
                                            "name": "{{ product.vendor | escape }}"
                                            },
                                            {
                                            %
                                            if product.variants %
                                            }
                                            "offers": [{
                                            %
                                            for variant in product.variants %
                                            } {
                                            "@type": "Offer",
                                            "availability": "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                                            "price": "{{ variant.price | divided_by: 100.00 }}",
                                            "priceCurrency": "{{ shop.currency }}",
                                            "url": "{{ shop.url }}{{ variant.url }}",
                                            "itemOffered": {
                                                "@type": "Product",
                                                {
                                                %
                                                if variant.image %
                                                } {
                                                % assign variant_image_size = variant.image.width | append: 'x' %
                                                }
                                                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.title != blank %
                                                }
                                                "name": "{{ variant.title | escape }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.sku != blank %
                                                }
                                                "sku": "{{ variant.sku }}",
                                                {
                                                % endif %
                                                } {
                                                %
                                                if variant.weight != blank %
                                                }
                                                "weight": {
                                                "@type": "QuantitativeValue",
                                                {
                                                    %
                                                    if variant.weight_unit != blank %
                                                }
                                                "unitCode": "{{ variant.weight_unit }}",
                                                {
                                                    % endif %
                                                }
                                                "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                                                },
                                                {
                                                % endif %
                                                }
                                                "url": "{{ shop.url }}{{ variant.url }}"
                                            }
                                            } {
                                            % unless forloop.last %
                                            }, {
                                            % endunless %
                                            } {
                                            % endfor %
                                            }] {
                                            % endif %
                                            }
                                        }
                        </script>
                    </form>
                </div>
            </div>
            <div class="plan_body">
                <div class="pr_list">
                    <div class="price_item">
                       <p class="pr_title">מעל 140 שפות</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                         <p class="pr_title"> פענוח מ-5 פורמטים<br><span>(JPG, GIF, PNG, TIF, PDF) </span></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">שמירה בפורמט WORD</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                         <p class="pr_title">עד 48 שעות<br><span>(עד 10 דפים)</span>  </p>
                    </div>
                   {% if forloop.index == 1 %}
                    <div class="price_item">   
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    {% else %}
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                   {% endif %}
                </div>
                <div class="pr_list">
                    <div class="price_item">              
                             <p class="pr_title">עיצוב המסמך</p>
                    </div>
                   {% if forloop.index == 1 %}
                    <div class="price_item">   
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    {% else %}
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                   {% endif %}
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">שמירה ב-7 פורמטים לבחירה<br><span>(TXT, PDF, DOC, DOCX, RTF, XLS, XLSX) </span> </p>
                    </div>
                   {% if forloop.index == 1 %}
                    <div class="price_item">   
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    {% else %}
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                   {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}  
    <p class="p-2 mb-0 text-center">* רמת דיוק של עד 80%</p> 
   </div>
</section> 
{% section 'contact_link' %}