{% comment %} <a href="/" class="navbar-brand mr-7 d-none d-md-block" name="{{ shop.name | escape }}"
    title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
    {% if settings.main_svg_logo != blank %}
    <img src="{{ settings.main_svg_logo }}" class="img-fluid" alt="{{ shop.name | escape }}"
        style="width: {{ logo_width }}px" />
    {% elsif logo contains 'no-image' %}
    <span class="h5 text-primary"><i class="icon ion-pound text-primary"></i> {{ shop.name | escape }}</span>
    {% else %}
    <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid" style="width: {{ logo_width }}px">
    {% endif %}
</a> {% endcomment %}


<nav class="main-header">
    <div class="container desktop-menu">
        <div class="row align-items-center">
            <div class="col-3 pr-0 d-xl-none d-lg-none">
                <button class="toggle-btn"><i class="fa fa-bars"></i></button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="img-div">
                    <a href="{{ shop.url }}"><img class="logo-img" src="{{logo}}" alt=""></a>
                </div>
            </div>
            <div class="col-9 text-right d-xl-block d-lg-block d-none ">
                <div class="main-menu">
                    <ul class="menu-ul list-unstyled mb-0">
                        {% for link in linklists[section.settings.main_linklist].links %}
                            <li><a class="" href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        <!-- <li><a class="text-uppercase" href="#">How it Work</a></li>
                        <li><a class="text-uppercase" href="#">benefits</a></li>
                        <li><a class="text-uppercase" href="#">STORY</a></li>
                        <li><a class="text-uppercase" href="#">FAQS</a></li> -->
                        <li><a class="text-uppercase" href="/account"><i class="fa fa-user-o" aria-hidden="true"></i>
                                <!--<img src="images/user.png" alt="">--> </a></li>
                        <li><a href="/cart" data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" class="c-header__link c-header__link--cart js-cartCanvas" ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <!--<img src="images/cart.png" alt="">--></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3 text-right pl-0 d-xl-none d-lg-none">
                <div class="right-menu">
                    <ul class="ul-right-menu list-unstyled mb-0">
                        <li><a href="/account"><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
                        <li><a href="#" data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" class="c-header__link c-header__link--cart js-cartCanvas"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu">
        <div class="mobile-menu-head">
            <p class="mb-0 close-btn">&times;</p>
        </div>
        <div class="mobile-menu-div">
            <ul class="list-unstyled mb-0">
                {% for link in linklists[section.settings.main_linklist].links %}
                <li><a class="text-uppercase" href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
                <!-- <li><a class="text-uppercase" href="#">How it Work</a></li>
                <li><a class="text-uppercase" href="#">benefits</a></li>
                <li><a class="text-uppercase" href="#">STORY</a></li>
                <li><a class="text-uppercase" href="#">FAQS</a></li> -->
            </ul>
        </div>
    </div>
</nav>