.acc {
  h1 {
    font-size: 40px;
  }
  .form-control {
    background-color: transparent;
    border: 1px solid #000;
    outline: none;
    width: 100%;
    background: none;
    color: #000;
    margin-bottom: 15px;
    border-radius: 0;
    padding: 20px;
    &:focus{
      box-shadow:none;
    }
  }

  .cnl {
    background-color: transparent;
    color: #bf7e2e;
    border: 0;
  }
}

.contact-form {
  p {
    font-size: 14px;
  }
}

@media only screen and (max-width:480px) {
  .acc {
    h1 {
      font-size: 30px;
    }
  }

}