.order-history {
    .table {
        white-space: nowrap;
        tr:last-child {
            td {
                border-bottom: 1px solid #dee2e6;
            }
        }
    }
    a {
        color: $indigo !important;
    }
    .list-group-item {
        background: #FDF1DE !important;
        color: $black !important;
    }
    .list-group-item,
    a {
        &:hover {
            color: $indigo !important;
        }
    }
    .alert {
        background: #FDF1DE;
        color: $indigo !important;
    }
}