.footer {
    background: url("https://cdn.shopify.com/s/files/1/0314/4436/9544/files/footer-shape.png?v=1580382864") no-repeat;
    background-size: cover;
    
    .footer-box {
        margin-top: -150px;
        margin-left: -60px;
        width: 116%;
        @include media-breakpoint-between(md,
        xl) {
            margin-left: -45px;
            width: 113%;
        }
        @include media-breakpoint-between(xs,
        md) {
            margin-left: 0px;
            width: 100%;
            margin-top: 50px;
        }
    }
    .footer-link-div {
        .footer-ul {
            padding-right: 0px;
            list-style: none;
        }
    }
    .copyright {
        border-top: 1px solid rgba($color: $indigo, $alpha: .1);
        p {
            color: $indigo;
            font-size: 12px;
            text-align: center;
            margin-bottom: 0;
            font-weight: 600;
            padding: 10px 0;
        }
    }
}

@media only screen and (max-width: 991px) {
    .footer {
        .form-main-div {
            margin-left: 0px;
            margin-top: 20px;
        }
    }
}