.anuucement-bar {
    background: $indigo;
    padding: 10px 0;

    p {
        text-align: center;
        color: $white;
        font-size: 12px;
    }
}

.logo-div {
    right: 30px;
    top: 45px;
    z-index: 99;
    width: 100px;

    @include media-breakpoint-between(xs, sm) {
        display: none;
    }

    img {
        width: 95%;
    }
}
.logo-svg-container{
    position: fixed;
    right: 30px;
    top: 12px;
    z-index: 99;
        svg{
            width:100px;
            height: 100px;
        }
    }
   
.right-nav-bar {
    width: max-content;
    right: 30px;
    top: 30px;
    z-index: 999;

    ul {
        li {
            box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.header_nav {
    .big-nav{
        .navbar-nav{
            li{
                position: relative;
                a{
                    font-family: "Rubik";
                    color:grey;
                }
            }
        }
    }
    .dropdown-item{
        font-family: "Rubik";
        color:#233d63  !important;
        &:hover{
            background:unset !important;
        }
    }
    .dd_menu {
        background:#dee1f1 !important;
        transform: translate3d(0px, 55px, 0px) !important;
        width: max-content;
        text-align: center;
        top: 0px;
        right: -114px;
    }

    .dd_item {
        display: inline-block;
        width: auto;
        padding: 0 12px;
        font-family: "Rubik";
        color:#233d63;
        img{
            margin-bottom:10px;
        }
    }
}
.cart-icon{
    position: fixed;
    left: 30px;
    top: 28px;
    z-index: 99;
    .nav-link{
        padding-left: 25px;
        // font-size: 35px;
    img{
        height:30px;
    }
    }
    .badge-new{
        position: absolute;
        top:5px;
        left: 5px;
        background: #212529;
        color:#fff;
        padding: 0.3rem 0.4rem;
        border-radius: 50%;
        font-size: 12px;
    }
}
.nav-link {
    .c_link-after {
        &:after {
            @include headerafter();
        }
    }

    &:hover :after {
        opacity: 1;
        transform: scaleX(1);
        border-bottom: 1px solid #233d63;
    }

    &:hover {
        span {
            color: $indigo;
        }
    }
    font-size: 1rem;
    font-weight: 450;
}

.mobile-nav {
    display: none;
    .mobile-menu {
        width: 250px;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: -130%;
        z-index: 999;
        transition: 0.5s;

        .close-btn {
            font-size: 20px;
        }
    }
    .cart-icon-mobile{
        .nav-link{
            img{
                height: 40px;
            }
        }
        .badge-new{
            position: absolute;
            top:5px;
            left: 5px;
            background: #212529;
            color:#fff;
            padding: 0.3rem 0.4rem;
            border-radius: 50%;
            font-size: 12px;
        }
     
    
    }
    .logo-container-mobile{ 
        svg{
        width:100px;
        height: 100px;
        }
        }
    .toggle-btn {
        color: #000;
        font-size: 25px;
        padding: 33px 30px;

        @include media-breakpoint-between(xs, lg) {
            padding: 30px 30px;
        }
    }

    .mobile-logo {
        width: 50%;
        @include media-breakpoint-between(xs, sm) {
            width: 50%;
            padding-bottom: 10px;
        }
    }
}

@media only screen and(max-width:576px) {
    .mobile-nav {
        .mobile-logo {
            width: 80%;
        }
    }

}

@media only screen and(max-width:320px) {
    .mobile-nav {
        .mobile-logo {
            width: 100%;  
        }
        .toggle-btn{
            padding:15px;
        }
        .cart-icon-mobile{
            .nav-link{
                img{
                    height: 30px;
                }
            }
        }
    }
}
@media only screen and(max-width:767px) {
    .logo-svg-container{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
}


