@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=hebrew');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=hebrew');
@import url('https://fonts.googleapis.com/css?family=Alef:400,700|Arimo:400,700|Assistant:200,300,400,600,700|Bellefair|Cousine:400,700|Heebo:100,300,400,700,800|Suez+One|Varela+Round&subset=hebrew');

body {
    text-align: right;
}

html {
    padding-bottom: 0px !important;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: right;
    .custom_link{
        color: #233d63;
    }
    ::selection {
        background: $blue;
    }

    .title-div {
        z-index: 1;
    }

    @include media-breakpoint-between(sm,
        md) {
        h3 {
            font-size: 2.5rem;
        }
    }

    @include media-breakpoint-between(xs,
        sm) {
        h3 {
            font-size: 2rem;
        }
    }

    @include media-breakpoint-between(xs,
        sm) {

        h1,
        .h1 {
            font-size: 2rem;
        }
    }

    .btn-all {
        background: #233d63;
        border: 2px solid #233d63;
        color: #fff;
        font-weight: 600;
        border-radius: 30px;

        &:hover {
            background: none;
            color: #233d63;
        }
    }

    .outline-btn {
        background: none;
        border: 2px solid #22D4AB;
        color: #22D4AB;
        font-weight: 600;
        border-radius: 30px;

        &:hover {
            background: #22D4AB;
            color: #fff;
        }
    }

    .green-bg {
        background: #D0E7BA;
    }

    .yellow-bg {
        background: #F9E7C9;
    }

    .blue-bg {
        background: #C9E4F9;
    }

    .red-bg {
        background: #F9C9C9;
    }
    .bg-purple {
        // background: #b19cd9
        background: #D8BFD8	;
    }
    #preview-bar-iframe {
        display: none !important;
    }

    .modal-header {
        .close {
            padding: 0;
            margin: 0;
            position: absolute;
            width: 30px;
            height: 30px;
            background: $indigo;
            z-index: 999;
            opacity: 1;
            color: #fff;
            border-radius: 5px;
            right: -15px;
            top: -15px;

            &:hover {
                opacity: 1 !important;
            }
        }
    }

    .pursue-passion-section {
        .pursue-div-box {
            background: #F9E7C9;
            box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .experts-section {
        .expert-box {
            box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.15);
            width: 380px;
            height: 380px;

            .profile-img-div {
                width: 70px;
                height: 70px;
                top: 30px;
                left: 15px;
                box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.15);
                @include animation();
            }

            @include media-breakpoint-between(xs,
                sm) {
                margin-bottom: 40px !important;
                width: 280px;
                height: 280px;
            }
        }

        .review-div {
            border-left: 5px solid #ffd483;
        }
    }

    .our-partners-section {
        .title-div {
            &:after {
                @include after(5,
                    absolute,
                    -6%,
                    calc(50% - 0px),
                    180px);
                z-index: -1;
            }
        }
    }

    .typical-section {
        .main-typical-div {
            box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.25);
            background: rgba(255, 212, 131, 0.45);
        }
    }

    .portfolio-slider-section {
        .slider-bg-div {
            height: 650px;

            @include media-breakpoint-between(sm,
                md) {
                height: 515px;
            }

            @include media-breakpoint-between(xs,
                sm) {
                height: 335px;
            }

            h1 {

                @include media-breakpoint-between(sm,
                    md) {
                    font-size: 3.5rem;
                }
            }
        }

        .portfolio-banner-slider {
            .slick-prev {
                left: 50px;
                z-index: 99;

                @include media-breakpoint-between(sm,
                    md) {
                    left: 20px;
                    top: 40%;
                }
            }

            .slick-next {
                right: 50px;

                @include media-breakpoint-between(sm,
                    md) {
                    right: 20px;
                    top: 40%;
                }
            }
        }
    }

    .work-section {
        .case-study-box {
            img {
                box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.25);
                width: 95%;
            }
        }
    }

    .our-clients-section {
        .client-box {
            img {
                width: 80%;
            }
        }
    }

    .web-section {
        .disc-div-img-right {
            width: 300px;
            z-index: 1;
        }

        .disc-div-img-left {
            width: 300px;
            z-index: 1;
        }

        .text-1-div {
            top: 5%;
            left: -30px;
        }

        .text-3-div {
            top: 50%;
            left: -30px;
        }

        .text-2-div {
            top: 27%;
            right: -30px;
        }

        .text-4-div {
            top: 73%;
            right: -30px;
        }

        .main-img {
            img {
                box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.25);
                z-index: 2;
            }
        }
    }

    .mobile-ready-section {
        .mobile-bg {
            // background: url(images/mobile-slider.png) #f7f7f7 no-repeat;
            background-position: center;
        }

        .nav-link {
            &:hover {
                color: #000 !important;
            }
        }
    }

    .work-section-main {
        .nav-link {
            &:hover {
                color: #000 !important;
            }
        }

        .work-box-main {
            img {
                box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .blog-section {
        .link-d {
            display: block;

            &:hover {
                color: #000 !important;
            }
        }

        .category-ul {
            li {
                &:not(:last-child) {
                    border-bottom: 1px dashed #4e4e4e38;
                }
            }
        }

        .widget-tags {
            li {
                display: inline-block;

                a {
                    display: block;
                    border: 1px dashed #4e4e4e38;

                    &:hover {
                        background: $info;
                        border-color: $info;
                        color: $black;
                    }
                }
            }
        }
    }

    .estimate-check {

        .type-2,
        .type-3,
        .type-4,
        .type-5 {
            display: none;
        }

        .checkbox-inputs {
            cursor: pointer;

            input {
                &:checked~label span {
                    border-color: #ffd483 !important;
                    color: #000000 !important;
                    background: #ffd483;
                }
            }
        }
    }
}