.slider-section {
    h1 {
        position: relative;
        width: auto;

        @include media-breakpoint-between(md, lg) {
            font-size: 3.5rem;
        }

        @include type-cursor;
    }

    @include media-breakpoint-between(xs, md) {
        .display-3 {
            font-size: 1.2rem;
        }
    }

    .down-arrow {
        font-size: 1.875rem !important;
    }

    .slider-img {
        position: absolute;
        width: 42%;
        left: 15px;
        top: -40px;
        @include animation;

        @include media-breakpoint-between(sm, lg) {
            width: 50%;
        }

        @include media-breakpoint-between(xs, sm) {
            // width: 93%;
            // margin-bottom: 30px;
            position: relative;
            max-width: 100%;
            width: 90%;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            margin: auto;
        }
    }
    .content-slider{
        font-family: "Rubik";
        color:#233d63  !important;
        font-weight: 350;
    }
    .about-slider-img {
        width: 36%;
        left: 35px;
        @include animation;

        @include media-breakpoint-between(sm, lg) {
            width: 36%;
            left: 65px;
        }

        @include media-breakpoint-between(xs, sm) {
            // width: 93%;
            // margin-bottom: 30px;
            position: relative !important;
            max-width: 100%;
            width: 90%;
            left: 0px;
            margin: auto;
        }
    }

    .services-slider-img {
        width: 48%;
        left: 35px;
        @include animation;

        @include media-breakpoint-between(md, lg) {
            width: 45%;
            left: 65px;
        }

        @include media-breakpoint-between(sm, md) {
            width: 45%;
            left: 7px;
            top: 25px;
        }

        @include media-breakpoint-between(xs, sm) {
            // width: 93%;
            // margin-bottom: 30px;
            position: relative !important;
            max-width: 100%;
            width: 90%;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            margin: auto;
        }
    }

    .pt-15 {
        padding-top: 10.5rem;

        @include media-breakpoint-between(md, lg) {
            padding-top: 12.5rem;
        }

        @include media-breakpoint-between(sm, md) {
            padding-top: 8.5rem;
        }

        @include media-breakpoint-between(xs, sm) {
            padding-top: 2rem;
        }
    }

    .input-div {
        box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.25);
    }
}

.banner-who-we {
    .text-head {
        font-size: 35px;
        font-weight: 300;
    }
    p{
        
    overflow-wrap: break-word;
    }
}
@media only screen and (max-width: 450px) {

    .slider-section {
        .btn-all,.outline-btn{
            display: block;
            margin-bottom: 20px;
        }
    }

}