.brand-section {
    position: relative;
    .bg-image-brand {
        position: absolute;
        top: 5%;
        left: 0%;
    }
    .brand-row {
        margin-top: -50px !important;
    }
    .brand-box {
        background: $white;
        box-shadow: 0px 28px 40px 0px rgba(0, 0, 0, 0.15);
        border-radius: 0px 70px 0px 70px;
        overflow: hidden;
        padding: 15px;
        text-align: center;
        width: 100%;
        height: 220px;
        display: inline-flex;
        align-items: center;
        .pc-mac {
            width: 65%;
            margin: auto;
        }
    }
    .child-2 {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .brand-section {
        .brand-box {
            height: 180px;
            .pc-mac {
                width: 50%;
            }
        }
        .child-2 {
            margin-top: 0px !important;
            .pc-mac {
                width: 70%;
            }
        }
        .brand-row {
            margin-top: 20px !important;
        }
    }
}

@media only screen and (max-width: 576px) {
    .brand-section {
        .brand-box {
            height: 230px;
            .pc-mac {
                width: 28%;
            }
        }
        .child-2 {
            margin-top: 0px !important;
            .pc-mac {
                width: 50%;
            }
        }
        .brand-row {
            margin-top: 20px !important;
        }
    }
}

@media only screen and (max-width: 425px) {
    .brand-section {
        .brand-box {
            height: 200px;
            .pc-mac {
                width: 34%;
            }
        }
        .child-2 {
            .pc-mac {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .brand-section {
        .brand-box {
            .pc-mac {
                width: 50%;
            }
        }
        .child-2 {
            .pc-mac {
                width: 80%;
            }
        }
    }
}