.build-business-section {
      background: url("https://cdn.shopify.com/s/files/1/0314/4436/9544/files/business-bg_891e21a8-b6b7-4f22-8ab5-73eb036de719.png?v=1584100007")  no-repeat;
      background-size: 100%;
      position: relative;
      .bg-image-build{
        animation: none;
        position: absolute;
        right:-5%;
        top:5%;
        z-index:-1;
      }
      img {
        @include animation;
        @include media-breakpoint-between(md,
        lg) {
          width:90%;
        } 
        @include media-breakpoint-between(sm,
        md) {
          width:70%;
        }
        @include media-breakpoint-between(xs,
        sm) {
          width:90%;
        }
      }
      .nav-tabs{
          .nav-item{
              .nav-link{
              
                  border:2px solid $indigo;
                  border-radius:30px;
                  color:$indigo;
                  font-weight:500;
                  font-size:25px;
                  width:140px;
                  text-align: center;
                  margin-right:10px;
                  margin-bottom:20px;
              }
              .active{
                color:$white;
                background: $indigo;
              }
          }
      }
      .text-main-div{
          padding-right:40px;
          .media{
              font-family: "Rubik";
              font-weight: 300;
              line-height: 1.2;
              color: #233d63;
              font-size: 25px;
              margin-right: -25px;
              position: relative;
              .marker-div{
                font-family: "Rubik";
                background: #233d63;
                color: #fff;
                border-radius: 50%;
                text-align: center;
                line-height: 26px;
                font-weight: 600;
                font-size: 16px;
                padding: 0px 7px;
                margin-top:auto;
                width: 25px;
                height: 25px;
                }
              span{
                  font-size:12px;
                  margin-top:-4px;
                  display: block;
              }
          }
         
      }
      .btn-div{
        .outline-btn{
          width: 130px;
          padding: 0.5rem 1rem;
        }
      }
      .title-div {
        // &:after {
        //   @include after(1, absolute, 40%, calc(50% - 48px), 226px);
        //   @include media-breakpoint-between(md, lg) {
        //     @include after(1, absolute, 40%, calc(50% - 0px), 226px);
        //   }
        //   @include media-breakpoint-between(xs, md) {
        //     @include after(1, absolute, 40%, calc(50% - 0px), 160px);
        //   }
        // }
        p {
          @include media-breakpoint-between(xs, sm) {
            width: 100% !important;
          }
        }
      }
      // .left_animate{
      //   animation: leftanimate 1.5s;
      // }
      // .right_animate{
      //   animation: rightanimate 1.5s;
      // }
      
      // @keyframes leftanimate {
      //   from {    transform: translateX(-100px);}
      //   to {    transform: translateX(0);}
      // }
      // @keyframes rightanimate {
      //   from {    transform: translateX(100px);}
      //   to {    transform: translateX(0);}
      // }
      // .process-title-1 {
      //   .title-div::after {
      //     @include after(1, absolute, 3%, calc(50% - 45px), 160px);
      //   }
      // }
      // .process-title-2 {
      //   .title-div::after {
      //     @include after(2, absolute, 3%, calc(50% - 45px), 160px);
      //   }
      // }
      // .process-title-3 {
      //   .title-div::after {
      //     @include after(3, absolute, 3%, calc(50% - 45px), 160px);
      //   }
      // }
      // .process-title-4 {
      //   .title-div::after {
      //     @include after(4, absolute, 3%, calc(50% - 45px), 160px);
      //   }
      // }
      .process-follow-img {
        img {

          @include media-breakpoint-between(sm, md) {
            width: 70%;
          }
        }
      }
    }
    @media only screen and (max-width: 768px) {
    .build-business-section {
      .nav-tabs{
        .nav-item{
            .nav-link{ 
                font-size:20px;
                width:130px;
              }
        }
      }
      .custom_pad{
        padding-right:20px!important;
      }
    }
  }

  @media only screen and (max-width: 567px) {
    .build-business-section {

      .text-main-div{
        white-space: normal !important;
        .inner-btn{
            display:  block !important;
            .outline-btn{
              padding: 0.4rem 1rem;              
            }
        }
      }
    }
  }
  