.contact_us{
    img{
    max-width: 100%;  
    @include animation;
    }
    .form-main-div {
        // background: #F9E7C9;
        background: #fdf7e7;
        // box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.25);
        // .file_upload_img{
        //     animation: none;
        //     width: 70px;
        // }
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
          }
          
          .upl-btn {          
            padding: 0.4rem 1.5rem;
            border-radius: 30px;
            font-size: 1rem;
            font-weight: bold;
            width:100px;
          }
          
          .upload-btn-wrapper input[type=file] {
            position: absolute;
            left: 0;
            width: 100px;
            top: 0;
            right: 0;
            opacity: 0;
            bottom: 0;
        
          }
        .outline-btn{
            padding: 0.4rem 1.5rem;
            width:100px;
        }
        // background: $indigo;
        @include after-hover($color: $white, $height: 4);
        @include media-breakpoint-between(md,
        lg) {
        }
        @include media-breakpoint-between(xs,
        md) {
            margin-left: 0px;
            width: 100%;
        }
    }
    .featured_image{
        width:100%;
        @include media-breakpoint-between(xs,
        lg) {
            margin-left: 0px;
            width: 90%;
        }
    }
}
@media only screen and (max-width: 420px) {
    .contact_us{
        .btn-div{
            width:100%;
            max-width: 100%;
            flex: 0 0 100%;
            .upload-btn-wrapper,
            .btn{
                width: 100%;
                margin-left:auto !important;
                margin-right: auto !important; 
            }
        }

    }


}