.free-shiping-section {
    position: relative;
    overflow: hidden;
    .section-bg-img {
        position: absolute;
        top: -165px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        filter: blur(1px);
        z-index: -1;
    }
    .free-shipping-content {
        position: relative;
        padding: 20px;
        color: black;
        text-align: center;
        z-index: 99;
        background: rgba($indigo, .8);
        .content {
            padding: 15px;
            color: $white;
            border: 1px solid $white;
            h3 {
                color: $white;
            }
            h5 {
                width: max-content;
                padding: 10px;
                margin: 15px auto;
                color: $white;
            }
            a {
                display: block;
                width: 50%;
                margin: auto;
            }
            .button-all {
                background: #252932;
                color: white;
                border: none;
                &:hover {
                    background: $white;
                    color: #252932;
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .free-shiping-section {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
}