.expert-video-section {
    .ti-tag {
      margin-bottom: -30px !important;
      p {
        font-size: 8.687rem !important;
        @include media-breakpoint-between(md, lg) {
          font-size: 6.687rem !important;
        }
        @include media-breakpoint-between(sm, md) {
          font-size: 4.687rem !important;
          margin-bottom: -15px !important;
        }
        @include media-breakpoint-between(xs, sm) {
          font-size: 2.5rem !important;
          margin-bottom: 0px !important;
        }
      }
    }
    .video-box{
        img{
            width:100%;
        }
    }
  }