.literally-section {
    .litt-box {
        margin-bottom: 30px;
        .litt-icon-box {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: #f0847b;
            padding: 10px;
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
            position: relative;
            img {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                width: 115px;
            }
        }
    }
}