.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Preloader_8.gif?v=1584418563) center no-repeat #fff;
}