    .news_letter {
        margin-top: -55px;
        margin-bottom: -63px;
        color: #b7bcc8;
        h5 {
            color: $indigo;
        }
        .bg-orange {
            border-radius: 10px;
            background-color: #1B1E24 !important;
        }
        input {
            border-radius: 20px !important;
            width: 100%;
            padding: 8px 10px;
            background-color: white;
            color: black;
            border: 1px solid rgba(white, 0.8);
            &:focus {
                background: white;
                border: 1px solid rgba(white, 0.4);
                box-shadow: none;
            }
        }
        button {
            border-radius: 20px !important;
            padding: 0px 22px;
            margin-left: -92px;
            border: 1px solid $indigo;
            background-color: $indigo;
            color: white;
            position: relative;
            z-index: 99 !important;
            &:hover {
                background-color: #252932;
                border: 1px solid #252932;
                color: $indigo !important;
            }
            &:focus {
                background-color: #252932;
                border: 1px solid #252932;
                color: $indigo !important;
                box-shadow: none;
            }
        }
    }
    
    @media only screen and (max-width: 375px) {
        .news_letter {
            .input-group {
                display: block !important;
                input {
                    width: 100%;
                }
                .input-group-append {
                    display: block;
                    button {
                        margin: auto;
                        margin-top: 20px;
                    }
                }
            }
        }
    }