.nubmers-section {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(34, 212, 171, .1) 120%
    );
    .main-row-number {
      // box-shadow: 0px 28px 40px 0px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      .title-div {
        h3 {
          z-index: 2;
        }
        // &:after {
        //   @include after(3, absolute, -30%, calc(50% - 0px), 226px);
        //   z-index: 1;
        // }
      }
    }
  }