.product-section {
    .product-img {
        position: relative;
        overflow: hidden;
        margin: auto;
        cursor: pointer;
        &::before {
            content: "";
            position: relative;
            padding-bottom: 100%;
            display: block;
        }
        &:hover {
            .product-list {
                opacity: 1;
            }
        }
    }
    .product-list {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 9;
        opacity: 0;
        &::before {
            content: "";
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 0;
            right: 0;
            width: 90%;
            border-top: 1px solid white;
            margin: auto;
            border-bottom: 1px solid white;
            display: block;
            transform: scale(0, 1);
        }
        &::after {
            content: "";
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            width: 80%;
            border-left: 1px solid white;
            margin: auto;
            border-right: 1px solid white;
            display: block;
            transform: scale(1, 0);
        }
        &:hover {
            &::before,
            &::after {
                transition: all 1s ease 0s;
                transform: scale(1);
            }
        }
    }
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        margin: auto;
        object-position: center;
        max-width: 100%;
    }
}