.service-section{
    // .service-main-box{
    //     display: inline-flex;
    //     width:100%;
    // }
   
    .service-box{
        padding:15px;
        box-shadow: 0px 17px 40px 0px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        border-radius:10px;
        min-height:368px;
    }
    .four-in-row{
        .service-box{
            min-height:482px;
        }
    }
}