.slider_section {
    .slider_div {
        .slick-prev:before {
            content: "<";
        }
        .slick-next:before {
            content: ">";
        }
        .slick-prev,
        .slick-next {
            &:before {
                font-size: 27px;
                color: black !important;
                position: absolute;
                top: -9px;
                left: 2PX;
            }
        }
        img {
            width: 180px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .slider_div {
        img {
            width: 120px;
        }
    }
}