.support-section {
    margin-top: -30px;
    .support-ul {
        list-style: none;
        margin-bottom: 0;
        background: $white;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba($black, 0.1);
        li {
            display: inline-block;
            text-align: center;
            padding: 20px;
            width: calc( 100% / 4 - 4px);
            border-right: 1px solid rgba($indigo, 0.5);
            &:last-child {
                border-right: none;
            }
            .support-icon {
                width: 65px;
                height: 65px;
                border: 2px dotted $indigo;
                border-radius: 50%;
                text-align: center;
                line-height: 65px;
                margin: auto;
                i {
                    color: $indigo;
                    font-size: 25px;
                }
            }
            .support-text {
                p {
                    font-weight: 600;
                    font-size: 17px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .support-section {
        .support-ul {
            li {
                width: calc( 100% / 2 - 4px);
                border-right: 0px;
                &:nth-child(odd) {
                    border-right: 1px solid rgba($indigo, 0.5);
                }
                &:first-child {
                    border-bottom: 1px solid rgba($indigo, 0.5);
                }
                &:nth-child(2) {
                    border-bottom: 1px solid rgba($indigo, 0.5);
                    margin-left: -3px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .support-section {
        .support-ul {
            li {
                width: calc( 100% / 1 - 4px);
                border: 0px;
                border-right: none !important;
                border-bottom: 1px solid rgba($indigo, 0.5);
                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}