.technology-section {
    .bg-purple{
        // background: #a55fc1;
        // background: #b19cd9;
    background: #D8BFD8	;
    }
    .title-div {
        margin-bottom: 160px;
        @include media-breakpoint-between(xs, md) {
            margin-bottom: 0px;
        }
    }
    .img-bg-div {
        top: 17%;
        left: 0px;
        text-align: left;
        img {
            width: 80%;
            opacity: .7;
        }
    }
    .img-bg-div-2 {
        bottom: 8%;
        right: 0px;
        text-align: right;
        z-index: -1;
        img {
            width: 80%;
            opacity: .7;
        }
    }
    .title-div {
        // &:after {
        //   @include after(2, absolute, 40%, calc(50% - 0px), 226px);
        // }
    }
    .top-div {
        margin-top: -199px;
        @include media-breakpoint-between(xs, md) {
            margin-top: 0px;
        }
    }
    .bottom-div {
        margin-top: -180px;
        @include media-breakpoint-between(xs, md) {
            margin-top: 0px;
        }
    }
    .tech-main {
        width: calc(100% / 4);
        transition: 1s;
        @include min-title();
        @include media-breakpoint-between(sm, md) {
            width: calc(100% / 3);
        }
        @include media-breakpoint-between(xs, sm) {
            width: calc(100% / 2);
        }
        .technology-box {
            box-shadow: 0px 17px 40px 0px rgba(0, 0, 0, 0.12);
            overflow: hidden;
            min-height: 385px;
            .min-title-div {
                top: 0px;
                left: 15px;
                transition: 1s;
            }
            .content-div {
                P {
                    &:nth-child(2) {
                        color: $indigo;
                        font-weight: 550;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .technology-section {
        .tech-main {
            width: 100%;
        }
    }
}