.testimonials {
    .testimonial {
        color: #fff;
        position: relative;
        background: #252932;
        padding:15px 30px;
        margin: 0 0 20px 20px;
        border-radius: 50px 0px 50px 0px;
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: -20px;
            background: #252932;
            border: 10px solid transparent;
            border-bottom-color: #fff;
            border-left-color: #fff;
        }
    }
    .media{
        .media-left{
            img{
                border:2px solid $indigo;
            }
        }
    }
    .overview {
        b {
            color: $indigo;
            text-transform: uppercase;
        }
    }
    .img-wrapper {
        position: relative;
        overflow: hidden;
        margin: auto;
        &:before {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}