.work-together {
    .together-box {
        border-radius: 10px;
        background: $white;
        -webkit-box-shadow: 0 30px 50px 0 rgba(64, 24, 47, .08);
        box-shadow: 0 30px 50px 0 rgba(64, 24, 47, .08);
        text-align: center;
        background-size: 100%;
        padding: 40px 35px;
        position: relative;
        overflow: hidden;
        margin-top: 30px;
        margin-bottom: 30px;
        .bg-img {
            position: absolute;
            width: 100%;
            z-index: 1;
            opacity: .1;
            left: 0;
            top: 0;
            animation: focus infinite 6s;
        }
        .head-div {
            position: relative;
            z-index: 2;
            h5 {
                background: #CDD3DD;
                padding: 8px;
                border-radius: 15px;
            }
        }
        .content-div {
            position: relative;
            z-index: 2;
        }
    }
    .btn-div {
        width: 50px;
        height: 50px;
        background: #F9E7C9;
        box-shadow: 0 30px 50px 0 rgba(64, 24, 47, .08);
        border-radius: 50%;
        text-align: center;
        position: absolute;
        bottom: 5px;
        left: 44%;
        a {
            display: block;
            color: $indigo;
            font-weight: 800;
            line-height: 47px;
            font-size: 30px;
            padding-left: 4px;
        }
        &:hover {
            background: $indigo;
            a {
                color: $white;
            }
        }
    }
}

@keyframes focus {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 768px) {
    .work-together {
        .together-box {
            .head-div {
                h5 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}