.breadcrumbs {
    margin: 0 0 2em;
}

.breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__item:not(:last-child):after {
    content: '/';
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 6px;
}

.breadcrumbs__link {
    text-decoration: underline;
}

.breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
}

.breadcrumbs__link[aria-current="page"]:hover,
.breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
}