.conversion-2-section{
    .conver-item-ul{
        div{
            .item_box{
                text-align: center;
                margin-bottom:40px;
                .item_img_box{
                    position: relative;
                    margin-bottom:20px;
                    padding:0px 15px;
                    &::before{
                        content: "";
                        width:100%;
                        padding-bottom:100%;
                        display: block;
                    }
                    img{
                        position: absolute;
                        top:0;
                        left:0;
                        right:0;
                        bottom:0;
                        margin:auto;
                        width:auto;
                        max-height: 100%;
                        max-width:85%;
                    }
                }
            }
        }
    }
    .convertion-note-div{
        p{
            margin-bottom:5px !important;
        }
        a{
            &:hover{
                text-decoration:none;
            }
        }
    }
}