.laguage-section{
    .main-box{
        display: flex;
        align-items: center;
        box-shadow: 0 0 3px rgba(0,0,0,.15);
        border-radius: 10px;
        padding:15px;
        margin-bottom:30px;
        transition: .5s;
        cursor: pointer;
        .icon-box{
            margin-left:20px;
            width:50px;
            img{
                width:100%;
                box-shadow: 0px 0px 1px rgba(0,0,0,.5);
            }
        }
        p{
            span{
                font-size: 12px;
                margin-right:5px;
            }
        }
        &:hover{
            transform: scale(1.05);
        }
    }
    .laguage-note-div{
       
        a{
            
            &:hover{
                text-decoration:none;
            }
        }
    }
}