.mobile-plans{
    .plan-1{
        margin:auto;
        margin-bottom:80px;
        margin-top: 40px;
        
        @media only screen and (min-width: 768px) and (max-width:992px){
            width:60%;
        }
        
    }
    .plan-2{
        margin:auto;
        margin-bottom:80px;
        @media only screen and (min-width: 768px) and (max-width:992px){
            width:60%;
            
        }
    }
    .plan-3{
        margin:auto;
        @media only screen and (min-width: 768px) and (max-width:992px){
            width:60%;
        }
    }
}