.our-wrok-section{
    .nav-tabs{
        .nav-item{
            .nav-link{
                background:#F9E7C9;
                margin:0px 10px;
                border-radius:30px;
                padding:8px 20px;
                color:$indigo;
                &:hover{
                    background:$indigo;
                    color:$white;
                }
            }
            .active{
                background:$indigo;
                color:$white;
            }
        }
    }
    .tab-content{
        h4{
            font-size:25px;
            margin-bottom:30px;
        }
        .main-box{
            display: flex;
            align-items: center;
            box-shadow: 0 0 3px rgba(0,0,0,.15);
            border-radius: 10px;
            padding:15px;
            margin-bottom:30px;
            transition: .5s;
            cursor: pointer;
            
            .icon-box{
                margin-left:20px;
                width:40px;
                height:40px;
                border-radius:50%;
                display:block;
                background: rgba($color: $indigo, $alpha: 0.10);
                text-align: center;
                line-height:40px;
                font-size:20px;
                color:$indigo;
            }
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .modal-body{
        padding-bottom:10px;
        background: rgba($color: $indigo, $alpha: 0.2);
        audio{
            width:90%;
        }
    }
}