.services-plans{
    .plan_head_row{
        box-shadow: 0px 4px 5px 0px rgba(12, 0, 46, 0.05);
        .bg-purple{
            // background: #acace6;
            // background: #bfc0ee;
            // background: #D8BFD8	;
            background: #dfe4f7;
        }
        .bg-danger{
            background:#f6eff6!important; 
        }
        .bg-info{
            background-color: #fdf7e7 !important;
            // background-color: #FFFF8A !important;
        }
        .plan_head{
            display: table;
            width: 100%;
            .p_head{
                width: calc(100% / 4);
                text-align: center;
                color: $indigo;
                vertical-align: middle;
                display: table-cell;
                padding: 25px 0px;
                .title_plan{
                    background:$body-bg;
                    padding:8px 15px;
                    width: calc( 100% - 30px );
                    margin: auto;
                    border-radius:10px;
                    margin-bottom:20px;
                    margin-top:-50px;
                    box-shadow: 0px 4px 5px 0px rgba(12, 0, 46, 0.05);
                    h5{
                        margin-bottom:0;
                    }
                    .m_font_size{
                        @include media-breakpoint-between(lg, xl) {
                            font-size: 15px;
                        }
    
                    }
                }
                .plan_price{
                    p{
                        line-height:18px;
                        color:#233d67;
                    }
                }
                .plan_input_div{
                    .form_input,.single-option-selector{
                        border:none;
                        color:$indigo;
                        padding:5px 10px;
                        border-radius:5px;
                        background:#fff;
                        width:100%;
                        font-size:15px;
                        height:33px;
                        text-align: center;
                        outline:none;
                        &::placeholder{
                            color:rgba($color: $indigo, $alpha: 0.3);
                        }
                    }
                    .selector-wrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        direction: rtl;
                        margin: 15px 0;
                        padding:0px 15px;
                    label{
                        margin-left: 7px;
                        margin-bottom:0;
                        text-align: center;
                        width:50%;
                    }
                    select{
                      margin-right: 7px;               
                      width:50%; 
                    }
                }
                    .plan_select{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 15px 0;
                        label{
                            margin-right:12px;
                            margin-bottom:0;
                        }
                        .upload-container{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            .upload-btn-wrapper {
                                position: relative;
                                overflow: hidden;
                              }                      
                              .upl-btn {          
                                padding: 0.4rem 1rem;
                                border-radius: 30px;
                                font-size: 0.8rem;
                                font-weight: bold;
                                @include media-breakpoint-between(lg, xl) {
                                    padding: 0.4rem 0.8rem;
                                }                                
                              }
                              .upload-btn-wrapper input[type=file] {
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                opacity: 0;
                                bottom: 0;
                                overflow: hidden;
                                max-width: 120px;

                            }
                        }
                      
                    }
                    
                }
                .play_wrapper{
                    width:10%;
                    img{
                        height: 25px;
                        width: 25px;
                    }

                }
                .plan_input_div_new{
                    width:90%;
                    .form_input,.single-option-selector{
                        border:none;
                        color:$indigo;
                        padding:5px 10px;
                        border-radius:5px;
                        background:#fff;
                        width:100%;
                        font-size:15px;
                        height:33px;
                        text-align: center;
                        outline:none;
                        &::placeholder{
                            color:rgba($color: $indigo, $alpha: 0.3);
                        }
                    }
                    .selector-wrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        direction: rtl;
                        margin: 15px 0;
                        padding:0px 15px;
                    label{
                        margin-right: 7px;
                        margin-bottom:0;
                        text-align: center;
                        width:50%;
                    }
                    select{
                      margin-right: 7px;               
                      width:50%; 
                    }
                }
                    .plan_select{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 15px 0;
                        label{
                            margin-right:12px;
                            margin-bottom:0;
                        }
                        select{
                            direction: ltr;
                        }
                        .upload-container{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            .upload-btn-wrapper {
                                position: relative;
                                overflow: hidden;
                              }                      
                              .upl-btn {          
                                padding: 0.4rem 1rem;
                                border-radius: 30px;
                                font-size: 0.8rem;
                                font-weight: bold;
                                @include media-breakpoint-between(lg, xl) {
                                    padding: 0.4rem 0.7rem;
                                }                                
                            }
                              .upload-btn-wrapper input[type=file] {
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                opacity: 0;
                                bottom: 0;
                                overflow: hidden;
                                max-width: 120px;
                            }
                        }
                    }
                    
                }
                .btn_div{
                    margin-top:15px;
                    .btn-all{
                        color:#fff !important;
                        cursor: pointer;
                        padding:8px 20px;
                        &:hover{
                            background:$indigo;
                            color:#fff;
                        }
                    }
                }
            }
        }
        .plan_body{
            .pr_list{
                display: table;
                width: 100%;
                .price_item{
                    width: calc(100% / 4);
                    text-align: center;
                    vertical-align: middle;
                    display: table-cell;
                    cursor: pointer;
                    padding: 15px 0px;
                    border-bottom:1px solid #233d630a;
                    p{
                        margin-bottom:0;
                    }
                    .check{
                        color:green;
                    }
                    .cross{
                        color:red;
                    }
                    .pr_title{
                        color:$indigo;
                        span{
                            font-size:12px;
                            display: block;
                            margin-top: -5px;
                        }
                    }
                    &:first-child {
                        text-align: right;
                        padding-right: 30px;
                    }
                    &:nth-child(odd) {
                        background: #fff;
                    }
                }
            }
        }
    }
}





@media  (max-width: 1200px) and (min-width:991px) {

    .services-plans{
        .plan_head_row{
            .plan_head{
                .p_head{
                    .plan_input_div_new{
                        width:100%;

                    }
                    .play_wrapper{
                    width:100%;
                    margin: auto;
                    text-align: center;
                    padding:10px 0px;
                    img{
                        height:30px;
                        width:30px;
                    }
                    }

                }
            }

        }
    }
}
@media   only screen and (max-width:320px) {

    .services-plans{
        .plan_head_row{
            .plan_head{
                .p_head{
                    .plan_input_div_new{
                        width:100%;

                    }
                    .play_wrapper{
                    width:100%;
                    margin: auto;
                    text-align: center;
                    padding:10px 0px;
                    img{
                        height:30px;
                        width:30px;
                    }
                    }

                }
            }

        }
    }
}