.main-banner-section {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(34, 212, 171, 0.1) 120%);
    position: relative;
    h1{
        font-size: 3rem;
    }
    .main-banner-img {
        position: absolute;
        left: 0;
        bottom: -28px;
        width: 100%;
        top: 0px;
    }
    .content_image{
        @include animation();
    }
}

@media only screen and (max-width: 1024px) {
    .main-banner-section {
        .main-banner-img {
            top: auto;
            bottom: 0px;
        }
    }
}