.main-cate-service-section{
   
    .main-cate-service-box{
            font-family: "Rubik";
            // background: $white;
            background:#dee1f1 !important;
        
            padding:30px 20px;
            box-shadow: 0px 28px 40px 0px rgba(0, 0, 0, 0.10);
            border-radius:20px;
            margin:15px 0;
            position: relative;
            cursor: pointer;
        .service-img-box{
            margin-bottom:15px;
            img{
                position: relative;
                z-index:9;
            }
        }
        h4{
            font-family: "Rubik";
            position: relative;
            z-index:9;
        }
        &::after{
            content: "";
            position: absolute;
            width:100%;
            height:100%;
            background:#D0E7BA;
            border-radius:20px;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin: auto;
            transform: scale(0);
            transition: .7s;
            // animation: rotate-1  linear infinite  10s;
        }
        &:hover{
                &::after{
                    transform: scale(1);
                }
        }
    }
    .custom_link{
        color: #233d63;
    }
}

@keyframes rotate-1{
    from {
        transform: rotate(0deg);  
    }
    to {
        transform: rotate(360deg);  
    }
}