.service-main-section{
    .bg-purple{
        // background: #bfc0ee !important;
        background: #D8BFD8	!important;
    }
    .main-service-box{
        background:$white;
        box-shadow: 0 30px 50px 0 rgba(64, 24, 47, 0.08);
        text-align: center;
        padding:40px 20px;
        margin-bottom:50px;
        border-radius:20px;
        position: relative;
        // border:2px solid transparent;
        cursor: pointer;
        .img-box{
            margin-bottom:20px;

        }
        .btn-div{
            width:50px;
            height:50px;
            background:$white;
            box-shadow: 0 30px 50px 0 rgba(64,24,47,.08);
            border-radius:50%;
            text-align:center;
            position: absolute;
            bottom: -25px;
            left: calc( 50% - 25px );
            a{
                display: block;
                color:$indigo;
                font-weight:800;
                line-height: 47px;
                font-size: 30px;
                padding-left: 4px;
            }
            &:hover{
                background:$indigo;
                a{
                    color:$white;
                }
            }
        } 
    }
    // .active-service{
    //     border:2px solid $indigo;
    //     background:$white !important;
    // }
}