.voice-over-2-section {
    .main_laguage_select {
        .main-box {
            display: flex;
            align-items: center;
            box-shadow: 0 0 3px rgba(0, 0, 0, .15);
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 30px;
            transition: .5s;
            cursor: pointer;
            .icon-box {
                margin-left: 20px;
                width: 50px;
                img {
                    width: 100%;
                    box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
                }
            }
            p {
                span {
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    .word-writer-div {
        .form_textarea {
            border: 1px solid $indigo;
            padding: 10px 15px;
            color: $indigo;
            width: 70%;
            background: $white;
            border-radius: 10px;
        }
    }
    .example_row {
        .main-box {
            display: flex;
            align-items: center;
            box-shadow: 0 0 3px rgba(0, 0, 0, .15);
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 30px;
            transition: .5s;
            cursor: pointer;
            .icon-box {
                margin-left: 20px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: block;
                background: rgba($color: $indigo, $alpha: 0.10);
                text-align: center;
                line-height: 40px;
                font-size: 20px;
                color: $indigo;
            }
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.modal-body {
    padding-bottom: 10px;
    background: rgba($color: $indigo, $alpha: 0.2);
    audio {
        width: 90%;
    }
}

@media only screen and(max-width:767px) {
    .voice-over-2-section {
        .modal {
            padding-right: 0px !important;
        }
        .word-writer-div {
            .form_textarea {
                width: 100%;
            }
        }
    }
}