<div class=" container">
  <div class="row py-5">
    <div class="col-xl-6 col-lg-6 col-md-8 col-12 m-auto">
         <div class="text-center acc">
              <div class="lgn">
                  <div class="form-group">
                      {% form 'activate_customer_password' %}
                        <h1 class="py-4">{{ 'customer.activate_account.title' | t }}</h1>
                        <span class="py-2 px-2 text-break">{{ 'customer.activate_account.subtext' | t }}</span>
                        {{ form.errors | default_errors }}
                        <input type="password"
                          name="customer[password]"
                          id="CustomerPassword"
                          class="form-control"
                          placeholder="{{ 'customer.activate_account.password' | t }}">
                        <input type="password"
                          name="customer[password_confirmation]"
                          id="CustomerPasswordConfirmation"
                           class="form-control"
                          placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
                        <input type="submit" class="btn-all btn button frm-btn" value="{{ 'customer.activate_account.submit' | t }}">
                      {% endform %}
                  </div>
              </div>
          </div>
    </div>
</div>    
{%comment%}
<h1>{{ 'customer.activate_account.title' | t }}</h1>
<p>{{ 'customer.activate_account.subtext' | t }}</p>

{% form 'activate_customer_password' %}
  {{ form.errors | default_errors }}

  <p>
    <label for="CustomerPassword" class="label-hidden">
      {{ 'customer.activate_account.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="CustomerPassword"
      placeholder="{{ 'customer.activate_account.password' | t }}">
  </p>

  <p>
    <label for="CustomerPasswordConfirmation" class="label-hidden">
      {{ 'customer.activate_account.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="CustomerPasswordConfirmation"
      placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
  </p>

  <input type="submit" class="button" value="{{ 'customer.activate_account.submit' | t }}">
  <input type="submit" class="button button--secondary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
{% endform %}
{%endcomment%}