<div class=" container">
  <div class="row py-5">
    <div class="col-xl-6 col-lg-6 col-md-8 col-12 m-auto">
      <div class="text-center acc">
        <div class="lgn">
          {% include 'social-sign-in' %}
          {% form 'customer_login' %}
          <h1 class="py-4">התחברות</h1>
          {{ form.errors | default_errors }}
          <div class="form-group">
            <input type="email" class="form-control" name="customer[email]" id="CustomerEmail"
              class="{% if form.errors contains 'email' %}input-error{% endif %}"
              placeholder="אימייל" spellcheck="false" autocomplete="off" autocapitalize="off"
              autofocus>

            <input type="password" class="form-control" name="customer[password]" id="CustomerPassword"
              class="{% if form.errors contains 'password' %}input-error{% endif %}"
              placeholder="סיסמה">
            <p>
              <input type="submit" class="btn-all btn button-all banner-btn m-auto" value="להתחבר">
            </p>
            <p>
              {% if form.password_needed %}
              <a href="#recover" id="forget" data-recover-toggle>שכחת ססמה?</a>
              {% endif %}
            </p>
            <p>
              <a href="/account/register">
                צור חשבון
              </a>
            </p>
          </div>
          {% endform %}
        </div>
        <div class="form-group">
          <div id="recover" style="display:none;" class="py-5" data-recover-form>
            <h1 class="py-4">לאפס את הסיסמה שלך</h1>
            <p class="py-1">אנו נשלח לך דוא"ל לאיפוס הסיסמה שלך.</p>

            {% form 'recover_customer_password' %}
            {{ form.errors | default_errors }}

            {% if form.posted_successfully? %}
            <span class="hide" data-form-state></span>
            {% endif %}

            <input type="email" name="email" class="form-control" id="RecoverEmail"
              placeholder="אימייל" spellcheck="false" autocomplete="off"
              autocapitalize="off">
            <p>
              <input type="submit" class="btn-all btn button-all banner-btn customer_login m-auto" value="שלח">
            </p>
            <p>
              <button type="reset" data-recover-toggle class="button-all banner-btn m-auto cnl">
                בטל
              </button>
            </p>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>