<div class="container">
  <div class="row py-3">
    <div class="col-xl-6 col-lg-6 col-md-8 col-12 m-auto">
      <div class="text-center acc">
        <h1 class="py-4">צור חשבון</h1>
          {% include 'social-sign-in' %}
        {% form 'create_customer' %}
        {{ form.errors | default_errors }}
        <div class="form-group">
          <input type="text" class="form-control" name="customer[first_name]" id="FirstName"
            placeholder="שם פרטי" autofocus
            {% if form.first_name %}value="{{ form.first_name }}" {% endif %}>

          <input type="text" class="form-control" name="customer[last_name]" id="LastName"
            placeholder="שם משפחה" {% if form.last_name %}value="{{ form.last_name }}"
            {% endif %}>

          <input type="email" class="form-control" name="customer[email]" id="Email"
            class="{% if form.errors contains 'email' %}input-error{% endif %}"
            placeholder="אימייל" value="{% if form.email %}{{ form.email }}{% endif %}"
            spellcheck="false" autocomplete="off" autocapitalize="off">

          <input type="password" name="customer[password]" id="CreatePassword"
            class="{% if form.errors contains 'password' %}input-error{% endif %} form-control"
            placeholder="סיסמה">
          <p>
            <input type="submit" value="צור" class="btn-all btn button-all banner-btn m-auto">
          </p>
          <a href="{{ shop.url }}">חזור לחנות</a>
        </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>