<div class=" container">
  <div class="row py-5">
    <div class="col-xl-6 col-lg-6 col-md-8 col-12 m-auto">
         <div class="text-center acc">
              <div class="lgn">
                  <div class="form-group">
                    {% form 'reset_customer_password' %}
                          <h1 class="py-4">{{ 'customer.reset_password.title' | t }}</h2>
                          <span class="py-2 px-2 text-break">{{ 'customer.reset_password.subtext' | t: email: email }}</span>
                          {{ form.errors | default_errors }}
                          <input type="password"
                          name="customer[password]"
                          id="ResetPassword"
                          class="form-control"
                          class="{% if form.errors contains 'password' %}input-error{% endif %}"
                          placeholder="{{ 'customer.reset_password.password' | t }}">
                          <input type="password"
                          name="customer[password_confirmation]"
                          id="PasswordConfirmation"
                          class="form-control"
                          class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
                          placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

                       <p> <input type="submit" class="btn-all btn button frm-btn" value="{{ 'customer.reset_password.submit' | t }}"></p>
                      {% endform %}
                  </div>
            </div>
        </div>
      </div>
  </div>
</div>
  {%comment%}
<div class="form-reset-password">
  {% form 'reset_customer_password' %}

    <h1>{{ 'customer.reset_password.title' | t }}</h1>

    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    {{ form.errors | default_errors }}

    <label for="ResetPassword" class="label-hidden">
      {{ 'customer.reset_password.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      class="{% if form.errors contains 'password' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password' | t }}">

    <label for="PasswordConfirmation" class="label-hidden">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

    <input type="submit" class="button" value="{{ 'customer.reset_password.submit' | t }}">
  {% endform %}
</div>
{%endcomment%}
{% comment %} <div class="form-reset-password">
  {% form 'reset_customer_password' %}

    <h1>{{ 'customer.reset_password.title' | t }}</h1>

    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    {{ form.errors | default_errors }}

    <label for="ResetPassword" class="label-hidden">
      {{ 'customer.reset_password.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      class="{% if form.errors contains 'password' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password' | t }}">

    <label for="PasswordConfirmation" class="label-hidden">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

    <input type="submit" class="button" value="{{ 'customer.reset_password.submit' | t }}">
  {% endform %}
</div> {% endcomment %}
