.cart-section {
    font-family: "Rubik";
              
    padding: 30px 0;
    .mob-title {
        display: none;
    }
    hr{
        margin-top:1rem;
        margin-bottom: 1rem;
        border-top: 1px solid #233d63;
    }
    .cart-head {
        h2 {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    .cart-heading {
      
        // border-bottom: 1px solid rgba($indigo, .2);
        padding: 10px 15px;

        p {
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .product-head {
            text-align: right;
            background: #dee1f1!important;
        }

        .price-head {
            background: #dee1f1!important;
            text-align: center;
        }

        .qty-head {
            background: #dee1f1!important;
            text-align: center;
        }

        .total-head {
            background: #dee1f1!important;
            text-align: right;
        }
        .remove-head {
            background: #dee1f1!important;
            text-align: left;
        }
    }

    .cart-items {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba($indigo, .1);
        // background: rgba($indigo, .1);
        .cart-product-div {
            display: flex;
            align-items: center;
            // flex-wrap: wrap;

            .product-image-div {
                width: 70px;
                margin: 0px 15px;
                .pro-name{
                font-size: 16px;
                font-weight: 500;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .product-text-div {
                padding:10px 5px;
                .label-name {
                    margin-bottom: 0;
                    font-weight: 500;
                    color: $indigo;
                    font-size: 14px;
                }

                .pro-name {
                    margin-bottom: 0;
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: 500;
                    a {
                        font-size: 14px;
                        font-weight: 500;
                        margin: 5px 0;
                        display: block;
                        line-height: 22px;
                        color: $black;

                        &:hover {
                            color: $indigo;
                        }
                    }
                }
            }
        }

        .cart-main-div {
            .remove-pro {
                display: none;
            }
        }

        .cart-price-div {
            p {
                text-align: center;
                font-size: 15px;
                margin-bottom: 0;
            }
        }

        .cart-qty-div {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            .minus-qty {
                height: 40px;
                width: 30px;
                background: none;
                text-align: center;
                outline: none;
                cursor: pointer;
                border: 1px solid $indigo;
                color: $indigo;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
                border-left: 0;
            }

            .plus-qty {
                height: 40px;
                width: 30px;
                background: none;
                text-align: center;
                outline: none;
                cursor: pointer;
                border: 1px solid $indigo;
                color: $indigo;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
                border-right: 0;
            }

            .quntity-input {
                height: 40px;
                width: 40px;
                background: none;
                text-align: center;
                outline: none;
                cursor: pointer;
                // border: 1px solid $indigo;
                // color: $indigo;
                color:#555456;
                border-left: 0;
                border-top:0;
                border-bottom: 0;
                border-right: 0;
                font-size: 15px;
                // font-weight: 700;
                margin-bottom: 0;
            }
        }

        .cart-total-div {
            p {
                text-align: right;
                font-size: 15px;
                margin-bottom: 0;
            }
        }
        .cart-remove-div{
            .remove-pro {
                font-size: 20px;
                color: $indigo;
                font-weight: 600;
                img{
                    width: 30px;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .cart-subtotal-div {
        padding: 15px;

        p {
            font-size: 25px;
            text-align: right;
        }
    }
    .checkout-div{
        margin-top:20px;
        .checkout-btn {
            border: 2px solid $indigo;
            height: 50px;
            padding: 0 30px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 17px;
            background: $indigo;
            display: inline-block;
            line-height: 46px;
            color: $white;
            &:hover {
                background: #252932;
                border: 2px solid #252932;
            }
        }
    }
    .btn-checkout-div {
        text-align: right;

        .outline-btn {
            border: 2px solid $indigo;
            height: 50px;
            padding: 0 30px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 17px;
            background: none;
            display: inline-block;
            line-height: 46px;
            margin-right: 15px;
            color: black;
            border-radius: 0px;

            &:hover {
                color: $white;
                background: $indigo;
            }
        }

    }
    
    .shipping-content{
        .nav-link{
            font-size: 1.5rem;
        }
    }
    .payment{
        margin-top:20px;
        .payment-icons{
            display: inline;
            img{
                margin:10px auto;
            }
        }
    }
    // .coupan-div{
    //     &::before{
    //             content: "";
    //             background-image: url("https://cdn.shopify.com/s/files/1/0314/4436/9544/files/katar.png?v=1585383010");
    //             position: absolute;
    //             right: 40px;
    //             top: 13px;
    //             width: 20px;
    //             height: 20px;
    //             display: inline-block;
    //             background-size: cover;
    //         }
    // }
        .input-text{
            min-width: 220px;
            width: 100%;
            height: 50px;
            font-size: 16px;
            display: block;
            margin: 0 auto;
            color: #545454;
            border: 1px solid rgba(129,129,129,.25);
            line-height: 18px;
            padding: 0 10px;
            padding-right: 65px;
            transition: border-color .5s;
            box-shadow: none;
            border-style: dashed;
            border-radius: 0;
            &:focus{

                border-color: rgba(0,0,0,.6);
                border-style: dashed;
                outline: none;
            }
        }
}
@media only screen and (min-width: 1199px){
    .cart-section {
        .checkout-div{
            .checkout-btn {
                width: 100%;
            }
        
        }
    }
}
@media only screen and (min-width: 992px) and (max-width:1199px) {
    .cart-section {
        .cart-subtotal-div {
            padding: 0 7px;
            p{
                font-size: 20px;
            }
        }
        .checkout-div{
            .checkout-btn {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cart-section {
        .cart-head {
            .empty-line {
                font-size: 2rem;
            }
        }

        .cart-items {
            .cart-product-div {
                .product-image-div {
                    width: 80px;
                    margin: 0px 15px;
                }

                .product-text-div {
                    .pro-name {
                        a {
                            font-size: 15px;
                            line-height: 19px;
                        }
                    }

                    .remove-pro {
                        font-size: 14px;
                    }

                    .label-name {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .cart-section {
        .btn-shop {
            border-bottom: 1px solid rgba($indigo, .1);
        }

        .cart-head {
            .empty-line {
                font-size: 1.5rem;
            }
        }

        .cart-heading {
            padding: 10px 0px;

            .price-head {
                display: none;
            }
            .remove-head{
                display: none;
            }
            .product-head {
                width: 33.33%;
                margin-left: 0;
            }

            .qty-head {
                width: 33.33%;
                margin-left: 0;
            }

            .total-head {
                width: 33.33%;
                margin-left: 0;
            }
        }

        .cart-items {
            display: block;
            padding: 15px 0;

            .cart-product-div {
                max-width: 100%;

                .product-image-div {
                    padding-left: 20px;
                    margin: auto;
                    margin-bottom: 15px;
                    margin-right: auto !important;
                    img{
                        width:80px;
                    }
                }

                .product-text-div {
                    padding-left: 20px;
                }
                .cart-remove-hidden{
                   .remove-pro{
                        img{
                           width:30px;     
                    }
                }
                }
            }

            .cart-price-div {
                margin-left: 0;
                margin-top: 20px;
                height: 40px;
                display: inline-block;
                // float: left;
                padding-left: 0;
                max-width: 33.33% !important;

                p {
                    text-align: left;
                    line-height: 40px;
                    padding-left: 20px;
                }
            }

            .main-qty-div {
                max-width: 33.33% !important;
                display: inline-block;
            }

            .cart-main-div {
                margin-left: 0;
                margin-top: 20px;
                float: left;
                padding-left: 0;

                .cart-qty-div {
                    padding-left: 20px;
                    justify-content: left;
                }
            }

            .cart-total-div {
                margin-left: 0;
                text-align: right;
                margin-top: 20px;
                height: 40px;
                display: inline-block;
                max-width: 30% !important;
                padding:0px;
                p {
                    line-height: 40px;
                    padding-left: 20px;
                    text-align: right;
                }
            }
        }

        .cart-subtotal-div {
            p {
                text-align: center;
            }
        }

        .btn-checkout-div {
            text-align: center;
        }

        .payment-option {
            p {
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .cart-section {
        .btn-checkout-div {
            .outline-btn {
                display: block;
                margin: auto;
                margin-bottom: 16px;
            }
        }
        .cart-product-div {
            .product-image-div {
                img{
                    width:80px;
                }
            }

            .cart-remove-hidden{
                .remove-pro{
                     img{
                        width:30px;     
                 }
             }
             }
        }
    }
}
@media only screen and (max-width: 575px) {
    .cart-section {          
        .checkout-div{
            .checkout-btn {
                width: 100%;
            }
        }
    }
}


@media only screen and (max-width: 480px) {
    .cart-section {
        .cart-heading {
            p {
                font-size: 12px;
            }
        }
        .checkout-div{
            .checkout-btn {
                width: 100%;
            }
        }

        .cart-items {
            .cart-product-div {
                .product-image-div {
                    width: 100px;
                    margin: 0px 15px;
                }

                .product-text-div {
                    .pro-name {
                        a {
                            font-size: 17px;
                            line-height: 19px;
                        }
                    }

                    .remove-pro {
                        font-size: 13px;
                    }

                    .label-name {
                        font-size: 15px;
                    }
                }
            }

            .cart-main-div {
                .remove-pro {
                    right: 36%;
                }
            }
        }

        .cart-subtotal-div {
            p {
                font-size: 22px;
            }
        }

        .btn-checkout-div {
            .outline-btn {
                display: block;
                margin-right: 0;
                width: max-content;
                margin: auto;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (max-width:375px) {
    .cart-section {
        .cart-items {
            .cart-main-div {
                .remove-pro {
                    right: 31%;
                }
            }
        }
    }
}

@media only screen and (max-width:340px) {
    .cart-section {
        .cart-items {
            .cart-product-div 
            {
             padding:10px 10px;
                .product-image-div{
                    text-align: center;
                    margin: auto;
                    padding:10px;
                }
                .cart-remove-hidden{
                    display:none !important;
                }
            }
            .cart-product-div{
                padding:5px;
                .product-text-div{
                    padding:5px 10px;
                    padding-right:20px;
                    .nav-link{
                        padding: 0.2rem 0.5rem;
                    }
                }
            }
            .main-qty-div{
                .cart-qty-div{
                    display: block;
                    text-align: right;
                    .quantity-input{
                        text-align: right !important;
                    }
                }
            }
            .cart-total-div{
                padding-right: 15px;
            }
            .cart-remove-div  {
                text-align: right !important;
                padding-right: 25px;
            }
            .cart-product-div,.cart-price-div,.main-qty-div,.cart-total-div, .cart-remove-div  {
                display: block !important;
                margin-top: 0px;
                max-width: 100% !important;
                p{
                    text-align: right !important;
                    padding-right:10px;
                }
            }

        }
    }
}
@media only screen and (max-width:245px) {
.cart-section{
    .cart-subtotal-div
    {
        display: block !important;
        p{
            text-align: right !important;
        }
    }
    .shipping-image{
        width: 100%;
        flex: unset!important;
        max-width: 100%;
        img{
            max-width: 100%;
        }
    }
    .shipping-content{
        width: 100%;
        flex: unset!important;
        max-width: 100%;
    }
}

}