.library_2 {
    .img_div {
        position: relative;
        overflow: hidden;
        margin: auto;
        text-align: center;    
    }

    .content {
        text-align: center;

        p {
            margin: auto;
        }
    }
}