.library-section{
    .library_box{
        background:$white;
        box-shadow: 0px 28px 40px 0px rgba(0, 0, 0, 0.10);
        padding:15px;
        border-radius:10px;
        margin-bottom:30px;
        .library_icon{
            // width:100px;
            // height:100px;
        }
        .library_content{
            .library_ul{
                list-style:none;
                padding-right:28px;
                li{
                    margin-bottom:8px;
                    position: relative;
                    &:hover{
                        &::before{
                            right:-21px;
                        }
                    }
                }
            }
        }
    }
}