.page-content {
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
    .padd-p {
        padding-right: 50px;
    }
    .padd-span {
        display: flex;
        .mark-div {
            min-width: 48px;
        }
    }
    a {
        color: $indigo;
        text-decoration: underline;
    }
    .term-order-div {
        padding-right: 50px;
    }
    p {
        word-break: break-word;
    }
}