.audio_main-div{
  padding:40px 0;
  audio{
    width:70%;
    height:100px;
    margin: auto;
  }
}
.translation-box{
  border-radius:10px;
  padding:20px;
  box-shadow: 0px 17px 40px 0px rgba(0, 0, 0, 0.12);
  margin-bottom:30px;
  p{
    margin-bottom:0;
  }
  table{
    td{
      padding:10px 0;
      vertical-align: text-top;
    }
  }
}

.main-slider-book{
  img{
    width:100%;
  }
  .slick-prev{
    background:$indigo;
    width:30px;
    height:30px;
    border-radius:50%;
    &:hover{
      background:$indigo !important;
    }
    &:focus{
      background:$indigo !important;
    }
    &::before{
      content: "\f054" !important;
      color:$white;
      font-family: "FontAwesome";
      font-size:15px;
    }
  }
  .slick-next{
    background:$indigo;
    width:30px;
    height:30px;
    border-radius:50%;
    &:hover{
      background:$indigo !important;
    }
    &:focus{
      background:$indigo !important;
    }
    &::before{
      content: "\f053" !important;
      color:$white;
      font-family: "FontAwesome";
      font-size:15px;
    }
  }
}

.tw-cursor {
  border-right: 2px solid #fff;
  display: initial;
  animation: blinkCursor 500ms steps(11) infinite normal;
}

@keyframes blinkCursor{
from{border-right-color: #fff;}
to{border-right-color: #000;}
}
