<section class="shop-banner-section">
  <div class="col-12 banner-div align-items-center">
    {% if collection.image %}
    <img class="banner-img" src="{{ collection.image | img_url: '1920x' }}" alt="{{ collection.title }}">
    {% elsif section.settings.bg_image != blank %}
    <img class="banner-img" src="{{ section.settings.bg_image | img_url: '1920x' }}" alt="{{ collection.title }}">
    {% endif %}
    <div class="container">
      <div class="row banner-content">
        <div class="col-12 text-center">
          <h2 class="text-uppercase">{{ collection.title }}</h2>
          <ul class="bredcume-ul list-unstyled mb-0 mt-2">
            <li><a href="/">Home</a></li>
            <li><a href="/collections">Shop</a></li>
            <li><a href="#">{{ collection.title }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
"name": "Banner collection",
"settings": [
{
"type": "image_picker",
"id": "bg_image",
"label": "Background image"
}
]

}
{% endschema %}