{% if section.settings.enable_banner %}
<section class="slider-section banner-who-we pb-md-5  my-md-5 pb-2">
    <div class="container">
        <div class="row position-relative">
            {% if section.settings.main_img != blank %}
            <img class="about-slider-img position-absolute" src="{{ section.settings.main_img | img_url: 'original' }}" alt="{{section.settings.main_img.alt | default:shop.name}}" class="lazyload">
            {% endif %}
         
            <div class="col-md-9 pt-15 d-md-block">
                <h3 class="text-head">
                    <div id="typed-strings" style="display: none;">
                        <span>We are passionate <br>about our work....</span>
                    </div>
                    <p>{{section.settings.banner_content}}</p>
                </h3>
                <!-- <p class="display-3 text-dark">אנו מאפשרים השתנות דיגיטלית, המאפשרת שיתוף פעולה, יעילות וגמישות ארגונית באמצעות פתרונות חדשניים וזריזים.
                </p> -->
                {% comment %}
                {% if section.settings.enable_banner_btn %}
                <a href="{{section.settings.btn_url}}" class="btn btn-all">{{section.settings.btn_label}}</a>
                {% endif %}
                {% endcomment %}
            </div>
        
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "banner-Who we Are",
  "settings": [
         {
            "type":"header",
            "content":"Banner Content"
        },

        {
            "type":"checkbox",
            "id": "enable_banner",
            "label": "Enable Banner ?"
        },
          {
            "type":"image_picker",
            "id": "main_img",
            "label": "Image "
        },
        {
            "type":"richtext",
            "id":"banner_content",
            "label":"Banner Content"
        },
           {
            "type":"header",
            "content":"Banner Button"
        },

        {
            "type":"checkbox",
            "id": "enable_banner_btn",
            "label": "Enable Banner Button ?"
        },
        {
        "type":"text",
        "label":"Button label",
        "id":"btn_label"
        },
        {
            "type":"url",
            "label":"Button Url",
            "id":"btn_url"
        }
  ]
}
{% endschema %}