{% if section.settings.enable %}
<section class="brand-section my-md-5 py-md-5 pt-3">
    {% if section.settings.bg_img != blank %}
         <img class="bg-image-brand img-fluid" src="{{section.settings.bg_img | img_url :'original' }}" alt="{{section.settings.bg_img.alt | default : shop.name}}">
    {% endif %}
    <div class="container"> 
        {% if section.settings.title != blank %}
            <div class="row">
                <div class="col-12">
                    <div class="title-div text-center">
                        <h3 class="position-relative">{{section.settings.title}}</h3>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-md-8 m-auto brand-row">
            <div class="row align-items-center ">
                {% for block in section.blocks %}
                {% if block.settings.brand_img != blank and block.settings.enable %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mt-lg-0 mt-md-0 mt-sm-3 mt-4 mx-auto">
                        <div class="brand-box {% if forloop.index == 2 %} child-2 {% endif %}" >
                            <img class="img-fluid pc-mac lazyload" src="{{ block.settings.brand_img | img_url: 'original' }}" alt="{{block.settings.brand_img.alt | default:shop.name}}">
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
                {% comment %} <div class="col-md-4">
                    <div class="brand-box">
                        <img class="img-fluid pc-mac" src="{{ section.settings.brand_img1 | img_url: 'original' }}" atl="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="brand-box child-2">
                        <img class="img-fluid" src="{{ section.settings.brand_img2 | img_url: 'original' }}" atl="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="brand-box">
                        <img class="img-fluid pc-mac" src="{{ section.settings.brand_img3 | img_url: 'original' }}" atl="">
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Index Brands Section",
"max_blocks": 3,
  "settings": [
        {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
        },
        {
            "type":"text",
            "id":"title",
            "label":"Title"
       },
       {
        "type":"image_picker",
        "id":"bg_img",
        "label":"Background Image"
     }
  ],
  "blocks":[
      {
      "name":"Image Blocks",
      "type":"Image-Blocks",
      "settings":[   
          {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
        },
          {
          "type":"image_picker",
          "id":"brand_img",
          "label":"Brand Image"
      }
      ]
  }
  ],
  "presets": [
    {
    "name": "Index Brands Section",
    "category": "Index"
    }
  ]
}
{% endschema %}