{% if section.settings.enable %}
<section class="build-business-section my-lg-5 my-3 py-lg-4 py-2" id="how-it-works">
 {% if section.settings.bg_img != blank %}   
    <img class="bg-image-build img-fluid lazyload" src="{{section.settings.bg_img | img_url:'original'}}" alt="{{section.settings.bg_img.alt|default:shop.name}}">
 {% endif %}
    <div class="container">
        {% if section.settings.title != blank %}
        <div class="row">
            <div class="col-12 pb-3 text-center">
                <h3 class="position-relative">{{section.settings.title}}</h3>
            </div>
        </div>
        {% endif %}
        <div class="row ">
            <div class="col-xl-7 col-lg-7 text-lg-left text-center pt-lg-5 pt-3">
                <ul class="nav nav-tabs p-0" id="myTab" role="tablist">
                {% for block in section.blocks %}
                    {% if block.settings.title != blank and block.settings.enable %}
                    <li class="nav-item">
                      <a class="nav-link  {% if forloop.first %} active{% endif %}" id="{{block.settings.title}}-tab" data-toggle="tab" href="#{{block.settings.title}}" role="tab" aria-controls="{{block.settings.title}}" aria-selected="true">{{block.settings.title}}</a>
                    </li>                     
                    {% endif %}
                {% endfor %}
                     {% comment %} <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                    </li>  {% endcomment %}
                  </ul>
                  <div class="tab-content" id="myTabContent">
                   {% for block in section.blocks %}
                    {% if block.settings.title != blank and block.settings.enable %}
                        <div class="tab-pane fade {% if forloop.first %} show  active {% endif %}" id="{{block.settings.title}}" role="tabpanel" aria-labelledby="{{block.settings.title}}-tab">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="text-main-div text-nowrap">
                                        <!-- <div class="title-div position-relative">
                                            <p class="display-2 text-dark">You’ve got the will. We’ve got the way.</p>
                                        </div> -->
                                    
                                        {% comment %} <p class="w-100 pt-2 m-auto m-lg-0 mb-3 text-right">
                                        <span class="marker-div">1</span>
                                        {{block.settings.main_heading_1}}
                                        {%- if block.settings.small_heading_1 != blank -%}
                                        <span>{{block.settings.small_heading_1}}</span>
                                        {%- endif -%}
                                        <span class="d-inline mr-xl-5 mr-lg-3 mr-sm-3 pr-2 float-left"> <a href="{{block.settings.link_url}}" class="custom_link btn outline-btn"><u>{{block.settings.button_label}}</u></a></span>
                                        </p>
                                        <p class="w-100 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">2</span>{{block.settings.main_heading_2}}<span>{{block.settings.small_heading_2}}</span></p>
                                        <p class="w-100 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">3</span>{{block.settings.main_heading_3}}<span>{{block.settings.small_heading_3}}</span></p>
                                        <p class="w-100 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">4</span>{{block.settings.main_heading_4}}<span>{{block.settings.small_heading_4}}</span></p>
                                        <p class="w-100 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">5</span>{{block.settings.main_heading_5}}<span>{{block.settings.small_heading_5}}</span></p> {% endcomment %}
                                        <div class="media align-items-center my-2">
                                            <div class="media-left ml-2">
                                                <span class="marker-div">1</span>
                                            </div>
                                            <div class="media-body text-right">
                                            {{block.settings.main_heading_1}}
                                            {%- if block.settings.small_heading_1 != blank -%}
                                                <span>{{block.settings.small_heading_1}}</span>
                                            {%- endif -%}
                                            {% if block.settings.link_url != blank and block.settings.button_label != blank %}
                                                <div class="inner-btn d-none">
                                                    <span> <a href="{{block.settings.link_url}}" class="custom_link btn outline-btn mt-md-auto mt-sm-auto mt-2 ">{{block.settings.button_label}}</a></span>
                                                </div>
                                            {% endif %}
                                            </div> 
                                        </div>
                                        <div class="media align-items-center my-2">
                                            <div class="media-left ml-2">
                                                <span class="marker-div">2</span>
                                            </div>
                                            <div class="media-body text-right">
                                            {{block.settings.main_heading_2}}<br>
                                            {%- if block.settings.small_heading_2 != blank -%}
                                                <span>{{block.settings.small_heading_2}}</span>
                                            {%- endif -%}
                                            </div>
                                        </div>
                                        <div class="media align-items-center my-2">
                                            <div class="media-left ml-2">
                                                <span class="marker-div">3</span>
                                            </div>
                                            <div class="media-body text-right">
                                            {{block.settings.main_heading_3}}<br>
                                            {%- if block.settings.small_heading_3 != blank -%}
                                                <span>{{block.settings.small_heading_3}}</span>
                                            {%- endif -%}
                                            </div>
                                        </div>
                                        <div class="media align-items-center my-2">
                                            <div class="media-left ml-2">
                                                <span class="marker-div">4</span>
                                            </div>
                                            <div class="media-body text-right">
                                            {{block.settings.main_heading_4}}<br>
                                            {%- if block.settings.small_heading_4 != blank -%}
                                                <span>{{block.settings.small_heading_4}}</span>
                                            {%- endif -%}    
                                            </div>
                                        </div>
                                        <div class="media align-items-center my-2">
                                            <div class="media-left ml-2">
                                                <span class="marker-div">5</span>
                                            </div>
                                            <div class="media-body text-right">
                                            {{block.settings.main_heading_5}}<br>
                                            {%- if block.settings.small_heading_5 != blank -%}
                                                <span>{{block.settings.small_heading_5}}</span>
                                            {%- endif  -%}    
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-sm-3 btn-div px-0  d-md-block d-sm-block d-none"> 
                                        <span class="mr-auto"> <a href="{{block.settings.link_url}}" class="custom_link btn outline-btn mt-md-auto mt-sm-auto mt-2 ">{{block.settings.button_label}}</a></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p class="font-weight-light w-100 pt-2  pr-2 m-auto m-lg-0 mb-3 text-right"><small>{{block.settings.notes}}</small></p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                  {% endfor %} 
                  {% comment %}
                   <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="text-main-div ">
                            <!-- <div class="title-div position-relative">
                                <p class="display-2 text-dark">You’ve got the will. We’ve got the way.</p>
                            </div> -->
                            <p class="w-75 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">1</span>בצע רכישה בחנות שלנו</p>
                            <p class="w-75 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">2</span>שליח יגיע אלייך לאסוף את החומרים<br><span>(סריקות/המרות, ניתן לארוז בקרטון או בשקית אטומה וקשיחה)</span></p>
                            <p class="w-75 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">3</span>אנו נבצע את העבודה עד 5 ימי עסקים <span>(ובהתאם לכמות)</span></p>
                            <p class="w-75 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">4</span>נארוז את החומרים שלך ביחד עם המדיה הדיגיטלית</p>
                            <p class="w-75 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">5</span>שליח יגיע אלייך למסור את החומרים</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="text-main-div ">
                            <!-- <div class="title-div position-relative">
                                <p class="display-2 text-dark">You’ve got the will. We’ve got the way.</p>
                            </div> -->
                            <p class="w-75 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">1</span>בצע רכישה בחנות שלנו</p>
                            <p class="w-75 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">2</span>העלה את החומרים לאתר שלנו בעמוד הרכישה</p>
                            <p class="w-75 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">3</span>אנו נבצע את העבודה בין 5-2 ימי עסקים <br><span>(ובהתאם לכמות)</span></p>
                            <p class="w-75 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">4</span>נבדוק את החומרים לפני מסירה</p>
                            <p class="w-75 pt-2 m-auto m-lg-0 mb-3 text-right"><span class="marker-div">5</span>נשלח אלייך למייל את החומרים</p>
                        </div>
                    </div> 
                    {% endcomment %}
                  </div>
                
            </div>
            <div class="col-xl-5 col-lg-5 text-lg-right text-center">
                <img class="img-fluid img-responsive mt-lg-0 mt-3 lazyload" src="{{ section.settings.build_img | img_url: 'original' }}" alt="{{section.settings.build_img.alt | default:shop.name}}">
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Index Build Business",
"max_blocks":2,
  "settings": [{
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
        },
      {
     "type":"text",
      "id":"title",
      "label":"Title" 
      },
       {
        "type":"image_picker",
        "id":"bg_img",
        "label":"Background Image"
         },
        {
            "type":"image_picker",
            "id": "build_img",
            "label": "Image"
        }
  ],
  "blocks":[{
    "type":"tab-content",
    "name":"Tab Content",
    "settings":[  
     {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
        },
    {
    "type":"text",
    "id":"title",
    "label":"title"
    },
    {
        "type":"url",
        "label":"Url for Button",
        "id":"link_url"
    },
    {
    "type":"text",
    "id":"button_label",
    "label":"Button Label"
    },
    {
    "type":"textarea",
    "id":"main_heading_1",
    "label":"Main Heading 1"
    },
    {
    "type":"textarea",
    "id":"small_heading_1",
    "label":"Secondary Heading 1"
    },
    {
    "type":"textarea",
    "id":"main_heading_2",
    "label":"Main Heading 2"
    },
    {
    "type":"textarea",
    "id":"small_heading_2",
    "label":"Secondary Heading 2"
    },
    {
    "type":"textarea",
    "id":"main_heading_3",
    "label":"Main Heading 3"
    },
    {
    "type":"textarea",
    "id":"small_heading_3",
    "label":"Secondary Heading 3"
    },
    {
    "type":"textarea",
    "id":"main_heading_4",
    "label":"Main Heading 4"
    },
    {
    "type":"textarea",
    "id":"small_heading_4",
    "label":"Secondary Heading 4"
    },
    {
    "type":"textarea",
    "id":"main_heading_5",
    "label":"Main Heading 5"
    },
    {
    "type":"textarea",
    "id":"small_heading_5",
    "label":"Secondary Heading 5"
    },
    {
        "type":"textarea",
        "id":"notes",
        "label":"Notes"
    }
]
}
  ],
  "presets": [
    {
    "name": "Index Build Business",
    "category": "Index"
    }
  ]
}
{% endschema %}