<section class="cart-section">
    <div class="container">
        {% if cart.item_count > 0 %}
        <form enctype="multipart/form-data" action="/cart" method="post" novalidate> 
          {% comment %} <div class="col-12">
                <div class="cart-subtotal-div">
                    <p><b>רמה חלקית :</b> &nbsp;{{ cart.total_price  |  money_without_currency }} <span>₪</span></p>
                </div>
                <div class="btn-checkout-div">
                    <a class="outline-btn" href="/collections/">המשך בקניות</a>
                    <button type="submit" class="outline-btn" id="checkoutCart" name="update"> עדכון </button>
                    <button type="submit" name="checkout"
                        class="checkout-btn" >לבדוק</button>
                </div>
                <div class="payment-option">
                    <p>משלוח ומיסים מחושבים בתשלום</p>
                </div>
            </div>    {% endcomment %}
            <div class="row">
                <div class="col-lg-9 my-2">
                    <div class="row ">
                        <div class="col-12 cart-head">
                           <h2 class="text-right">{{section.settings.title}}</h2>
                        </div>
                    </div>
                    <hr>
                    <div class="row cart-heading mx-1">
                        <div class="col-md-5 col-4 product-head py-2" >
                            <p>מוצר</p>
                        </div>
                        <div class="col-md-2 col-4 price-head py-2">
                            <p>מחיר</p>
                        </div>
                        <div class="col-md-2 col-4 qty-head py-2">
                            <p>כמות</p>
                        </div>
                        <div class="col-md-2 col-4 total-head py-2">
                            <p>סה"כ</p>
                        </div>
                        <div class="col-md-1  remove-head py-2">
                            <p>הסר</p>
                        </div>
                    </div>
                    {% for item in cart.items %}
                        <div class="cart-items">
                            <div class="col-5 cart-product-div pl-0">
                                <div class="product-image-div">
                                    <h6 class="pro-name">
                                        {% for tag in item.product.tags %}                        
                                            {{ tag }}
                                        {% endfor %}
                                    </h6>
                                    {% if item.image != blank %}
                                        {{ item | img_url: 'original' | img_tag: item.title }}
                                    {% endif %}
                                </div>
                                <div class="product-text-div m-auto">
                                    <h6 class="pro-name">{{ item.title }}</h6>
                                    {% for p in item.properties %}
                                            {%  if p.last contains '/uploads/' %}
                                                <a class="nav-link d-block" href="{{ p.last }}" target="_blank">
                                                <i class="fa fa-eye" aria-hidden="true"></i></a>
                                            {% elsif p.first contains '_' and p.first != blank and p.last != blank  and p.first != "content"%}  
                                                <h6 class="font-weight-lighter mt-1 mb-0"> <b>{{ p.first }}:</b>{{ p.last }}<h6>
                                            {% endif %}
                                    {% endfor %}    
                                   
                                </div>
                                <div class="col-2 text-center cart-remove-hidden d-block d-md-none">
                                    <a class="remove-pro" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                                         <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/iconfinder_basket_1814090.png?v=1585462617" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="col-2 cart-price-div">
                                <p>{{ item.original_price |  money_without_currency }} <span>₪</span></p>
                            </div>
                            <div class="col-2 main-qty-div">
                                <div class="cart-qty-div" data-qtyContainer>
                                    {% comment %} <button class="minus-qty minus-btn qty-btn qty-btns" data-direction="-1">-</button> {% endcomment %}
                                    <input class="quntity-input qty-input text-center" type="text" name="updates[]"
                                        id="updates_{{ item.key }}" data-qty readonly value="{{ item.quantity }}">
                                    {% comment %} <button class="plus-qty plus-btn qty-btn qty-btns" data-direction="1">+</button> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-2 cart-total-div">
                                <p>{{ item.line_price  |  money_without_currency }} <span>₪</span></p>
                            </div>
                            <div class="col-1 text-center cart-remove-div d-md-block d-none">
                                <a class="remove-pro" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/iconfinder_basket_1814090.png?v=1585462617" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-lg-3 pr-xl-2 my-2">
                    <div class="row ">
                        <div class="col-12 cart-head">
                            <h2 class="text-right">{{section.settings.title_order}}</h2>
                        </div>
                    </div>
                    <hr>
                    <div class="cart-subtotal-div d-flex justify-content-between">
                        <p class="text-right"><b>סה"כ :</b> </p><p class="text-left">&nbsp;{{ cart.total_price  |  money_without_currency }} <span>₪</span></p>
                    </div>    
                    <div class=" text-right shipping-title pr-2">
                        <p>משלוח מחושב בתשלום.</p>        
                    </div>
                    <div class="checkout-div">
                        <button type="submit" name="checkout" class="checkout-btn btn-all"  >לרכישה</button>
                    </div>
                    <div class="payment text-center">
                        <p class="text-center">אנו מכבדים:</p>
                        {% for block in section.blocks %}
                                {% if block.type == "Payment-Blocks" %}
                                    {% if block.settings.enable_payment %}
                                        <div class="payment-icons">
                                            <img src="{{block.settings.payment_image| img_url:'40x40' }}" class="img-fluid" alt="{{shop.name}}"> 
                                        </div>
                                   {% endif %}
                                {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if section.settings.enable_shipping %}
                <div class="row">
                    <div class="col-lg-9 py-lg-3 py-md-3 py-sm-3 py-1">
                        <div class="row">
                            {% if section.settings.shipping_image != blank %}
                                <div class="col-4 shipping-image text-center">
                                    <img src="{{section.settings.shipping_image| img_url:'80x80'}}" class="img-fluid" alt="{{shop.name}}">
                                </div>
                            {% endif %}
                            <div class=" col-8 shipping-content text-center">
                                <h3 class="text-center">{{section.settings.shipping_text}}</h3>
                                <p><a href="{{section.settings.shipping_link}}" class="nav-link">{{section.settings.shipping_label}}</a>  
                            </div>
                        </div>
                    </div>
                </div>   
            {% endif %} 
            {% if section.settings.enable_related %}
              
                <div class="row">
                    <div class="col-lg-9 py-lg-3 py-md-3 py-sm-3 py-1">
                      <hr>
                        <div class="row">
                            <div class="col-12 ">
                                <h3 class="text-right mb-1">{{section.settings.title_related}}</h3>
                            </div>
                        </div>
                        <div class="row my-2 main_related">
                            {% for block in section.blocks %}
                                {% if block.type == "Product-Blocks" %}
                                    {% assign collection = collections[block.settings.collection_custom] %}
                                    {% if block.settings.enable_product %}
                                            <div class="col-12 text-center">
                                                <a href="{{collection.url}}" class="d-block">
                                                    <div class="image_box text-center">
                                                        <img src="{{collection | img_url: '80x80' }}" alt="{{collection.title}}" class="img-fluid m-auto">
                                                    </div>
                                                    <div class="title_box ">
                                                        <h4 class="text-center">{{collection.title}}</h4>
                                                    </div>
                                                </a>
                                            </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>        
            {% endif %}
        </form>
    {% else %}
    <div class="row py-5">
        <div class="col-12 text-center pt-2">
            <div class="cart-head mb-5">
                <h1>{{section.settings.title}}</h1>
            </div>
        </div>

        <div class="col-12  text-center">
            <div class="checkout-div text-center">
                <p>העגלה שלך כרגע ריקה.</p>
                <a class="btn btn-all" href="/collections/">המשך בקניות</a>
            </div>
            <div class="payment-option pb-2 mt-2">
                <p class="text-center">אפשר עוגיות להשתמש בעגלת הקניות</p>
            </div>
        </div>
    </div>
    {% endif %}

    </div>
</section>
{% schema %}
{
  "name": "Cart Section",
  "settings": [
        {
            "type":"text",
            "id":"title",
            "label":"Title",
            "default":"הסל שלי"
       },
        {
            "type":"text",
            "id":"title_order",
            "label":"Title Order Summer",
            "default":"סיכום ההזמנה"
       },
       {
           "type":"checkbox",
           "id":"enable_shipping",
           "label":"Enable shipping"
       },
       {
           "type":"image_picker",
           "label":"Image",
           "id":"shipping_image"
       },
       {
           "type":"text",
           "id":"shipping_text",
           "label":"Shipping Title",
           "default":"משלוח חינם מעל 199 ₪ "
       },
       {
           "type":"url",
           "id":"shipping_link",
           "label":"Shipping Link"
       },
       {
           "type":"text",
           "id":"shipping_label",
           "label":"Shipping Link Label",
           "default":"למידע נוסף"
       },
       {
           "type":"checkbox",
           "id":"enable_related",
           "label":"Enable Related Products"
       },
       {
           "type":"text",
           "label":"Title For Related Products",
           "id":"title_related",
           "default":"מוצרים שעשויים לעניין אותך"
       }
  ],
    "blocks":[
      {
      "name":"Product Blocks",
      "type":"Product-Blocks",
      "settings":[   
          {
        "type":"checkbox",
        "id":"enable_product",
        "label":"Enable ?"
        },
          {
          "type":"collection",
          "id":"collection_custom",
          "label":"choose"
          }
      ]
    },
    {
      "name":"Payment Blocks",
      "type":"Payment-Blocks",
      "settings":[   
          {
        "type":"checkbox",
        "id":"enable_payment",
        "label":"Enable ?"
        },
          {
          "type":"image_picker",
          "id":"payment_image",
          "label":"Image"
          }
      ]
    }
 
  ]


}
{% endschema %}
