{% paginate collection.products by 12 %}
<section class="collection-shop-section product-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-xl-7 col-lg-7  text-left">
        <h3 class="text-uppercase mb-xl-0 mb-lg-0 mb-4 text-xl-left text-lg-left text-center">{{ collection.title }}
        </h3>
      </div>
      <div class="col-xl-5 col-lg-5 text-right">
        <div class="row">
          <div class="col-sm-6 col-12">
          </div>
          <div class="col-sm-6 col-12">
            <div class="fillter-div">
              {% include 'sortby-collection' %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row product">
      {% for product in collection.products %}
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 text-center">
        <div class="product-box">
          <div class="product-img-box">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url:'500x' }}" alt="{{ product.title }}">
              <div class="hover-div">
                <a class="outline-btn" href="{{ product.url }}">View Now</a>
              </div>
            </a>
          </div>
          <div class="product-content">
            <a href="{{ product.url }}" class="text-purple">
              <h5>{{ product.title }}</h5>
            </a>
            <p class="price-text mb-3">{{ product.price | money }}</p>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
              <input min="1" type="number" id="quantity" name="quantity" value="1" style="display:none" />
              <button type="submit" class="outline-btn m-auto">Add to cart</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
      {% if paginate.next %}
      <div id="more" class="col-12">
        <p><a href="{{ paginate.next.url }}" class="btn-show-more m-auto">Show More</a></p>
      </div>
      {% endif %}
    </div>
    {% comment %} <div class="row">
      <div class="col-12 text-center mt-3">
        <a class="btn-show-more m-auto">Show More</a>
      </div>
    </div> {% endcomment %}
  </div>
</section>
{% endpaginate %}

<script>
  let triggered = false;

  function ScrollExecute() {
    let moreButon = $('#more').last();
    let nextUrl = $(moreButon).find('a').attr("href");
    if ((($(moreButon).offset().top - $(window).scrollTop()) < 800) && (triggered == false)) {
      triggered = true;
      $.ajax({
          url: nextUrl,
          type: 'GET',
          beforeSend: function () {
            moreButon.remove();
          }
        })
        .done(function (data) {
          $('.product').append($(data).find('.product').html());
          triggered = false
        });
    }
  }

  $(document).ready(function () {
    /*$(window).scroll(function(){
      ScrollExecute();
    });*/
    $('body').on('click', '#more a', function (event) {
      event.preventDefault();
      ScrollExecute();
    })
  });
</script>

{% schema %}
{
"name": "Collection Shop Section",
"settings": [
]
}
{% endschema %}