<section id="contact_us" class="f_form contact_us my-md-5 py-md-5 pt-3 ">
    <div class="container">
        <div class="row py-3">
            {% if section.settings.featured_image != blank %}
                <div class="col-lg-5 col-md-12 text-center m-auto">
                    <img src="{{section.settings.featured_image | img_url:'original' }}" alt="{{section.settings.featured_image.alt | default:shop.name}}" class="featured_image img-fluid lazyload"> 
                </div>
            {% endif %}
            <div class="col-lg-7 col-md-12 m-auto">
                <div class="form-main-div position-relative pt-4 pb-3 pr-lg-3 pl-lg-3 pr-3 pl-3  mb-5">
                    <div class="title-div position-relative">
                        <h5 class="position-relative">{{section.settings.contact_title}} </h5>
                        <p class="mb-0">{{section.settings.description_1}}</p>
                        <p> {{section.settings.description_2}}</p>
                    </div>
                  {% form 'customer', id: 'contact-form' %}
                    <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        <div class="col-12">
                            <div class="input-group mb-2">
                                <textarea type="text" name="contact[Message]" rows="5" class="form-control px-1 rounded-0 border-0" placeholder="הודעה" required></textarea>
                            </div>
                        </div>
                        <div class="col-12">    
                            <div class="input-group mb-2">
                                <input type="text" name="contact[email]" class="form-control px-1 rounded-0 border-0" placeholder="מייל" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 text-xl-center text-lg-center text-md-center">
                        <div class="row align-items-center">    
                            <div class="col-md-12 col-sm-6 col-6 btn-div">
                                    <div class="upload-btn-wrapper mt-md-4 my-2 mx-sm-auto mx-2 text-center">
                                        <button class="btn btn-all upl-btn">העלאה</button>
                                        <input type="file" name="myfile" />
                                    </div>
                            </div>
                            <div class="col-md-12  col-sm-6  col-6 mt-md-4  my-2 btn-div text-center">
                                <button type="Submit"  class="btn outline-btn text-uppercase px-xl-3 px-lg-2 px-3">שלח</button>
                            </div>
                        </div>
                    </div> 
                    </div>
                  {% endform %}
                </div>
            </div>
          
        </div>
    </div>
</section>
{% schema %}
{
"name": "Contact Us",
"settings": [
{
"type": "text",
"id": "contact_title",
"label": "Contact Form Title"
},
{
"type": "text",
"id": "description_1",
"label": "Contact Form Description 1"
},
{
"type": "text",
"id": "description_2",
"label": "Contact Form Description 2"
},
{
"type":"image_picker",
"id":"featured_image",
"label":"Featured Image"
},
{
"type":"text",
"label":"Upload Label",
"id":"file_upload_label"
}
],
"presets": [
{
    "name": "Contact Us",
    "category": "Index"
}]
}
{% endschema %} 