{% if section.settings.enable_section %}
<section class="py-5 contact-us">
    <div class="container">
        {% if section.settings.title != blank %}
            <div class="row">
                <div class="col-12 text-center pb-2">
                    <h1 class="title mb-2">{{ section.settings.title }}</h1>
                </div>
            </div>
        {% endif %}
        <div class="row mb-4">
            <div class="col-10 content-div text-center m-auto ">
            <p>{{section.settings.small_title1}}</p>
            <p>{{section.settings.small_title2}}</p>
            </div>
        </div>
        <div class="row">
            {% comment %}
            <div class="col-12 col-md-6 col-lg-5 ms-order contact-form">
                <div class="mb-5">
                    {% if section.settings.detail_title != blank %}
                        <h5 class="text-uppercase font-weight-bold">{{ section.settings.detail_title }}</h5>
                    {% endif %}
                    {% if section.settings.detail_subtitle != blank %}
                        <p class="mb-0">{{ section.settings.detail_subtitle }}</p>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {% if section.settings.sidebar_title != blank %}
                        <h5 class="text-uppercase font-weight-bold">{{ section.settings.sidebar_title }}</h5>
                    {% endif %}
                    {% if section.settings.sidebar_address != blank %}
                        <span class="d-flex align-items-center mb-2">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <p class="pl-2 m-0">{{ section.settings.sidebar_address }}</p>
                        </span>
                    {% endif %}
                    {% if section.settings.sidebar_contactno != blank %}
                        <span class="d-flex align-items-center mb-2">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p class="pl-2 m-0">{{ section.settings.sidebar_contactno }}</p>
                        </span>
                    {% endif %}
                    {% if section.settings.sidebar_email != blank %}
                        <span class="d-flex align-items-center mb-2">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <p class="pl-2 m-0">{{ section.settings.sidebar_email }}</p>
                        </span>
                    {% endif %}
                </div>
            </div>
            {% endcomment %}
            <div class="col-12 col-md-6 col-lg-7 msp-order acc m-auto">
                {% form 'customer', id: 'contact-form' %}
                    <div class="form-group input-form mb-0">
                        <div class="input-form">
                            <input type="text" class="form-control" name="contact[name]" id="exampleFormControlInput1" placeholder="שם">
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-lg-6 form-group input-form">
                                <input type="email" name="contact[email]" class="form-control" id="inputEmail4" placeholder="אימייל">
                            </div>
                            <div class="col-12 col-lg-6 input-form">
                                <input type="text" name="contact[contact-no]" class="form-control" id="contact-no" placeholder="מספר טלפון">
                            </div>
                        </div>
                        <div class="contact-form input-form">
                            <textarea class="form-control" name="contact[Message]" placeholder="הודעה" id="exampleFormControlTextarea1" rows="4"></textarea>
                        </div>
                        <div class="input-form mb-0">
                            <button type="Submit" class="btn btn-all">שלחy</button>
                        </div>
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
    {
      "name": "Contact us",
      "settings": [
        {
            "type": "checkbox",
            "id": "enable_section",
            "label": "Enable Section?"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "SHOP OUR INSTAGRAM"
        },
         {
            "type": "text",
            "id": "small_title1",
            "label": "Small Ttitle 1",
            "default": "מלא את הטופס במהירות ונחזור אליך."
        },
        {
            "type": "text",
            "id": "small_title2",
            "label": "Small Ttitle 2",
            "default": "נשמח לשמוע עם איזה אתגרים אתה מתמודד כרגע."
        },
        {
            "type": "header",
            "content": "Sidebar"
        },
        {
            "type": "text",
            "id": "sidebar_title",
            "label": "Title",
            "default": "VISIT OUR CLUB"
        },
        {
            "type": "textarea",
            "id": "sidebar_address",
            "label": "Address",
            "default": "100 Biscayne Blvd, Florida 33148"
        },
        {
            "type": "textarea",
            "id": "sidebar_contactno",
            "label": "Contact No.",
            "default": "(305) 555-4446"
        },
        {
            "type": "textarea",
            "id": "sidebar_email",
            "label": "Email",
            "default": "spam@unitedtheme.com"
        },
        {
            "type": "header",
            "content": "Get in Touch"
        },
        {
            "type": "text",
            "id": "detail_title",
            "label": "Title",
            "default": "GET IN TOUCH"
        },
        {
            "type": "textarea",
            "id": "detail_subtitle",
            "label": "Content",
            "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut."
        }
      ]
    }
  {% endschema %}