{% if section.settings.enable %}
<section>
    <div class="container">
        <div class="row">
            {% if section.settings.btnurl != blank and section.settings.button_label %}
               <div class="col-12 text-center my-3">
                    <p>{{section.settings.message}}</p>
                    <a href="{{section.settings.btnurl}}" class="custom_link btn btn-all">{{ section.settings.button_label}}</a>
               </div>
               {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Contact Link",
"settings": [
        {
            "type":"checkbox",
            "id": "enable",
            "label": "Enable ?"
        },
        {
        "type":"text",
        "id":"message",
        "label":"Message "
        },
        {
            "type":"text",
            "label":"button label",
            "id":"button_label"
        },
        {
            "type":"url",
            "label":"Button Link",
            "id":"btnurl"
        }
  ]

}
{% endschema %}