<section class="conversion-2-section pt-5 pb-3">
    <div class="container">
        <div class="col-12  text-center min-about mb-4">
            <div class="title-div position-relative">
                <h3 class="m-auto position-relative  wow heartBeat">{{section.settings.title}}</h3>
                <!-- <p class="pt-1">הצטרף לאלפי לקוחות מרוצים המשתמשים בתבנית שלנו ברחבי העולם.</p> -->
                <i class="fa fa-angle-double-down down-arrow mt-2"></i>
            </div>
        </div> 
            {% assign first = true %}
            {% for block in section.blocks %}
                {% if block.settings.enable_content %}
                    {%- capture titles -%}{%- if first == false -%}{{titles  | strip | strip_newlines }},{% else %} {% assign first = false %}{%- endif -%}{{block.settings.block_title  | strip | strip_newlines }}
                    {%- endcapture -%}
                {% endif %}    
            {% endfor%}
            {% assign title_array1 = titles | strip | strip_newlines | split: ","  %}
            {% assign title_array = title_array1 | uniq %} 
                {% for item in title_array %}
                    <div class="row mt-5 mx-0">  
                        <div class="col-12 p-0">
                            <div class="head_title">
                                <h5 class="mb-3 wow bounceInDown">{{item}}</h5>
                            </div>
                            <div class="conver-item-ul row">
                                {% for block in section.blocks %}
                                    {% if block.settings.enable_content and block.settings.block_title == item %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 wow flash">
                                        <div class="item_box">
                                                <div class="item_img_box">
                                                    {% if block.settings.block_image != blank %}
                                                    <img src="{{block.settings.block_image | img_url:'medium'}}" alt="{{block.settings.block_image.alt | default:block.settings.content }}" class="lazyload">
                                                    {% endif %}
                                                </div>
                                                <p>{{block.settings.content}}</p>
                                        </div> 
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>               
                    </div>
                {% endfor %}
     {% comment %}
      <div class="row">
            <div class="col-12 p-0">
                <div class="head_title">
                    <h5 class="mb-3">סטנדרט</h5>
                </div>
                <div class="conver-item-ul row">
                    <div class="col-lg-2">
                       <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture1_bef74fae-2f79-47ff-b018-a4cdf732d3e7.png?v=1582188303" alt="">
                            </div>
                            <p>Micro Cassette</p>
                       </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture2_5a3f167e-fab4-4c58-baaa-00df63f225b5.jpg?v=1582188303" alt="">
                             </div>
                             <p>Cassette</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture3_add09a16-4f74-4a7b-8c3a-2e2d5f46940c.png?v=1582188306" alt="">
                             </div>
                             <p>DVD</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture4.png?v=1582188306" alt="">
                             </div>
                             <p>CD</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture5.png?v=1582188306" alt="">
                             </div>
                             <p>MiniDV</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture6.jpg?v=1582188305" alt="">
                             </div>
                             <p>MicroMV</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture7.jpg?v=1582188305" alt="">
                             </div>
                             <p>VHS</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture8.png?v=1582188306" alt="">
                             </div>
                             <p>VHSC</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture9.jpg?v=1582188305" alt="">
                             </div>
                             <p>HI 8</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture10.jpg?v=1582188305" alt="">
                             </div>
                             <p>Video 8</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture11.jpg?v=1582188305" alt="">
                             </div>
                             <p>Digital 8</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>  
        
        <div class="row mt-5">
            <div class="col-12 p-0">
                <div class="head_title">
                    <h5 class="mb-3">מקצועי</h5>
                </div>
                <div class="conver-item-ul row">
                    <div class="col-lg-2">
                       <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture12.jpg?v=1582194653" alt="">
                            </div>
                            <p>Beta Digital</p>
                       </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                             <div class="item_img_box">
                                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture13.jpg?v=1582194653" alt="">
                             </div>
                             <p>Betacam SX</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture14.jpg?v=1582194653" alt="">
                            </div>
                            <p>Betacam SP</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture15_0c7f1b5f-f0aa-4578-9346-9890714b61ee.jpg?v=1582194653" alt="">
                            </div>
                            <p>Open Reel</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture16.jpg?v=1582194653" alt="">
                            </div>
                            <p>U-Matic</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture17.jpg?v=1582194653" alt="">
                            </div>
                            <p>9.5mm</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture18_4b41a36c-e375-480c-9694-4ee3680d86e2.png?v=1582194653" alt="">
                            </div>
                            <p>16mm</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture19_9d4a289c-849c-45b4-8eb1-2fc41d3263ba.png?v=1582194653" alt="">
                            </div>
                            <p>8mm</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture20.jpg?v=1582194654" alt="">
                            </div>
                            <p>MPEG IMX</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture21.jpg?v=1582194653" alt="">
                            </div>
                            <p>HDCAM</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture22.gif?v=1582194653" alt="">
                            </div>
                            <p>DVCamPro</p>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="item_box">
                            <div class="item_img_box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture23_85ea6bbf-225d-45d8-a493-c0c9023409fa.png?v=1582194653" alt="">
                            </div>
                            <p>DVcam</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        {% if section.settings.enable_contact %}
            <div class="col-12 text-center mt-4 convertion-note-div">
                <p class="mb-0">{{section.settings.contact_title}}</p>
                <a href="{{section.settings.contact_url}}" class="btn btn-all">{{section.settings.contact_url_title}}</a>
            </div>
        {% endif %}
    </div>
</section>
{% schema %}
{
"name": "Conversion 2",
  "settings": [
       {
           "type":"header",
           "content":"Main"
       },
       {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
      },
      {
          "type":"text",
          "id":"title",
          "label":"Title For Format Map",
          "default":"מפת הפורמטים"
      },
       {
           "type":"header",
           "content":"Contact Link"
       },
       {
           "type":"checkbox",
           "id":"enable_contact",
           "label":"Enable Contact Link ?"
       },
       {
           "type":"text",
           "id":"contact_title",
           "label":"Contact Title",
           "default":"לא מצאת את הפורמט שאתה צריך?"
       },
       {
           "type":"text",
           "id":"contact_url_title",
           "label":"Contact Url Title",
           "default":"צור איתנו קשר"
       },
       {
           "type":"url",
           "id":"contact_url",
           "label":"Contact Url"
       }
  ],
  "blocks":[
        {
      "type": "example_format",
      "name": "Example format",
      "settings": [
          {
            "type":"checkbox",
            "id":"enable_content",
            "label":"Enable"
          },
          {
            "type":"text",
            "id":"block_title",
            "label":"Format Title"
          },
          {
            "type":"text",
            "id": "content",
            "label": "Description"
          } ,
          {
            "type":"image_picker",
            "id": "block_image",
            "label": "Image"
          }
      ]
    }
  ]
}
{% endschema %}