<section class="faq-main-section py-md-5 py-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 my-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <h4>ניווט מהיר</h4>
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">{{ section.settings.tab_1 }}</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">{{ section.settings.tab_2 }}</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">{{ section.settings.tab_3 }}</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">{{ section.settings.tab_4 }}</a>
          <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-tab-5" role="tab" aria-controls="v-pills-tab-5" aria-selected="false">{{ section.settings.tab_5 }}</a>
          <a class="nav-link" id="v-pills-6-tab" data-toggle="pill" href="#v-pills-tab-6" role="tab" aria-controls="v-pills-tab-6" aria-selected="false">{{ section.settings.tab_6 }}</a>
          <a class="nav-link" id="v-pills-7-tab" data-toggle="pill" href="#v-pills-tab-7" role="tab" aria-controls="v-pills-tab-7" aria-selected="false">{{ section.settings.tab_7 }}</a>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 my-2">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <section class="faq-section ">
                <div class="row">
                  <div class="col-xl-11 col-lg-11 col-md-12 m-auto">
                    <div class="title mb-3">
                      <h3 class="text-right">{{ section.settings.tab_1 }}</h3>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="accordion" id="accordionExample">
                          {% for block in section.blocks %}
                          {% if block.type == 'block-1' %}
                          <div class="card">
                            <div class="card-header" id="heading-{{ block.id}}">
                              <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne-{{ block.id }}" aria-expanded="true" aria-controls="collapseOne-{{ block.id }}">
                                  <b>{{ block.settings.qusestion_text }}</b>
                                </button>
                              </h2>
                            </div>
                        
                            <div id="collapseOne-{{ block.id }}" class="collapse {% if forloop.first %} show {% endif %}" aria-labelledby="heading-{{ block.id}}" data-parent="#accordionExample">
                              <div class="card-body">
                                {{ block.settings.ans_text }}
                                <!-- <a class="button-all banner-btn mt-3" href="{{ block.settings.btn_url }}">{{ block.settings.btn_text }}</a> -->
                              </div>
                            </div>
                          </div>
                          {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <section class="faq-section ">
              <div class="row">
                <div class="col-xl-11 col-lg-11 col-md-12 m-auto">
                  <div class="title mb-3">
                    <h3 class="text-right">{{ section.settings.tab_2 }}</h3>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="accordion" id="accordionExample-2">
                        {% for block in section.blocks %}
                        {% if block.type == 'block-2' %}
                        <div class="card">
                          <div class="card-header" id="heading-{{ block.id}}">
                            <h2 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne-{{ block.id }}" aria-expanded="true" aria-controls="collapseOne-{{ block.id }}">
                                <b>{{ block.settings.qusestion_text_2 }}</b>
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne-{{ block.id }}" class="collapse {% if forloop.first %} show {% endif %}" aria-labelledby="heading-{{ block.id}}" data-parent="#accordionExample-2">
                            <div class="card-body">
                              {{ block.settings.ans_text_2 }}
                              <!-- <a class="button-all banner-btn mt-3" href="{{ block.settings.btn_url }}">{{ block.settings.btn_text }}</a> -->
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <section class="faq-section ">
              <div class="row">
                <div class="col-xl-11 col-lg-11 col-md-12 m-auto">
                  <div class="title mb-3">
                    <h3 class="text-right">{{ section.settings.tab_3 }}</h3>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="accordion" id="accordionExample-3">
                        {% for block in section.blocks %}
                          {% if block.type == 'block-3' %}
                            <div class="card">
                              <div class="card-header" id="heading-{{ block.id}}">
                                <h2 class="mb-0">
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne-{{ block.id }}" aria-expanded="true" aria-controls="collapseOne-{{ block.id }}">
                                    <b>{{ block.settings.qusestion_text_3 }}</b>
                                  </button>
                                </h2>
                              </div>
                          
                              <div id="collapseOne-{{ block.id }}" class="collapse {% if forloop.first %} show {% endif %}" aria-labelledby="heading-{{ block.id}}" data-parent="#accordionExample-3">
                                <div class="card-body">
                                  {{ block.settings.ans_text_3 }}
                                  <!-- <a class="button-all banner-btn mt-3" href="{{ block.settings.btn_url }}">{{ block.settings.btn_text }}</a> -->
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <section class="faq-section ">
              <div class="row">
                <div class="col-xl-11 col-lg-11 col-md-12 m-auto">
                  <div class="title mb-3">
                    <h3 class="text-right">{{ section.settings.tab_4 }}</h3>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="accordion" id="accordionExample-4">
                        {% for block in section.blocks %}
                          {% if block.type == 'block-4' %}
                            <div class="card">
                              <div class="card-header" id="heading-{{ block.id}}">
                                <h2 class="mb-0">
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne-{{ block.id }}" aria-expanded="true" aria-controls="collapseOne-{{ block.id }}">
                                    <b>{{ block.settings.qusestion_text_4 }}</b>
                                  </button>
                                </h2>
                              </div>
                          
                              <div id="collapseOne-{{ block.id }}" class="collapse {% if forloop.first %} show {% endif %}" aria-labelledby="heading-{{ block.id}}" data-parent="#accordionExample-4">
                                <div class="card-body">
                                  {{ block.settings.ans_text_4 }}
                                  <!-- <a class="button-all banner-btn mt-3" href="{{ block.settings.btn_url }}">{{ block.settings.btn_text }}</a> -->
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
          </div>
          <div class="tab-pane fade" id="v-pills-tab-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
            <section class="faq-section ">
              <div class="row">
                <div class="col-xl-11 col-lg-11 col-md-12 m-auto">
                  <div class="title mb-3">
                    <h3 class="text-right">{{ section.settings.tab_5 }}</h3>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="accordion" id="accordionExample-5">
                        {% for block in section.blocks %}
                        {% if block.type == 'block-5' %}
                        <div class="card">
                          <div class="card-header" id="heading-{{ block.id}}">
                            <h2 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne-{{ block.id }}" aria-expanded="true" aria-controls="collapseOne-{{ block.id }}">
                                <b>{{ block.settings.qusestion_text_5 }}</b>
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne-{{ block.id }}" class="collapse {% if forloop.first %} show {% endif %}" aria-labelledby="heading-{{ block.id}}" data-parent="#accordionExample-5">
                            <div class="card-body">
                              {{ block.settings.ans_text_5 }}
                              <!-- <a class="button-all banner-btn mt-3" href="{{ block.settings.btn_url }}">{{ block.settings.btn_text }}</a> -->
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
          </div>
          <div class="tab-pane fade" id="v-pills-tab-6" role="tabpanel" aria-labelledby="v-pills-6-tab">
            <section class="faq-section ">
              <div class="row">
                <div class="col-xl-11 col-lg-11 col-md-12 m-auto">
                  <div class="title mb-3">
                    <h3 class="text-right">{{ section.settings.tab_6 }}</h3>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="accordion" id="accordionExample-6">
                        {% for block in section.blocks %}
                        {% if block.type == 'block-6' %}
                          <div class="card">
                            <div class="card-header" id="heading-{{ block.id}}">
                              <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne-{{ block.id }}" aria-expanded="true" aria-controls="collapseOne-{{ block.id }}">
                                  <b>{{ block.settings.qusestion_text_6 }}</b>
                                </button>
                              </h2>
                            </div>
                        
                            <div id="collapseOne-{{ block.id }}" class="collapse {% if forloop.first %} show {% endif %}" aria-labelledby="heading-{{ block.id}}" data-parent="#accordionExample-6">
                              <div class="card-body">
                                {{ block.settings.ans_text_6 }}
                                <!-- <a class="button-all banner-btn mt-3" href="{{ block.settings.btn_url }}">{{ block.settings.btn_text }}</a> -->
                              </div>
                            </div>
                          </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
          </div>
          <div class="tab-pane fade" id="v-pills-tab-7" role="tabpanel" aria-labelledby="v-pills-7-tab">
            <section class="faq-section ">
              <div class="row">
                <div class="col-xl-11 col-lg-11 col-md-12 m-auto">
                  <div class="title mb-3">
                    <h3 class="text-right">{{ section.settings.tab_7 }}</h3>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="accordion" id="accordionExample-7">
                        {% for block in section.blocks %}
                        {% if block.type == 'block-7' %}
                        <div class="card">
                          <div class="card-header" id="heading-{{ block.id}}">
                            <h2 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne-{{ block.id }}" aria-expanded="true" aria-controls="collapseOne-{{ block.id }}">
                                <b>{{ block.settings.qusestion_text_7 }}</b>
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne-{{ block.id }}" class="collapse {% if forloop.first %} show {% endif %}" aria-labelledby="heading-{{ block.id}}" data-parent="#accordionExample-7">
                            <div class="card-body">
                              {{ block.settings.ans_text_7 }}
                              <!-- <a class="button-all banner-btn mt-3" href="{{ block.settings.btn_url }}">{{ block.settings.btn_text }}</a> -->
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% comment %}
{% if section.settings.enable_section %}
  
{% endif %}
{% endcomment %}

{% schema %}
{
"name": "FAQs Section",
  "settings": [
      {
        "type": "header",
        "content": "FAQs" 
      },
      {
        "type": "checkbox",
        "id": "enable_section", 
        "label": "Enable Section" 
      },
      {
        "type":"text",
        "id":"nav_title",
        "label":"Navigation Title"
      },
      {
        "type": "textarea",
        "id": "tab_1", 
        "label": "Tab 1" 
      },
      {
        "type": "textarea",
        "id": "tab_2", 
        "label": "Tab 2" 
      },
      {
        "type": "textarea",
        "id": "tab_3", 
        "label": "Tab 3" 
      },
      {
        "type": "textarea",
        "id": "tab_4", 
        "label": "Tab 4" 
      },
      {
        "type": "textarea",
        "id": "tab_5", 
        "label": "Tab 5" 
      },
      {
        "type": "textarea",
        "id": "tab_6", 
        "label": "Tab 6" 
      },
      {
        "type": "textarea",
        "id": "tab_7", 
        "label": "Tab 7" 
      }
  ],
  "blocks":[
    {
      "type": "block-1",
      "name": "סריקה",
      "settings": [
          {
            "type":"textarea",
            "id": "qusestion_text",
            "label": "Question"
          },
          {
            "type":"textarea",
            "id": "ans_text",
            "label": "Answer"
          }
      ]
    },
    {
      "type": "block-2",
      "name": "תרגום",
      "settings": [
          {
            "type":"textarea",
            "id": "qusestion_text_2",
            "label": "Question"
          },
          {
            "type":"textarea",
            "id": "ans_text_2",
            "label": "Answer"
          }
      ]
    },
    {
      "type": "block-3",
      "name": "המרות",
      "settings": [
          {
            "type":"textarea",
            "id": "qusestion_text_3",
            "label": "Question"
          },
          {
            "type":"textarea",
            "id": "ans_text_3",
            "label": "Answer"
          }
      ]
    },
    {
      "type": "block-4",
      "name": "פענוח",
      "settings": [
          {
            "type":"textarea",
            "id": "qusestion_text_4",
            "label": "Question"
          },
          {
            "type":"textarea",
            "id": "ans_text_4",
            "label": "Answer"
          }
      ]
    },
    {
      "type": "block-5",
      "name": "תמלול",
      "settings": [
          {
            "type":"textarea",
            "id": "qusestion_text_5",
            "label": "Question"
          },
          {
            "type":"textarea",
            "id": "ans_text_5",
            "label": "Answer"
          }
      ]
    },
    {
      "type": "block-6",
      "name": "קריינות",
      "settings": [
          {
            "type":"textarea",
            "id": "qusestion_text_6",
            "label": "Question"
          },
          {
            "type":"textarea",
            "id": "ans_text_6",
            "label": "Answer"
          }
      ]
    },
    {
      "type": "block-7",
      "name": "משלוח ותהליך ההזמנה",
      "settings": [
          {
            "type":"textarea",
            "id": "qusestion_text_7",
            "label": "Question"
          },
          {
            "type":"textarea",
            "id": "ans_text_7",
            "label": "Answer"
          }
      ]
    }
  ]
}
{% endschema %}