{% comment %}
<footer class="footer">
  <div class="container footer-top  pt-5">
    <div class="row py-5 justify-content-center text-xl-left text-lg-left text-md-center text-sm-center text-center">
      <div class="col-12 col-lg-3 col-xl-3 col-md-4 fst-col">
        <img src="{{section.settings.widget_logo | img_url:'original'}}" alt="Logo" />
        <p>
          {{ section.settings.widget_details_1 }}
        </p>
        <ul class="list-unstyled d-flex mb-0 footer-link">
          <li class="pr-3">
            <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="pr-3">
            <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="pr-3">
            <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="pr-3">
            <a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="pr-3">
            <a href="#"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-3 col-xl-3 col-md-4 mb-xl-0 mb-lg-0 mb-md-0 mb-3">
        <h5 class="">{{ section.settings.widget_title_2 }}</h5>
        <ul class="list-unstyled mb-0 footer-link">
          {% for link in linklists[section.settings.widget_nav_2].links %}
          <li class="py-1"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <!-- <li class="py-1"><a href="#">MY ACCOUNT</a></li>
          <li class="py-1"><a href="#">MEN</a></li>
          <li class="py-1"><a href="#">WOMEN</a></li> -->
        </ul>
      </div>
      <div class="col-12 col-lg-3 col-xl-3 col-md-4">
        <h5 class="">{{ section.settings.widget_title_3 }}</h5>
        <ul class="list-unstyled mb-0 footer-link">
          {% for link in linklists[section.settings.widget_title_3].links %}
          <li class="py-1"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <!-- <li class="py-1"><a href="#">PRIVACY POLICY</a></li>
          <li class="py-1"><a href="#">SHIPPING POLICY</a></li>
          <li class="py-1"><a href="#">REFUND POLICY</a></li>
          <li class="py-1"><a href="#">TERMS & CONDITION</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center py-3 footer-btm">
    <p class="display-3 mb-0">
      {{ section.settings.copyright_text }}
    </p>
  </div>
</footer>
{% endcomment %}
<footer class=" footer pt-lg-5">
  <div class="container">
    <div class="row">

            {% for block in section.blocks %}
              <div class="col-sm-4 pt-5">
                <div class="footer-link-div text-sm-right text-center">
                    <h5 class="">{{block.settings.widget_title}}</h5>
                    {% if block.settings.widget_nav %}
                    <ul class="footer-ul">
                        {% for link in linklists[block.settings.widget_nav].links %}
                          <li><a href="{{link.url}}">{{link.title}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
              </div>
            {% endfor %}
            {% comment %} 
            <div class="col-md-4">
               <div class="footer-link-div">
                  <h5 class="">שירותינו</h5>
                  <ul class="footer-ul">
                    <li><a href="#">דיגיטציה</a></li>
                    <li><a href="#">המרות</a></li>
                    <li><a href="#">תרגום</a></li>
                    <li><a href="#">תמלול</a></li>
                    <li><a href="#">קריינות</a></li>
                    <li><a href="#">פענוח</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-4">
              <div class="footer-link-div">
                 <h5 class="">שירותינו</h5>
                 <ul class="footer-ul">
                   <li><a href="#">שאלות נפוצות</a></li>
                   <li><a href="#">איך זה עובד</a></li>
                   <li><a href="#">הספרייה</a></li>
                 </ul>
              </div>
           </div>
           <div class="col-md-4">
              <div class="footer-link-div">
                <h5 class="">שירותינו</h5>
                <ul class="footer-ul">
                  <li><a href="#">מי אנחנו</a></li>
                  <li><a href="#">תנאי שימוש</a></li>
                  <li><a href="#">מדיניות משלוחים </a></li>
                  <li><a href="#">והחזרות</a></li>
                </ul>
              </div>
           </div>
            {% endcomment %}
      {% comment %} <div class="col-lg-4 d-none">
        <div class="form-main-div position-relative pt-4 pb-3 pr-lg-3 pl-lg-3 pr-3 pl-3  ">
          <div class="title-div position-relative">
            <h5 class="text-white position-relative">{{section.settings.contact_title}} 
            </h5>
            <p class="mb-0">{{section.settings.description_1}}</p>
            <p> {{section.settings.description_2}}</p>  
          </div>
        <form>
        <div class="input-group mb-2">
            <textarea type="text" class="form-control px-1 rounded-0 border-0" placeholder="הודעה"></textarea>
          </div>
          <div class="input-group mb-2">
            <input type="text" class="form-control px-1 rounded-0 border-0" placeholder="מייל">
          </div>
          <div class="mt-3">
            <button class="btn outline-btn text-uppercase px-4">שלח</button>
          </div>
        </form>
        </div>
      </div> {% endcomment %}
       {% if section.settings.enable_social %}
                <div class="col-12 text-center">
                  {% if section.settings.enable_whatsapp %}
                     <a href="{{section.settings.whats_url}}" class="ml-2" target="_blank"><i class="fa fa-whatsapp"></i></i></a>
                  {% endif %}
                  {% if section.settings.enable_fb %}
                    <a href="{{section.settings.fb_url}}" class="ml-2"><i class="fa fa-facebook"></i></a>
                  {% endif %}
                  {% if section.settings.enable_email %}  
                    <a href="mailto:{{section.settings.email_val}}" class="ml-2"><i class="fa fa-envelope"></i></a>
                  {% endif %}
                </div>
     {% endif %}
    </div>
    
  </div>
  {% if section.settings.copyright_text != blank %}
    <div class="col-12 p-0 copyright">
        <p class="">{{section.settings.copyright_text}}</p> 
    </div>
  {% endif %}
</footer>
{% schema %}
{
"name": "Footer",
"max_blocks":3,
"settings": [
{
"type": "text",
"id": "copyright_text",
"label": "Copyright Text",
"default": "© Copiright Digitify.co, LLC"
},
{
"type": "header",
"content": "Social Links"
},
{
"type":"checkbox",
"id":"enable_social",
"label":"Enable Social Icons"
},
{
"type":"checkbox",
"id":"enable_fb",
"label":"Enable Facebook Icons"
},
{
"type":"url",
"id":"fb_url",
"label":"Facebook Url"
},
{
"type":"checkbox",
"id":"enable_whatsapp",
"label":"Enable Whatsapp"
},
{
"type":"url",
"id":"whats_url",
"label":"Whatsapp Url"
},

{
"type":"checkbox",
"id":"enable_email",
"label":"Enable Email"
},
{
"type":"text",
"id":"email_val",
"label":"Email"
}
],
"blocks":[
{
"type":"widget",
"name":"widget",
"settings":[
{
"type": "header",
"content": "Footer widget"
},
{
"type": "text",
"id": "widget_title",
"label": "Widget Title"
},
{
"type": "link_list",
"id": "widget_nav",
"label": "Navigation"
}
]
}
]
}
{% endschema %}