{% if section.settings.topbar_enabled%}
  <section class="anuucement-bar">
    <div class="container">
      <div class="col-12 p-0">
          <p class="mb-0">{{section.settings.topbar_text}}</p>
      </div>
    </div>
  </section>
{% endif %}
<header class="header_nav position-relative">
 
  {% if section.settings.logo_svg != blank %}
  <div class="logo-svg-container">
    <a href="{{ shop.url }}">
    {{section.settings.logo_svg}}
    </a>
  </div>
  {% elsif section.settings.log_img != blank %}
  <div class="logo-div position-fixed ">
    <a href="{{ shop.url }}"><img class="lazyload" src="{{ section.settings.log_img | img_url: 'original' }}" alt="Digtify.co logo"></a>
  </div>
  {% endif %}

  <nav class="navbar navbar-expand-md navbar-light big-nav d-none d-md-block position-relative">
    <div class="container py-2">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-2">
            {% for link in linklists[section.settings.main_linklist].links %}
              <li class="nav-item nav-li px-2 ">
                <a class="nav-link py-2 {% if link.links  != blank %} dropdown-toggle {% endif %}" id="{{link.title}}" {% if link.links  != blank %} role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% endif %} href="{{link.url}}"><span class="c_link-after position-relative pl-1">{{link.title}}</span></a>
                  {% if link.links != blank  %}
                    <div class="dropdown-menu dd_menu" aria-labelledby="{{link.title}}">
                    <div class="container">
                      <div class="row">
                      {% for sublink in link.links %}
                      <div class="dd_item">
                          {% for block in section.blocks %}
                          {% if block.settings.icon_txt == sublink.title %}
                          <div class="icon_img">
                            <a href="{{sublink.url}}"><img src="{{block.settings.icon | img_url:'50x50'}}" class="lazyload"></a>
                          </div>
                          {% endif %}
                            {% endfor %}
                          <a class="dropdown-item dd_item" href="{{sublink.url}}">{{sublink.title}}</a>
                      </div>
                      {% endfor %}
                      </div>
                    </div>
                    </div>
                  {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </nav>
  <nav class=" mobile-nav position-relative">
    <div class="container-fluid">
      <div class="row align-itemsy-center">  
          <div class="col text-right my-2 pl-0">
              <div class="cart-icon-mobile d-md-none d-block">
                  <a href="/cart" class="nav-link">
                      <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/cart_bag.png?v=1585234681" class="cart-image"></a> 
                      {%- assign count = 0 -%} 
                      {% if cart.item_count > 0 %}
                          {%- for item in cart.items -%}
                            {%- assign count = count | plus: 1 -%}
                          {%- endfor -%}
                          <span class="badge badge-new" id="item_count">{{count}}</span>
                      {% endif %}
              </div>          
          </div>
          <div class="col text-center my-2 p-0">
              <a href="{{ shop.url }}">
                  <img class="mobile-logo lazyload" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/axaxaxa.svg?v=1584792861" alt="Digtify.co logo">
              </a>
          </div>       
         <div class="col text-left mr-auto my-2 pr-0"> <i class="fa fa-bars toggle-btn"></i></div>
          <ul class="mobile-menu bg-dark text-right list-unstyled text-left px-3 py-2 position-fixed">
            <li class="nav-item nav-li text-right">
              <a href="#"><span class="close-btn text-white">✖</span></a>
            </li>
            
            {% for link in linklists[section.settings.main_linklist].links %}
              <li class="nav-item nav-li text-left">
                 <a class="nav-link text-white " href="{{link.url}}" {% if link.links != blank %} data-toggle="collapse" data-target="#{{link.title}}" aria-controls="{{link.title}}" aria-expanded="false" aria-label="Toggle navigation" {% endif %}>
                 {% if link.links != blank %}<span><i class="fa fa-plus text-white pl-2" aria-hidden="true"></i>
                    </span>{% endif %}
                    <span class="">{{link.title}}</span></a>
                    {% if link.links != blank  %}
                      <ul class="collapse list-unstyled bg-dark p-1" id="{{link.title}}">
                        {% for sublink in link.links %}
                          <li class="nav-item nav-li text-left">
                              <a class="nav-link text-white " href="{{sublink.url}}"><span class="">{{sublink.title}}</span></a>
                          </li>
                        {% endfor %}
                      </ul>
                   {% endif %}
              </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </nav>
  <div class="cart-icon d-md-block d-none">
    <a href="/cart" class="nav-link">
    {% comment %} <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/cart_icons.png?v=1585232677" class="cart-image"></a> {% endcomment %}
   <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/cart_bag.png?v=1585234681" class="cart-image"></a> 
    {%- assign count = 0 -%} 
 {% if cart.item_count > 0 %}
    {%- for item in cart.items -%}
      {%- assign count = count | plus: 1 -%}
    {%- endfor -%}
    <span class="badge badge-new" id="item_count">{{count}}</span>
    {% endif %}
  </div>          

{% comment %}
{% for block in section.blocks %}
<p>{{block.settings.icon_txt}}</p>
<img src="{{block.settings.icon | img_url:'original'}}">
{% endfor %}
{% endcomment %}

</header>

{% schema %}
{
"name": "Header",
"settings": [
{
  "type": "image_picker",
  "id": "log_img",
  "label": "Logo"
},
{
  "type":"textarea",
  "id":"logo_svg",
  "label":"Svg Logo"
},
{
  "type":"textarea",
  "id":"logo_svg_mobile",
  "label":"Svg Logo Mobile"
},
{
"type": "header",
"content": "Menu"
},
{
"type": "link_list",
"id": "main_linklist",
"label": "Select Menu",
"default": "main-menu"
},
{
"type": "header",
"content": "Top Bar"
},
{
"type": "checkbox",
"id": "topbar_enabled",
"label": "Enabled?",
"default": false
},
{
"type": "html",
"id": "topbar_text",
"label": "Message"
}
],
"blocks":[
{
"type":"dropdown",
"name":"dropdown",
"settings":[
        {
        "type": "text",
        "id": "icon_txt",
        "label": "Widget Title"
        },
        {
        "type": "image_picker",
        "id": "icon",
        "label": "Icon"
        }
        ]
    }
  ]
}
{% endschema %}
