<section class="how-to mt-4 mb-3">
    <div class="container">
        {% if section.settings.section_title != blank  %}
            <div class="row">
                <div class="col-12 mb-3 text-center"><h3 class="text-uppercase">{{section.settings.section_title}}</h2></div>
            </div>
        {% endif %}
         {% if section.settings.description != blank %}
            <div class="row my-4">
                <div class="col-md-11 m-auto text-center">
                {{section.settings.description}}
                </div>
            </div>    
        {% endif %}
        <div class="row ">
          {% for block in section.blocks %}
            {% if block.settings.image != blank %}
                <div class="col-md-6 my-3">
                    <div class="image-wrapper">
                        <img class="img-fluid lazyload" src="{{block.settings.image | img_url:'original' }}"> 
                    </div>
                </div>
            {% endif %}
          {% endfor %}
        </div>
       
    </div>
</section>
{% schema %}
  {
    "name": "How To",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "How To Use ?"
      },
      {
        "type": "textarea",
        "id":"description",
        "label":"description"
      }
    ],
     "blocks":[{
    "type": "image",
    "name": "Image Block",
    "settings":[
        {
        "type":"image_picker",
        "id":"image",
        "label":"Choose Image"
        }
    ] 
    }
]
  }
{% endschema %}