{% if section.settings.enable %}
<section class="pursue-passion-section pt-xl-4 pt-3 ">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 m-auto">
                <div class="row  pb-xl-5 pb-3">
                    <div class="col-lg-12 text-center px-xl-4 px-sm-1">
                        <div class="pursue-div-box py-3 px-1">
                            <h5>{{section.settings.title}}</h5>
                            <p>{{section.settings.description}}</p>
                            <a class="btn btn-all" href="{{section.settings.btn_url}}">{{section.settings.btn_text}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "How Can Help",
    "settings": [
         {
        "type":"checkbox",
        "id":"enable",
        "label":"enable"
        },
        {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"איך אנחנו יכולים לעזור?"
        },
        {
        "type":"textarea",
        "label":"Description",
        "id":"description",
        "default":"צור קשר כדי לדון בשאיפות שלך ב- Shopify Plus ואנחנו נעזור לך להגיע לשם."
        },
          {
        "type":"text",
        "id":"btn_text",
        "label":"Button label",
        "default":"נהיה בקשר"
        },
        {
            "type":"url",
            "id":"btn_url",
            "label":"Button url"

        }
    ]
  }
{% endschema %}