{% if section.settings.enable %}
<section class="expert-video-section pb-lg-5 pt-3">
    <div class="container-fluid">
        {% if section.settings.title %}
            <div class="row">
                <div class="ti-tag col-12 text-center">
                    <p class="display-4 mb-0" style="color:#f2f2f2;">{{section.settings.title}}</p>
                </div>
            </div>
        {% endif %}
        
        {% if section.settings.enable_dynamic %}
            <div class="row" id="instafeed"
            data-access_Token="{{ section.settings.instagram_token }}" 
            data-User_Id="{{ section.settings.user_id }}" 
            data-limit="{{ section.settings.instagram_limit }}">    
        </div>
        {% else %}
        <div class="row">
           {% for block in section.blocks %}
               {% if  block.settings.image != blank and block.settings.enable %}
                    {% assign value = forloop.index | modulo: 2 %}
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12   {% if value == 0 %} mt-lg-4 mt-0 {% endif %} mb-2">
                            <div class="video-box">
                                <img class="img-responsive lazyload" src="{{block.settings.image | img_url :'original '}}" alt="{{block.settings.image.alt | default : shop.name}}">
                            </div>
                     </div>
                {% endif %}
           {% endfor %}
        </div>
        {% endif %}    
            {% comment %} <div class="col-lg-2 col-md-4 col-6 mb-3">
                <div class="video-box">
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/experts-video-4.png?v=1580376359" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mt-lg-4 col-6 mt-0 mb-3">
                <div class="video-box">
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/experts-video-4.png?v=1580376359" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-3 col-6">
                <div class="video-box">
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/experts-video-4.png?v=1580376359" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-lg-4 mt-0">
                <div class="video-box">
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/experts-video-4.png?v=1580376359" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="video-box">
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/experts-video-4.png?v=1580376359" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-lg-4 mt-0">
                <div class="video-box">
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/experts-video-4.png?v=1580376359" alt="">
                </div>
            </div> {% endcomment %}
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Instagram Section",
 "max_blocks": 6,
"settings": [
    {
    "type":"checkbox",
    "id":"enable",
    "label":"Enable ?"
    },
    {
    "type":"text",
    "id":"title",
    "label":"Title"
    },
    {
    "type":"checkbox",
    "id":"enable_dynamic",
    "label":"Enable Using Instagram Token Details ?"
    },
     {
        "type" : "text",
        "label": "Instagram Token",
        "id" : "instagram_token"
    },  
    {           
       "type" : "text",
        "label": "Instagram User Id",
        "id" : "user_id"
    },
    {
    "type" : "text",
    "label": "Limit",
    "id" : "instagram_limit"
    }
],
"blocks":[{
"type": "image",
"name": "Image Block",
"settings": [
    {
    "type":"checkbox",
    "id":"enable",
    "label":"Enable ?"
},
{
"type":"image_picker",
"id":"image",
"label":"Instgram Image"
}
]
}
],
"presets": [
{
"name": "Instagram",
"category": "Index"
}
]
}
{% endschema %}