<section class="product-section py-5">
  <div class="container">
    <div class="module-title">
      {% if section.settings.title != blank %}
        <h3 class="text-center mb-3 text-uppercase">{{ section.settings.title }}</h3>
      {% endif %}
      {% if section.settings.sub_title != blank %}
        <p class="text-center">{{ section.settings.sub_title }}</p>
      {% endif %}
    </div>
    <div class="row py-3">
      <div class="index-pro-slider col-12">
          {% for block in section.blocks %}
            <div class="col animated zoomIn">
              <div class="product-img">
                <a href="{{ block.settings.product_url | within: collection }}">
                <div class="product-list"></div>
                <img src="{{ block.settings.image  | img_url:'original' }}" alt=""  />
                </a>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
"name": "Product Grid Section",
 "max_blocks": 6,
"settings": [
    {"type":"checkbox",
    "id":"enable",
    "label":"Enable ?"
    },
    {"type":"text",
    "id":"title",
    "label":"Title",
    "default":"@Blendvit"
    },
    {
      "type":"text",
      "id":"sub_title",
      "label":"Sub Title"
    },
    {"type":"url",
    "id":"url",
    "label":"Url"
    }
],
"blocks":[{
"type": "image",
"name": "Image Block",
"settings": [
  {
    "type":"image_picker",
    "id":"image",
    "label":"Product Image"
  },
  {
    "type":"url",
    "id":"product_url",
    "label":"Link Url"
  }
]
}
],
"presets": [
{
"name": "Products Grid",
"category": "Index"
}
]
}
{% endschema %}

