{% if section.settings.enable %}
<section class="testimonials py-5">
    <div class="container">
        <div class="row ">
            {% if section.settings.title %}
                <div class="col-12 text-center pb-5">
                    <h3>{{section.settings.title}}</h3>
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center">
        <div class="col-10 m-auto">
            <div class="row testimonial-slide">
   
            {% for block in section.blocks %}
                <div class="col-12 col-xl-12 col-lg-12 col-md-12  col-sm-12 mb-xl-0 mb-lg-0 mb-md-0 mb-3">
                    <div class="testimonial">
			                    {{block.settings.description}}
            		</div>

                    <div class="media">
                        <div class="media-left d-flex mr-3">
                            <img src="{{block.settings.image | img_url :'small' }}" class="rounded-circle img-fluid lazyload">										
                        </div>
                        <div class="media-body">
                            <div class="overview">
                                <div class="name"><b>{{block.settings.author}} </b></div>
                                <div class="details">{{block.settings.designation}} </div>
                                <div class="star-rating">
                                    <ul class="list-inline">
                                        {% for i in (1..5) %}
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>										
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
        </div>
    
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Testimonial Section",
"settings": [
     {"type":"checkbox",
    "id":"enable",
    "label":"Enable ?"
    }, {
    "type":"text",
    "id":"title",
    "label":"Title",
    "default":"Testimonials"
    }
],
"blocks":[{
"type": "image",
"name": "Image Block",
"settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Block image"
    },
        {
    "type": "text",
    "id": "author",
    "label": "Author Name",
    "default":"Jhon Dao"
    },
    {
    "type": "text",
    "id": "designation",
    "label": "Author Designation",
    "default":"CEO"
    },
    {
    "type": "textarea",
    "id": "description",
    "label": "Description"
    }
]
}],
"presets": [
{
"name": "Testimonials",
"category": "Testimonial"
}
]
}
{% endschema %}