{% if section.settings.enable_slider %}
<section class="slider-section py-3">
    <div class="container">
        <div class="row position-relative">
            <img class="slider-img lazyload" src="{{ section.settings.image_banner | img_url: 'original' }}" alt="{{shop.name}}">
            <div class="col-md-9 pt-15">
                    <h1 class="text-head">
                        <div id="typed-strings" style="display: none;">
                            <span>השותף שלך לשינוי דיגיטלי אמיתי</span>
                        </div>
                        <p id="typed" >{{section.settings.title}}</p>
                    </h1>	
                <!-- <h1 class="text-head">Grown your</h1> -->
                <p class="display-3 content-slider">{{section.settings.subtitle1}}</p>
                {% comment %} <p class="display-3 text-dark">אנו עוזרים לך ליצור את משרד העתיד ולתכנן מחדש את <br> האסטרטגיה הדיגיטלית שלך באמצעות פתרונות פשוטים וזריזים.</p> {% endcomment %}
                <div class="col-12 mt-3 p-0">
                    {% if section.settings.btn1enable %}
                        <a href="{{section.settings.btn1url}}" class="btn btn-all">{{section.settings.btntext}}</a>
                    {% endif %}
                    {% if section.settings.btn2enable %}
                      <a href="{{section.settings.btn2url}}" class="btn outline-btn mr-2">{{section.settings.btntext1}}</a>
                    {% endif %}
                </div>
            </div>
            <!-- <div class="col-lg-9 col-md-12">
                <form>
                    <div class="p-md-3 p-2 input-div rounded-sm-2 rounded mt-3 row">
                        <div class="col-xl-9 col-lg-8 col-md-8 col-12">
                            <input class="form-control border-0 bg-white text-dark py-2 px-2 h-auto" type="text" placeholder="Search Project........">
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-12 mt-md-0 mt-2 text-center">
                            <button class="btn btn-primary">Get started</button>
                        </div>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Index Banner Section",
"class": "index-banner-section",
"settings": [
{
"type": "checkbox",
"id": "enable_slider",
"label": "Enable Banner Slider For Desktop"
},
{
"type":"image_picker",
"id":"image_banner",
"label":"Banner Image"
},
{
"type":"image_picker",
"id":"image_banner1",
"label":"Banner Image For Mobile"
},
{
"type":"text",
"id":"title",
"label":"Banner Heading",
"default":"Organic the natural way"
},
{
"type":"text",
"id":"subtitle1",
"label":"Banner Sub Heading - 1",
"default":"All Season Long For your "
},
{
"type":"text",
"id":"subtitle2",
"label":"Banner Sub Heading - 2",
"default":"Age spots"
},
{
"type":"textarea",
"id":"description",
"label":"Banner Short Description",
"default":"Clear your skin with all natural cruelty free skin loving miracle "
}
,{
"type":"checkbox",
"id":"btn1enable",
"label":"Banner Button-1 Enable ?"
},
{
"type":"text",
"id":"btntext",
"label":"Banner Button Text",
"default":"Buy Now"
},
{
"type":"url",
"id":"btn1url",
"label":"Banner Button Url"
}
,{
"type":"checkbox",
"id":"btn2enable",
"label":"Banner Button-2 Enable ?"
},
{
"type":"text",
"id":"btntext1",
"label":"Banner Video Button Text",
"default":"Play Now"
},
{
"type":"url",
"id":"btn2url",
"label":"Banner Button Url"
}
],
"presets": [
{
"name": "Index Banner",
"category": "Banner"
}
]
}
{% endschema %}