{% if section.settings.enable %}
<section class="work-together  my-md-5 py-md-5 pt-3 py-3">
    <div class="container">
    {% if section.settings.title != blank %}
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="title">{{ section.settings.title }}</h3>
            </div>
        </div>
    {% endif %}
        <div class="row">
        {% for block in section.blocks %}
            {% if block.settings.enable %}
                <div class="col-md-4 col-sm-6 mb-md-2 m-auto">
                    <div class="together-box">
                        {% if block.settings.bg_img != blank %}
                          <img class="bg-img lazyload" src="{{block.settings.bg_img | img_url :'original' }}" alt="{{block.settings.bg_img.alt | default:shop.name}}">
                        {% endif %}
                        {% if block.settings.title != blank %}
                        <div class="head-div">
                            <h5>{{block.settings.title}}</h5>
                        </div>
                        {% endif %}
                        {% if block.settings.heading_1 != blank or block.settings.heading_2 != blank or block.settings.heading_3 != blank%}
                            <div class="content-div">
                                <p>{{block.settings.heading_1}}</p>
                                <p>{{block.settings.heading_2}}</p>
                                <p class="mb-0">{{block.settings.heading_3}}</p>
                            </div>
                        {% endif %}
                    </div>
                    {% if block.settings.btn_url != blank %}
                    <div class="btn-div">
                        <a href="{{block.settings.btn_url}}"><i class="fa fa-angle-right"></i></a>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
            {% comment %} <div class="col-md-4">
                <div class="together-box">
                    <img class="bg-img" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/04.png?v=1581054638" alt="">
                    <div class="head-div">
                        <h5>איכות אנושית</h5>
                    </div>
                    <div class="content-div">
                        <p>אנו יותר טובים ממכונות</p>
                        <p>ביצוע בקרת איכות לכל עבודה</p>
                        <p class="mb-0">זמן עבודה מהיר</p>
                    </div>
                </div>
                <div class="btn-div">
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="together-box">
                    <img class="bg-img" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/04.png?v=1581054638" alt="">
                    <div class="head-div">
                        <h5>יעילות</h5>
                    </div>
                    <div class="content-div">
                        <p>אנו יותר טובים ממכונות</p>
                        <p>ביצוע בקרת איכות לכל עבודה</p>
                        <p class="mb-0">זמן עבודה מהיר</p>
                    </div>
                </div>
                <div class="btn-div">
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="together-box">
                    <img class="bg-img" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/04.png?v=1581054638" alt="">
                    <div class="head-div">
                        <h5>איכות אנושית</h5>
                    </div>
                    <div class="content-div">
                        <p>אנו יותר טובים ממכונות</p>
                        <p>ביצוע בקרת איכות לכל עבודה</p>
                        <p class="mb-0">זמן עבודה מהיר</p>
                    </div>
                    
                </div>
                <div class="btn-div">
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Index Work Together",
"max_blocks":3,
  "settings": [
      {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
    },
     {
            "type":"text",
            "id": "title",
            "label": "Title"
        }
  ],
  "blocks":[
      {
      "type":"Work-Block",
      "name":"Block Content",
      "settings":[
        {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
        },
        {
        "type":"image_picker",
        "id":"bg_img",
        "label":"Background Image"
        },
        {
         "type":"text",
         "id":"title",
         "label":"Title"
        },
        {
         "type":"text",
         "id":"heading_1",
         "label":"Heading 1"
        },{
         "type":"text",
         "id":"heading_2",
         "label":"Heading 2"
        },{
         "type":"text",
         "id":"heading_3",
         "label":"Heading 3"
        },
        {
         "type":"url",
         "id":"btn_url",
         "label":"Button Url"
        }
        ]
    }
  ],
  "presets": [
    {
    "name": "Index Work Together",
    "category": "Index"
    }
  ]
}
{% endschema %}