{% if section.settings.enable %}
<section class="laguage-section pt-5">
    <div class="container">
        <div class="col-12  text-center min-about mb-4">
            <div class="title-div position-relative">
                <h3 class="m-auto position-relative">{{section.settings.title}}</h3>
                <!-- <p class="pt-1">הצטרף לאלפי לקוחות מרוצים המשתמשים בתבנית שלנו ברחבי העולם.</p> -->
                <i class="fa fa-angle-double-down down-arrow mt-2"></i>
            </div>
        </div>
        <div class="row">
            {% for block in section.blocks %}
                {% if block.settings.enable%}
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="main-box">
                            {% if block.settings.flag_img != blank %}
                                <div class="icon-box">
                                    <img src="{{block.settings.flag_img | img_url:'50x30'}}" alt="{{block.settings.flag_img|default: block.settings.country_name }}" class="lazyload">
                                </div>
                            {% endif %}    
                            <p class="mb-0">{{block.settings.country_name}}</p>
                        </div>    
                    </div>
                {% endif %}
            {% endfor %} 
            {% comment %} <div class="col-md-3">
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture11.png?v=1582178123" alt="">
                    </div>
                    <p class="mb-0">עברית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture12.png?v=1582178123" alt="">
                    </div>
                    <p class="mb-0">רוסית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture13.png?v=1582178123" alt="">
                    </div>
                    <p class="mb-0">אנגלית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture14.png?v=1582178123" alt="">
                    </div>
                    <p class="mb-0">ערבית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture15.jpg?v=1582178123" alt="">
                    </div>
                    <p class="mb-0">טורקית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture16.png?v=1582178123" alt="">
                    </div>
                    <p class="mb-0">דנית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture17.png?v=1582178123" alt="">
                    </div>
                    <p class="mb-0">פינית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture18.png?v=1582178123" alt="">
                    </div>
                    <p class="mb-0">שוודית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture19.png?v=1582178123" alt="">
                    </div>
                    <p class="mb-0">נורבגית</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture20.png?v=1582179598" alt="">
                    </div>
                    <p class="mb-0">גרמנית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture21.png?v=1582179598" alt="">
                    </div>
                    <p class="mb-0">סווהילי</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture22.jpg?v=1582179598" alt="">
                    </div>
                    <p class="mb-0">פטואה<span>(ג׳מייקנית)</span></p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture23.png?v=1582179598" alt="">
                    </div>
                    <p class="mb-0">צ'כית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture24.png?v=1582179598" alt="">
                    </div>
                    <p class="mb-0">פולנית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture25.png?v=1582179598" alt="">
                    </div>
                    <p class="mb-0">רומנית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture26.png?v=1582179598" alt="">
                    </div>
                    <p class="mb-0">בולגרית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture27.png?v=1582179598" alt="">
                    </div>
                    <p class="mb-0">סרבית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture28.png?v=1582179598" alt="">
                    </div>
                    <p class="mb-0">סלובקית</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture29.png?v=1582180446" alt="">
                    </div>
                    <p class="mb-0">אוקראינית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture30.png?v=1582180446" alt="">
                    </div>
                    <p class="mb-0">הונגרית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture31.png?v=1582180446" alt="">
                    </div>
                    <p class="mb-0">צרפתית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture32.png?v=1582180446" alt="">
                    </div>
                    <p class="mb-0">איטלקית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture33.jpg?v=1582180446" alt="">
                    </div>
                    <p class="mb-0">קטלאנית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture34.png?v=1582180446" alt="">
                    </div>
                    <p class="mb-0">ספרדית<span>(ספרד)</span></p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture35.png?v=1582180446" alt="">
                    </div>
                    <p class="mb-0">פורטוגזית<span>(אירופה)</span></p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture36.png?v=1582180634" alt="">
                    </div>
                    <p class="mb-0">יוונית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture37.png?v=1582180446" alt="">
                    </div>
                    <p class="mb-0">הינדי</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture38.png?v=1582182336" alt="">
                    </div>
                    <p class="mb-0">אינדונזית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture39.png?v=1582182336" alt="">
                    </div>
                    <p class="mb-0">יפנית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture40.png?v=1582182336" alt="">
                    </div>
                    <p class="mb-0">קוריאנית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture41.png?v=1582182336" alt="">
                    </div>
                    <p class="mb-0">תאית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture42.png?v=1582182336" alt="">
                    </div>
                    <p class="mb-0">וייטנאמית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture43.png?v=1582182336" alt="">
                    </div>
                    <p class="mb-0">מנדרינית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture44.png?v=1582182336" alt="">
                    </div>
                    <p class="mb-0">מלאית</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture45.jpg?v=1582182336" alt="">
                    </div>
                    <p class="mb-0">טאגאלוג</p>
                </div>
                <div class="main-box">
                    <div class="icon-box">
                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture46.png?v=1582182336" alt="">
                    </div>
                    <p class="mb-0">ניגרית</p>
                </div>
            </div>  {% endcomment %}
        </div>
         {% if section.settings.enable_contact %}
            <div class="col-12 text-center mt-4 laguage-note-div">
                <p >{{section.settings.contact_title}}</p>
                <a href="{{section.settings.contact_url}}" class="btn btn-all">{{section.settings.contact_url_title}}</a>
            </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Laguage Section",
  "settings": [
        {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
      },
      {
          "type":"text",
          "id":"title",
          "label":"Title",
          "default":"שפות לבחירה"
      },
      {
           "type":"header",
           "content":"Contact Link"
       },
       {
           "type":"checkbox",
           "id":"enable_contact",
           "label":"Enable Contact Link ?"
       },
       {
           "type":"text",
           "id":"contact_title",
           "label":"Contact Title",
           "default":"לא מצאת את הפורמט שאתה צריך?"
       },
       {
           "type":"text",
           "id":"contact_url_title",
           "label":"Contact Url Title",
           "default":"צור איתנו קשר"
       },
       {
           "type":"url",
           "id":"contact_url",
           "label":"Contact Url"
       }
  ],
  "blocks":[
    {
        "type":"languages",
        "name":"Language",
        "settings":[
        {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable "
        },
        {
            "type":"image_picker",
            "id":"flag_img",
            "label":"Flag Image"
        },
        {
            "type":"text",
            "id":"country_name",
            "label":"Country Name"
        }
        ]
    }
    ]
}
{% endschema %}