<section class="library_2">
    <div class="container">
        <div class="row py-4 px-1">
            <div class="col-12">
             <h2 class="text-right">{{blog.title}}</h2>
            </div>
             {% if article.content != blank %}      
              <div class="col-md-8 m-auto text-right">
                  {% if article.image != blank %}
                  <div class="img_div mb-1">
                      <img src="{{ article.image.src | img_url: 'large' }}"  class="lazyload img-fluid">
                  </div>
                  {% endif %}

                  <div class="content">
                      {% comment %} <h3>1 מילון דיגיטלי</h3>
                      <p>JDFNSGKJHDFSKJG</p>
                      <p>DSFG</p>
                      <p>D</p>
                      <p>FSG</p>
                      <p>G</p>
                      <p>DFG</p>
                      <p>DGF</p> {% endcomment %}
                        <h3>{{article.title}}</h3>
                        <p>{{article.content}}</p>
                  </div>
              </div>
             {% else %}
                <div class="col-12 ">
                 <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/imgpsh_fullsize_anim.png?v=1585024475" height="400px" width="400px" class="img-fluid">
                </div>
                <div class="col-12">
                <h3>בקרוב</h3>
                </div>
             {% endif %}
        </div>
    </div>
</section>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>