{% if section.settings.enable %}
<section class="library-section py-5">
    <div class="container">
        <div class="row">
        {% for block in section.blocks %}
        {% assign bl=blogs[block.settings.blog] %}
            <div class="col-md-6 col-sm-6 px-2 my-md-5 py-md-2">
               
                    {% if block.settings.blog_image != blank %}
                     <div class="library_icon text-center">
                        <img src="{{block.settings.blog_image | img_url:'large' }}" alt="{{block.settings.blog_image.alt | default:shop.name}}" class="img-fluid lazyload">
                    </div> 
                    {% endif %}
                     <div class="library_box">
                    <div class="library_content">
                        <h5 class="text-center">{{bl.title}}</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="library_ul mb-0">
                                    {% for article in blogs[block.settings.blog].articles reversed limit:5%}
                                            <li class="media"><span class="media-left ml-2">{{forloop.index}}</span><span class="medial-body">  <a href="{{article.url}}">{{article.title}}</a></span></li>                                   
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="library_ul mb-0">
                                    {% for article in blogs[block.settings.blog].articles reversed offset:5%}
                                        <li class="media" ><span class="media-left ml-2">{{forloop.index|plus:5}}</span><span class="medial-body"><a href="{{article.url}}">{{article.title}}</a></span></li>                               
                                    {% endfor %}           
                                </ul>             
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endfor %} 
            {% comment %} <div class="col-md-4">
                <div class="library_box">
                    <!-- <div class="library_icon">
                        <img src="" alt="">
                    </div> -->
                    <div class="library_content">
                        <h5 class="">מנהל נכסים דיגיטלי</h5>
                        <ul class="library_ul mb-0">
                            <li><a href="#">מילון דיגיטלי</a></li>
                            <li><a href="#">פורמטים ורזולוציות</a></li>
                            <li><a href="#">צילום</a></li>
                            <li><a href="#">תוכנות ניהול דיגיטלי</a></li>
                            <li><a href="#">ספרים דיגיטליים</a></li>
                            <li><a href="#">קריאה מהירה</a></li>
                            <li><a href="#">כתיבה מהירה</a></li>
                            <li><a href="#">הענן</a></li>
                            <li><a href="#">נוכחות דיגיטלית</a></li>
                            <li><a href="#">מחיקת מידע אישי ברשת</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="library_box">
                    <!-- <div class="library_icon">
                        <img src="" alt="">
                    </div> -->
                    <div class="library_content">
                        <h5 class="">פצחן לבן</h5>
                        <ul class="library_ul mb-0">
                            <li><a href="#">הזדהות בשני שלבים</a></li>
                            <li><a href="#">ניהול סיסמאות</a></li>
                            <li><a href="#">הצפנה</a></li>
                            <li><a href="#">הגנת הפרטיות</a></li>
                            <li><a href="#">ספאם</a></li>
                            <li><a href="#">אנטי-וירוס</a></li>
                            <li><a href="#">הונאות ווירוס כופר</a></li>
                            <li><a href="#">בלוקצ'איין</a></li>
                            <li><a href="#">תקן PCI-DSS</a></li>
                            <li><a href="#">ארנק דיגיטלי ו-NFC</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="library_box">
                    <!-- <div class="library_icon">
                        <img src="" alt="">
                    </div> -->
                    <div class="library_content">
                        <h5 class="">ארכיאולוג מידע</h5>
                        <ul class="library_ul mb-0">
                            <li><a href="#">העידן הדיגיטלי האפל</a></li>
                            <li><a href="#">היסטוריית ההיסטוריה</a></li>
                            <li><a href="#">רשת אפלה</a></li>
                            <li><a href="#">מורשת דיגיטלית</a></li>
                            <li><a href="#">פענוח</a></li>
                            <li><a href="#">שימור ידע</a></li>
                            <li><a href="#">גיבוי והתאוששות מאסון</a></li>
                            <li><a href="#">טכנולוגיות שחזור מידע</a></li>
                            <li><a href="#">כרייה, ניתוח והדמיית נתונים</a></li>
                            <li><a href="#">פורמטים ואינטגרציה</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="library_box">
                    <!-- <div class="library_icon">
                        <img src="" alt="">
                    </div> -->
                    <div class="library_content">
                        <h5 class="">מנהל חנות דיגיטלית</h5>
                        <ul class="library_ul mb-0">
                            <li><a href="#">פלטפורמה</a></li>
                            <li><a href="#">שווקים ולוקליזציה</a></li>
                            <li><a href="#">הנה"ח, סליקה ומיסוי</a></li>
                            <li><a href="#">UI/UX</a></li>
                            <li><a href="#">אנליזות ומדדי ביצוע</a></li>
                            <li><a href="#">צילום מוצרים</a></li>
                            <li><a href="#">שיווק דיגיטלי</a></li>
                            <li><a href="#">אסטרטגיית מכירה</a></li>
                            <li><a href="#">גיג אקונומי</a></li>
                            <li><a href="#">הצלחת לקוחות</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="library_box">
                    <!-- <div class="library_icon">
                        <img src="" alt="">
                    </div> -->
                    <div class="library_content">
                        <h5 class="">בלשן מרדכי</h5>
                        <ul class="library_ul mb-0">
                            <li><a href="#">אבולוציית השפות</a></li>
                            <li><a href="#">רב לשוניות</a></li>
                            <li><a href="#">עיכוב שפתי</a></li>
                            <li><a href="#">רכישת שפה</a></li>
                            <li><a href="#">פילולוגיה</a></li>
                            <li><a href="#">טכנולוגיית תרגום שפות</a></li>
                            <li><a href="#">בית קברות לשפות</a></li>
                            <li><a href="#">השפה הכי ריווחית</a></li>
                            <li><a href="#">אטימולוגיה</a></li>
                            <li><a href="#">שפה אחת לכולם</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="library_box">
                    <!-- <div class="library_icon">
                        <img src="" alt="">
                    </div> -->
                    <div class="library_content">
                        <h5 class="">סייען דיגיטלי</h5>
                        <ul class="library_ul mb-0">
                            <li><a href="#">נגישות אתרים</a></li>
                            <li><a href="#">טכנולוגיה לעיוורים</a></li>
                            <li><a href="#">ניהול משימות</a></li>
                            <li><a href="#">מפת חשיבה</a></li>
                            <li><a href="#">טכנולוגיית זיהוי</a></li>
                            <li><a href="#">הדמיות</a></li>
                            <li><a href="#">רפואת העתיד</a></li>
                            <li><a href="#">זירות מסחר (מרקטפלייס)</a></li>
                            <li><a href="#">למידה מתוקשבת (אי לרנינג)</a></li>
                            <li><a href="#">מאגרי מידע ויקי</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="library_box">
                    <!-- <div class="library_icon">
                        <img src="" alt="">
                    </div> -->
                    <div class="library_content">
                        <h5 class="">מפתח מוזיקלי</h5>
                        <ul class="library_ul mb-0">
                            <li><a href="#">פורמטים</a></li>
                            <li><a href="#">הפודקאסט</a></li>
                            <li><a href="#">שירות מוזיקה דיגיטלי</a></li>
                            <li><a href="#">שמיעה מהירה</a></li>
                            <li><a href="#">ספר שמע</a></li>
                            <li><a href="#">טכנולוגיית שמע</a></li>
                            <li><a href="#">טכנולוגיית הקלטה</a></li>
                            <li><a href="#">תוכנות ניהול סאונד</a></li>
                            <li><a href="#">מאגרי מוזיקה</a></li>
                            <li><a href="#">מאגרי וידאו</a></li>
                        </ul>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Library Section",
    "settings": [ 
        {
        "type":"checkbox",
        "id":"enable",
        "label":"enable"
        }
    ],
    "blocks":[
        {
            "type":"blogs",
            "name":"blogs",
            "settings":[
                {
                    "type":"blog",
                    "id":"blog",
                    "label":"Choose Blog"
                },
                {
                    "type":"image_picker",
                    "id":"blog_image",
                    "label":"blog Image"
                }
            ]

    }

    ]
  }
{% endschema %}