{% if section.settings.enable_banner %}
{% assign width='col-12' %}
{% assign text_align='text-md-center text-center' %}
{% assign  view = true %}
<section class="main-banner-section ">
    {% if section.settings.main_img != blank %}
        <img class="main-banner-img img-fluid lazyload" src="{{ section.settings.main_img | img_url: 'original' }}" alt="{{section.settings.main_img.alt | default:collection.title}}">
    {% endif %}
    <div class="container">
        <div class="row pb-md-5 pb-sm-5 pb-3 align-items-center">
            {% if template contains "collection" %}
                {% for block in section.blocks %}
                    {% assign blc_collection="" %}
                    {% if block.settings.plan != blank %}
                        {% assign blc_collection = collections[block.settings.plan] %}  
                    {% endif %}
                    {% if blc_collection != blank and collection.handle == blc_collection.handle %}
                        {% if block.settings.featured_image != blank %}
                            {% assign view = false %}
                            {% assign width='col-md-12' %}
                            {% assign text_align = 'text-center' %}
                            <div class="{{width}} {{text_align}}">
                                <h1>{{collection.title}}</h1>
                                {% comment %} {% include 'breadcrumbs'  %} {% endcomment %}
                            </div> 
                            <div class="col-md-12 text-center">
                                <img src="{{block.settings.featured_image |img_url:'large' }}"  alt="{{block.settings.featured_image.alt | default: shop.name}}" class="lazyload img-fluid content_image">
                            </div>       
                        {% endif %}   
                    {% endif %}
                {% endfor %}
                {% if view %}
                    {% assign width='col-md-12' %}
                    <div class="{{width}} {{text_align}}">
                        <h1>{{collection.title}}</h1>
                        {% comment %} {% include 'breadcrumbs'  %} {% endcomment %}
                    </div>
                {% endif %}
            {% elsif template contains "page" %}
           
                {% for block in section.blocks %}
                  {% assign page_custom = "" %}
                    {% if block.settings.page_handle != blank %}
                        {% assign page_custom = pages[block.settings.page_handle] %}
                    {% endif %}
                    {% if page_custom != blank and page.handle == page_custom.handle %}
                        {% if block.settings.featured_image != blank %}
                            {% assign view= false %}
                            {% assign width='col-md-12' %}
                             {% assign text_align = 'text-center' %}
                            <div class="{{width}} {{text_align}}">
                                <h1>{{ page.title }}</h1>
                                {% comment %} {% include 'breadcrumbs'  %} {% endcomment %}
                            </div> 
                            <div class="col-md-12  text-center">
                                <img src="{{block.settings.featured_image |img_url:'large' }}"  alt="{{block.settings.featured_image.alt  | default:shop.name }}" class="lazyload img-fluid  content_image">
                            </div>
                        {% endif %}    
                    {% endif %}
                {% endfor %}   
                {% if view %}
                    {% assign width='col-md-12' %}
                    <div class="{{width}} {{text_align}}">
                        <h1>{{ page.title }}</h1>
                        {% comment %} {% include 'breadcrumbs'  %} {% endcomment %}
                    </div>
                {% endif %} 
            {% else %}
                    {% assign width='col-md-12' %}
                    <div class="{{width}} {{text_align}}">
                        <h1>{{ page.title }}</h1>
                        <h1>{{collection.title}}</h1>
                        {% comment %} {% include 'breadcrumbs'  %} {% endcomment %}
                    </div> 
            {% endif  %}         
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Services-banner",
  "settings": [
        {
            "type":"header",
            "content":"Banner Content"
        }, 
         {
            "type":"checkbox",
            "id": "enable_banner",
            "label": "Enable Banner ?"
        },
        {
            "type":"image_picker",
            "id": "main_img",
            "label": "Background Image "
        }
  ],
"blocks":[
    {  
        "type":"plan-image",
        "name":"Plan Image",
        "settings":[
            {
                "type":"image_picker",
                "label":"Featured Image",
                "id":"featured_image"
            },
            {
                "type":"collection",
                "label":"Choose Plan",
                "id":"plan"
            },
            {
                "type":"page",
                "label":"Choose Page",
                "id":"page_handle"
            }
        ]
    }
  ]
}
{% endschema %}