<section class="pursue-passion-section pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 m-auto">
                <div class="row">
                    <div class="col-lg-6 text-center px-3 mb-4">
                        <div class="pursue-div-box bg-white p-3">
                            <h5>החזון שלנו</h5>
                            <p class="mb-0">אין שוב מי שאוהב או רודף או חפץ להשיג כאב מעצמו, מכיוון שזה כאב, אלא מכיוון שלעתים מתרחשות נסיבות בהן עמל וכאב יכולים להפיק.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center px-3 ">
                        <div class="pursue-div-box bg-white p-3">
                            <h5>החזון שלנו</h5>
                            <p class="mb-0">אין שוב מי שאוהב או רודף או חפץ להשיג כאב מעצמו, מכיוון שזה כאב, אלא מכיוון שלעתים מתרחשות נסיבות בהן עמל וכאב יכולים להפיק.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Mission Section",
    "settings": [
    ]
  }
{% endschema %}