<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                {% if section.settings.image != blank %}
                    <img src="{{section.settings.image | img_url:'large'}}" class="img-fluid lazyload" alt="{{section.settings.image.alt | default:shop.name}}">
                {% else  %}
                <h1>{{ 'general.404.title' | t }}</h1>
                <p>{{ 'general.404.subtext_html' | t }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Library Section",
    "settings": [ 
        {
        "type":"image_picker",
        "id":"image",
        "label":"Image"
        }
    ]
  }
  {% endschema %}