{% if section.settings.enable %}
    <section class="nubmers-section my-md-5 py-md-5 pt-3">
        <div class="container">
            <div class="row py-3 px-2 main-row-number">
                {% if section.settings.title != blank %}
                    <div class="col-lg-12  text-center mb-4">
                        <div class="title-div position-relative">
                            <h3 class="position-relative m-auto">{{section.settings.title}}</h3>
                        </div>
                    </div>
                {% endif %}  
                <div class="col-lg-12 p-0">
                    <div class="row">
                        {% for block in section.blocks %}
                            {% if block.settings.enable %}
                                {% if block.settings.title != blank and block.settings.number_value != blank %}
                                    <div class="col-lg-3 col-md-3 col-sm-6 mb-2 text-center">
                                        <div class="number-box mb-3">
                                        <h3 class="m-auto">{{block.settings.number_value}}+</h3>
                                        <p class="mb-0">{{block.settings.title}}</p>
                                           
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% comment %} <div class="col-lg-3 col-md-3 col-6 text-center">
                            <div class="number-box">
                                <p class="mb-0">מילים שתורגמו</p>
                                <h3 class="m-auto">+1,000,000</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6 text-center">
                            <div class="number-box">
                                <p class="mb-0">דקות תמלול</p>
                                <h3 class="m-auto">+10000</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6 text-center">
                            <div class="number-box">
                                <p class="mb-0">דקות הקלטה</p>
                                <h3 class="m-auto">+1000</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6 text-center">
                            <div class="number-box">
                                <p class="mb-0">ספרים דיגיטליים</p>
                                <h3 class="m-auto">+100</h3>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>

            
            {% if section.settings.description != blank %}
             <div class="col-lg-10 m-auto pt-lg-4 pt-2 text-center">
              <p>{{section.settings.description}}</p>
             </div>
            {% endif %}
        </div>
    </section>
{% endif %}
{% schema %}
{
"name": "Index Number Section",
"max_blocks":4,
  "settings": [
         {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
        },
        {
            "type":"text",
            "id":"title",
            "label":"Title"
       },
       {
            "type":"textarea",
            "id":"description",
            "label":"Description"
       }
  ],
  "blocks":[
      {
      "name":"Count Blocks",
      "type":"Count-Blocks",
      "settings":[   
          {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
        },
          {
          "type":"text",
          "id":"title",
          "label":"Title"
      },
      {
          "type":"number",
          "id":"number_value",
          "label":"Number"
      }
      ]
  }
  ],
  "presets": [
    {
    "name": "Index Number Section",
    "category": "Index"
    }
  ]
}
{% endschema %}