{% comment %}
<section class="service-section pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h3>בוא נעבוד ביחד עכשיו, הגיע תורך... </h3>
            </div>
        </div>
        <div class="col-12 p-0">
            <div class="row service-main-box">
                <div class="col-md-8 ">
                    <div class="service-box  yellow-bg">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5><img class="img-fluid" src="" atl=""> דיגיטציה</h5>
                            </div>
                        </div>
                        <div class="row align-items-center ">
                            <div class="col-2">
                                <!-- <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture1_41325878-f457-4079-9d9a-a61938ce34fc.jpg?v=1580374085" atl=""> -->
                            </div>
                            <div class="col-10">
                                <p class="mb-0">ביחד נוכל לבנות ארכיון דיגיטלי חכם ומוגן מפני התבלות, שריפות ואסונות טבע המורכב מ:</p>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-2">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture1_41325878-f457-4079-9d9a-a61938ce34fc.jpg?v=1580374085" atl="">
                            </div>
                            <div class="col-10">
                                <p class="mb-0"><b style="color:#233d63;">ספרים</b> - המרת ספרי עיון, דת, יעץ, הדרכה וספרות מקצועית לקובץ PDF, הניתן להעתקה ומחיקה באמצעות טכנולוגיית .OCR
                                </p>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-2">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture1_41325878-f457-4079-9d9a-a61938ce34fc.jpg?v=1580374085" atl="">
                            </div>
                            <div class="col-10">
                                <p class="mb-0"><b style="color:#233d63;">מסמכים</b> - סריקת מסמכים לחברות עורכי דין, בנקים, ביטוח ודפוס המאפשרת זמינות מידע, גיבוי, שיתוף פעולה ועוד.</p>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-2">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture1_41325878-f457-4079-9d9a-a61938ce34fc.jpg?v=1580374085" atl="">
                            </div>
                            <div class="col-10">
                                <p class="mb-0"><b style="color:#233d63;">תמונות</b> – אנו מבצעים סריקה של כל סוגי התמונות בתפזורת או באלבומי כיסים, אלבומי דבק עם צלופן, אלבומים ישנים.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="service-box blue-bg">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5><img class="img-fluid" src="" atl=""> המרה</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 pl-0">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture1_41325878-f457-4079-9d9a-a61938ce34fc.jpg?v=1580374085" atl="">
                            </div>
                            <div class="col-8">
                                <p>שירות המרות וידאו ואודיו של מדיה אנלוגית לקובץ דיגיטלי.</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <p class="mb-0">אנו מבצעים שירותי דיגיטציה ל-25 סוגי מדיה אנלוגית לקובץ דיגיטלי, במעבדה מקצועית, על ידי אנשי מקצוע מהטובים בארץ. במעבדה אנו עושים שימוש בציוד דיגיטציה חדשני כדי להבטיח את התוצאה הטובה ביותר. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row service-main-box four-in-row mt-3">
                <div class="col-md-3  ">
                    <div class="service-box green-bg">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5><img class="img-fluid" src="" atl=""> תרגום
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 pl-0">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture5.jpg?v=1580374085" atl="">
                            </div>
                            <div class="col-8">
                                <p>שירותי תרגום לכל סוגי הטקסטים ב-36 שפות.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0">תרגום ב-36 שפות ע"י מתרגמים דוברי שפת אם, כולל הגהה כדי להבטיח את האיכות הטובה ביותר.
                                    אנו מתמחים בין היתר בתרגום אקדמאי, משפטי, פיננסי, רפואי, תיאורי מוצר ואתרי מסחר (Amazon, Shopify, eBay ועוד), פרסומות וסרטי תדמית, לוקליזציה של אתר או אפליקציה, ספרים דיגיטליים ועוד.
                                     </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="service-box blue-bg">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5><img class="img-fluid" src="" atl=""> תמלול
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 pl-0">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture4.jpg?v=1580374085" atl="">
                            </div>
                            <div class="col-8">
                                <p>שירות המרות וידאו ואודיו של מדיה אנלוגית לקובץ דיגיטלי.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0">המתמללים שלנו דוברי שפת שונות ברמת שפת אם ומוכשרים לבצע תמלול במספר רב של איכויות הקלטה.  שירותי התמלול שלנו כוללים: תמלול של פרוטוקולים, ישיבות, שיחות טלפון, ראיונות, פודקאסטים, רפואי, מדיה חברתית והרצאות. אנו מבטיחים דיוק של עד 100%, זיהוי דוברים, הגהה ובדיקת הדקדוק. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="service-box yellow-bg">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5><img class="img-fluid" src="" atl=""> קריינות
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 pl-0">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture3.jpg?v=1580374085" atl="">
                            </div>
                            <div class="col-8">
                                <p>שירות המרות וידאו ואודיו של מדיה אנלוגית לקובץ דיגיטלי.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0">הקריינים שלנו דוברי השפות: עברית, ערבית, אנגלית ורוסית במספר סגנונות.  אנו מבצעים קריינות לצורך סרטי הסבר, תדמית ופרסומות, נתב שיחות, אי לרנינג, דיבוב, ספר שמע ועוד. ההקלטה מתבצעת באולפן הקלטות מקצועי באיכות גבוהה וללא רעשים, ומתבצעת ע"י קריין מקצועי שמותאם עבור הטקסט שהתקבל בשפה שתבחרו. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service-box green-bg">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h5><img class="img-fluid" src="" atl=""> פענוח
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 pl-0">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture2_35ed20e2-2f82-493c-b85e-c90eefbe2a02.jpg?v=1580374085" atl="">
                            </div>
                            <div class="col-8">
                                <p>שירות המרות וידאו ואודיו של מדיה אנלוגית לקובץ דיגיטלי.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="mb-0">בשירות זה הקובץ המתקבל הוא קובץ טקסט הניתן להעתקה, שינוי ומחיקה.
                                    אנו מבצעים פענוח מ-5 פורמטים
                                    (JPG, GIF, PNG, TIF, PDF)  וממירים אותו ל-7 פורמטים לבחירתך
                                    (TXT, PDF, DOC, DOCX, RTF, XLS, XLSX). 
                                    אנו מתמחים במרבית התחומים כגון המרת טקסט מספרים, ספרות רפואית, חשבוניות, חוזים, אקדמאי וחינוכי.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endcomment %}
{% if section.settings.enable %}
<section class="technology-section py-3 position-relative">
	{% if section.settings.bg_img != blank %}
    	<div class="position-absolute img-bg-div w-50">
			<img src="{{section.settings.bg_img | img_url:'original'}}" alt="{{section.settings.bg_img.alt | default:shop.name}}" class="lazyload">
        	{% comment %} <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/dot.png?v=1581066390" alt=""> {% endcomment %}
		</div>
    {% endif %}
		<div class="container">
        {% if section.settings.title != blank %}
			<div class="row">
				<div class="col-lg-12  text-center  mb-lg-3 mb-1">
					<div class="title-div position-relative">
						<h3 class="m-auto position-relative">{{section.settings.title}}</h3>
					</div>
				</div>
			</div>
        {% endif %}
			<div class="row mt-lg-5 mt-2">
                {% for block in section.blocks %}
                    {% if block.settings.enable %}
                        <div class=" tech-main p-md-2 p-3 {% if forloop.index == 2 or  forloop.index == 3 %} top-div {% elsif  forloop.index == 5 or  forloop.index == 6 %} bottom-div {% endif %} ">
                            <div class="technology-box   {% if forloop.index == 1 %}  bg-warning    {% elsif forloop.index == 2 %} bg-success {% elsif forloop.index == 3 %} bg-secondary {% elsif forloop.index == 4 %} bg-purple {% elsif forloop.index == 5 %} bg-light {% elsif forloop.index == 6 %} bg-danger {% endif %} rounded text-center position-relative py-3 px-2">
                                <div class="min-title-div position-absolute px-1 py-2 bg-white rounded-bottom">
                                    {% comment %} <p class="display-1 mb-0 text-dark">0{{forloop.index}}</p> {% endcomment %}
                                    <p class="display-1 mb-0 text-dark">0{{block.settings.index_number}}</p>
                                </div>
                                {% if block.settings.block_img != blank %}
                                        <img src="{{block.settings.block_img | img_url :'50x50'}}" alt="{{block.settings.block_img.alt | default:shop.name }}" class="lazyload">
                                {% endif %}
                                {% if block.settings.title_main != blank %}
                                    <h5 class="mb-1  mt-2 ">{{block.settings.title_main}}</h5>
                                {% endif %}
                                {% if block.settings.description_main != blank or block.settings.description_secondary or  block.settings.title_second != blank  %}
                                    <div class="content-div text-right">
                                        {% if block.settings.description_main != blank %}
                                            <p>{{block.settings.description_main}}</p>
                                        {% endif %}  
                                        {% if block.settings.title_second != blank %}
                                            <p>{{block.settings.title_second}}</p>
                                        {% endif %}
                                        {% if block.settings.description_secondary != blank %}
                                           <p class="mb-0">{{block.settings.description_secondary }}</p>
                                        {% endif %}  
                                    </div>
                                {% endif %}   
                            </div>
				        </div>
                        {% if forloop.index == 4  %} 
                            <div class="tech-main p-md-2 p-3 d-none d-lg-block">
                            </div>
                        {% endif %}
                    {% endif %}        
                {% endfor %}
		
                 {% comment %} <div class=" tech-main p-2">
					<div class="technology-box bg-success rounded text-center position-relative py-3 px-2">
						<div class="min-title-div position-absolute px-1 py-2 bg-white rounded-bottom">
							<p class="display-1 mb-0 text-dark">01</p>
						</div>
						<img src="images/shopify-icon.png" width="50" height="50">
                        <h5 class="mb-1  mt-2 ">דיגיטציה</h5>
                        <div class="content-div text-right">
                            <p>סריקת כל סוגי 
                                החומרים עד גודל A3.
                                ספרים, מסמכים ותמונות
                                </p>
                            <p>דוגמאות לסוגי סריקות
                            </p>
                            <p class="mb-0">לחברות עריכת דין,
                                ביטוח, בנקים, עמותות, אוניברסיטאות וספריות...
                                </p>
                        </div>
					</div>
				</div>
				<div class="tech-main p-2 top-div">
					<div class="technology-box bg-danger rounded text-center  position-relative py-3 px-2">
						<div class="min-title-div position-absolute px-1 py-2 bg-white rounded-bottom">
							<p class="display-1 mb-0 text-dark">02</p>
						</div>
						<img src="images/ruby-on-rails.png" width="50" height="50">
                        <h5 class="mb-1  mt-2 ">פענוח</h5>
                        <div class="content-div text-right">
                            <p>פענוח ממעל 140 שפות
                                בכתב מודפס.
                                5 סוגי פורמטים של תמונה 
                                7 סוגי פורמטים של טקסט
                                </p>
                            <p>דוגמאות לסוגי פענוח
                            </p>
                            <p class="mb-0">לחברות עריכת דין,
                                ביטוח, בנקים, חינוכיות, אוניברסיטאות וספריות...
                                </p>
                        </div>
					</div>
				</div>  <div class="tech-main p-2 top-div">
					<div class="technology-box bg-secondary rounded text-center  position-relative py-3 px-2">
						<div class="min-title-div position-absolute px-1 py-2 bg-white rounded-bottom">
							<p class="display-1 mb-0 text-dark">03</p>
						</div>
						<img src="images/ios-icon.png" width="50" height="50">
                        <h5 class="mb-1  mt-2 ">המרה</h5>
                        <div class="content-div text-right">
                            <p>המרה של 25 פורמטים
                                אנלוגיים לקובץ דיגיטלי.
                                </p>
                            <p>דוגמאות לסוגי המרות
                            </p>
                            <p class="mb-0">לחברות תקשורת, הפקות, ארכיונים, ספריות ומוזיאונים...
                            </p>
                        </div>
					</div>
				</div>
				<div class="tech-main p-2 ">
					<div class="technology-box bg-success rounded text-center position-relative py-3 px-2">
						<div class="min-title-div position-absolute px-1 py-2 bg-white rounded-bottom">
							<p class="display-1 mb-0 text-dark">04</p>
						</div>
						<img src="images/android.png" width="50" height="50">
                        <h5 class="mb-1  mt-2 ">תרגום</h5>
                        <div class="content-div text-right">
                            <p>תרגום של 36 שפות 
                                עבור כל סוגי הטקסטים.
                                </p>
                            <p>דוגמאות לסוגי טקסטים
                            </p>
                            <p class="mb-0">תיאורי מוצר באתרי מסחר, אקדמאיים, משפטיים, פיננסיים, רפואיים...
                            </p>
                        </div>
					</div>
				</div>
				<div class="tech-main p-2 d-none d-lg-block">
                </div>
				<div class="tech-main p-2 bottom-div">
					
					<div class="technology-box bg-warning rounded text-center position-relative py-3 px-2">
						<div class="min-title-div position-absolute px-1 py-2 bg-white rounded-bottom">
							<p class="display-1 mb-0 text-dark">05</p>
						</div>
						<img src="images/laravel-icon.png" width="50" height="50">
                        <h5 class="mb-1  mt-2 ">תמלול</h5>
                        <div class="content-div text-right">
                            <p>תמלול ב-16 שפות
                                לכל סוגי ההקלטות.
                                עד 3 דוברים בהקלטה
                                שירותי הגהה כלולים.
                                </p>
                            <p>דוגמאות לסוגי תמלול
                            </p>
                            <p class="mb-0">פרוטוקולים, שיחות, הרצאות וראיונות...
                            </p>
                        </div>
					</div>
				</div>  {% endcomment %}
                {% comment %} <div class="tech-main p-2  d-none d-lg-block"></div>  {% endcomment %}
                {% comment %} <div class="tech-main p-2  bottom-div">
					<div class="technology-box bg-light rounded text-center position-relative py-3 px-2">
						<div class="min-title-div position-absolute px-1 py-2 bg-white rounded-bottom">
							<p class="display-1 mb-0 text-dark">06</p>
						</div>
						<img src="images/wordpress-icon.png" width="50" height="50">
                        <h5 class="mb-1  mt-2 ">קריינות</h5>
                        <div class="content-div text-right">
                            <p>קריינות ב-4 שפות על ידי דוברי שפת אם ובמגוון סגנונות.
                            </p>
                            <p>דוגמאות לסוגי קריינות
                            </p>
                            <p class="mb-0">ספר שמע, פרסומות, מרכזייה וסרטי הדרכה...
                            </p>
                        </div>
					</div>
				</div>  {% endcomment %}
                <!-- 
			 <div class="tech-main p-2 bottom-div d-none d-lg-block">
					<div class="technology-box bg-dark rounded text-center py-3  position-relative pt-4">
						<div class="min-title-div position-absolute px-1 py-2 bg-white rounded-bottom">
							<p class="display-1 mb-0 text-dark">07</p>
						</div>
						<ul class="text-left list-unstyled px-2 pt-2 mb-0">
							<li class="mb-1"><a href="#" class="text-white display-1">Web Design</a></li>
							<li class="mb-1"><a href="#" class="text-white display-1">SEO</a></li>
							<li class=""><a href="#" class="text-white display-1">Marketing</a></li>
						</ul>
					</div>
				</div>  
                -->
			</div>
        </div>
        {% if section.settings.bg_img != blank %}
            <div class="position-absolute img-bg-div-2 w-50">
              <img src="{{section.settings.bg_img | img_url:'original'}}" alt="{{section.settings.bg_img.alt | default:shop.name}}" class="lazyload">
            </div>
        {% endif %}
</section>
{% endif %}
{% schema %}
{
"name": "Index Services",
"max_blocks":6,
"settings": [
        { 
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
        },
        {
            "type":"text",
            "id":"title",
            "label":"Title"
       },
       {
        "type":"image_picker",
        "id":"bg_img",
        "label":"Background Image"
      }
  ]
  ,
 "blocks":[
      {
      "name":"Content Blocks",
      "type":"Content-Blocks",
      "settings":[   
          {
                "type":"checkbox",
                "id":"enable",
                "label":"Enable ?"
                },
                {
                "type":"image_picker",
                "id":"block_img",
                "label":"Image"
                } , 
                {
                "type":"number",
                "id":"index_number",
                "label":"Index Number"
                },
                {
                "type":"text",
                "id":"title_main",
                "label":"Title Main"
                },
                 {
                "type":"textarea",
                "id":"description_main",
                "label":"Description Main"
                },
                {
                "type":"text",
                "id":"title_second",
                "label":"Title Secondary"
                },
                 {
                "type":"textarea",
                "id":"description_secondary",
                "label":"Description Secondary"
                }
      ]
  }
  ],
  "presets": [
    {
    "name": "Index Services",
    "category": "Index"
    }
  ]
}
{% endschema %}