{% if section.settings.enable %}
<section class="our-wrok-section py-xl-5 py-3" id="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-12  text-center min-about mb-4">
                <div class="title-div position-relative">
                    <h3 class="m-auto position-relative">{{section.settings.title}}</h3>
                    <p class="pt-1">{{section.settings.description}}</p>
                    <i class="fa fa-angle-double-down down-arrow mt-2"></i>
                </div>
            </div>
            {% for block in section.blocks %}
                {%- capture titles -%}{%- if  forloop.index != 1 -%}{{titles  | strip | strip_newlines }},{%- endif -%}{{block.settings.block_title  | strip | strip_newlines }}
                {%- endcapture -%}
            {% endfor %}
            {% assign title_array1 = titles | strip | strip_newlines | split: ","  %}
            {% assign title_array = title_array1 | uniq %}  
             <div class="col-12 p-0">
                <ul class="nav nav-tabs justify-content-center pr-0" id="myTab" role="tablist">
                    {% for item in title_array %}
                        <li class="nav-item">
                            <a class="nav-link mb-2 {% if forloop.index  == 1 %}active {% endif %}" id="{{item | strip | strip_newlines | handleize }}-tab" data-toggle="tab" href="#{{item  | strip | strip_newlines| handleize }}" role="tab" aria-controls="{{item | strip | strip_newlines| handleize }}" aria-selected="true">{{item  | strip | strip_newlines }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    {% for item in title_array %}
                        <div class="tab-pane fade {% if forloop.index  == 1 %}show active {% endif %}" id="{{item | strip | strip_newlines| handleize }}" role="tabpanel" aria-labelledby="{{item | strip | strip_newlines | handleize}}-tab">
                                <div class="col-xl-9 col-md-11 col-12 p-0 m-auto">
                                    <div class="row m-0 main-row-content pt-4">
                                        {% for block in section.blocks %}
                                            {% if block.settings.enable_content and block.settings.block_title == item %}
                                                <div class="col-md-6 col-12">
                                                    <a href="{% if block.settings.type_service != 'document' %}#{% else %}{{block.settings.content_url}}{% endif %}" {% if block.settings.type_service != 'document' %} data-toggle="modal" data-target=".{{block.settings.type_service }}-{{ forloop.index }}" {% else %} target="_blank" {% endif %}>
                                                        <div class="main-box">
                                                            <div class="icon-box">
                                                                {% if block.settings.type_service == 'document' %}
                                                                    <i class="fa fa-book" aria-hidden="true"></i>                                                                                                                                        
                                                                {% elsif block.settings.type_service == 'audio' %}
                                                                    <i class="fa fa-file-audio-o" aria-hidden="true"></i>    
                                                                {% elsif block.settings.type_service == 'video' %}
                                                                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                                                                {% endif %}
                                                            </div>
                                                            <p class="mb-0">{{block.settings.content}}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
             </div> 
             {% for block in section.blocks %}
                {% if block.settings.enable_content %}
                    <div class="modal fade {{block.settings.type_service}}-{{forloop.index}}" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header border-0 p-0">
                                <button type="button" class="close audio" data-dismiss="modal" data-id="{{block.settings.type_service}}-{{forloop.index}}" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body text-center">
                                    {% if block.settings.type_service == "video" %}
                                        <video id="{{block.settings.type_service}}-{{forloop.index}}" width="100%" height="300" controls>
                                            <source src="{{block.settings.content_url}}" type="video/mp4">
                                            Your browser does not support HTML5 video.
                                        </video>
                                    {% comment %} <iframe width="100%" height="300" src="{{block.settings.content_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> {% endcomment %}
                                    {% elsif block.settings.type_service == "audio" %}
                                       <audio id="{{block.settings.type_service}}-{{forloop.index}}" controls>
                                            <source src="{{block.settings.content_url}}" type="audio/mpeg">
                                        </audio>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}      
             {% endfor %}
        </div>     
    </div>
</section>
{% endif %}
  
{% schema %}
{
"name": "Our Work",
  "settings": [
        {
        "type":"checkbox",
        "id":"enable",
        "label":"enable"
        },
        {
        "type":"text",
        "id":"title",
        "label":"Title"
        },
        {
        "type":"textarea",
        "label":"Description",
        "id":"description"
        }
      
  ],
  "blocks":[
    {
      "type": "Example_content",
      "name": "Example Content",
      "settings": [
          {
            "type":"checkbox",
            "id":"enable_content",
            "label":"Enable"
          },
          {
            "type":"text",
            "id":"block_title",
            "label":"Tab Title"
          },
          {
            "type":"text",
            "id": "content",
            "label": "Description"
          },
            {
            "type": "select",
            "id": "type_service",
            "options": [
                { "value": "document", "label": "Document"},
                { "value": "audio", "label": "Audio"},
                { "value": "video", "label": "Video"}
            ],
            "label": "Type Of Service Example"
            }
            ,
          {
            "type":"url",
            "id": "content_url",
            "label": "Url"
          }
      ]
    }
  ]
}
{% endschema %}