<section class="services-plans py-5 d-lg-block d-none">
    <div class="container">
        <div class="plan_head_row">
            <div class="plan_head">
                <div class="p_head time">
                    <!-- <h4>Time tracking</h4> -->
                </div>
                <div class="p_head bg-secondary">
                    <div class="title_plan">
                        <h5>Free</h5>
                    </div>
                    <div class="plan_price">
                        <p class="mb-0">19 ₪</p>
                        <p class="mb-0">(עד דקה)</p>
                    </div>
                    <div class="plan_input_div">
                        <div class="plan_select">
                            <select class="form_input">
                                <option>--Select-----</option>
                                <option>--Select-----</option>
                                <option>--Select-----</option>
                                <option>--Select-----</option>
                            </select>
                            <label>שפת מקור</label>
                        </div>
                        <div class="input_div">
                            <input type="text" class="form_input" placeholder="EX. 1/2/3">
                            <label>כמות דקות</label>
                        </div>

                    </div>
                    <div class="btn_div">
                        <a class="btn btn-all">נהיה בקשר</a>
                    </div>
                </div>
                <div class="p_head bg-warning">
                    <div class="title_plan">
                        <h5>Enterprise</h5>
                    </div>
                    <div class="plan_price">
                        <p class="mb-0">19 ₪</p>
                        <p class="mb-0">(עד דקה)</p>
                    </div>
                    <div class="plan_input_div">
                        <div class="plan_select">
                            <select class="form_input">
                                <option>--Select-----</option>
                                <option>--Select-----</option>
                                <option>--Select-----</option>
                                <option>--Select-----</option>
                            </select>
                            <label>שפת מקור</label>
                        </div>
                        <div class="input_div">
                            <input type="text" class="form_input" placeholder="EX. 1/2/3">
                            <label>כמות דקות</label>
                        </div>
                    </div>
                    <div class="btn_div">
                        <a class="btn btn-all">נהיה בקשר</a>
                    </div>
                </div>
                <div class="p_head bg-success">
                    <div class="title_plan">
                        <h5>Unlimited</h5>
                    </div>
                    <div class="plan_price">
                        <p class="mb-0">19 ₪</p>
                        <p class="mb-0">(עד דקה)</p>
                    </div>
                    <div class="plan_input_div">
                        <div class="plan_select">
                            <select class="form_input">
                                <option>--Select-----</option>
                                <option>--Select-----</option>
                                <option>--Select-----</option>
                                <option>--Select-----</option>
                            </select>
                            <label>שפת מקור</label>
                        </div>
                        <div class="input_div">
                            <input type="text" class="form_input" placeholder="EX. 1/2/3">
                            <label>כמות דקות</label>
                        </div>
                    </div>
                    <div class="btn_div">
                        <a class="btn btn-all">נהיה בקשר</a>
                    </div>
                </div>
            </div>
            <div class="plan_body">
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">36 שפות לבחירה</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">עד 2 דוברים</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">הגהה</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">עד 72 שעות<br><span>(עד 7 דקות)</span></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">עד 3 דוברים</p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
                <div class="pr_list">
                    <div class="price_item">
                        <p class="pr_title">אזכורי זמן </p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="cross"><i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                    <div class="price_item">
                        <p class="check"><i class="fa fa-check" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
"name": "Services Plans",
  "settings": [
  ]
}
{% endschema %}