{% if section.settings.enable_section %}
<section class="slider-section">
    <div class="container">
        <div class="row position-relative pb-5 mb-md-5">
            {% comment %}
            <img class="about-slider-img position-absolute lazyload" src="{{ section.settings.banner_img | img_url: 'original' }}" alt="Work">
            {% endcomment %}
            
            <div class="col-xl-9 col-lg-7 col-md-6 pt-15 m-auto">
                {% if section.settings.banner_title != blank %}
                <h1 class="text-head text-center">
                    <div id="typed-strings" style="display: none;">
                        <span>אנו יוצרים עבור יוצרים .....</span>
                    </div>
                    <span id="typed">{{ section.settings.banner_title }}</span>
                </h1>
                {% endif %}
                {% if section.settings.banner_content != blank %}
                    <p class="display-3 text-dark">{{ section.settings.banner_content }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Project Banner",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_section",
            "label":"Enable Section?"
        },
        {
            "type": "image_picker",
            "id": "banner_img",
            "label":"Banner Image"
        },
        {
            "type": "textarea",
            "id": "banner_title",
            "label":"Banner Title"
        },
        {
            "type": "textarea",
            "id": "banner_content",
            "label":"Banner content"
        }
    ]
  }
{% endschema %}