{% if section.settings.enable %}
{% comment %}
<section class="our-wrok-section py-3">
    <div class="container">
        <div class="row">
        {% if section.settings.title != blank %}
            <div class="col-12  text-center min-about mb-4">
                <div class="title-div position-relative">
                    <h3 class="m-auto position-relative">{{section.settings.title}}</h3>
                    <p class="pt-1">{{section.settings.description}}</p>
                    <i class="fa fa-angle-double-down down-arrow mt-2"></i>
                </div>
            </div>
        {% endif %}    
            {% for block in section.blocks %}
                {%- capture titles -%}{%- if  forloop.index != 1 -%}{{titles  | strip | strip_newlines }},{%- endif -%}{{block.settings.block_title  | strip | strip_newlines }}
                {%- endcapture -%}
            {% endfor %}
            {% assign title_array1 = titles | strip | strip_newlines | split: ","  %}
            {% assign title_array = title_array1 | uniq %}  
             <div class="col-12 p-0">
                <ul class="nav nav-tabs justify-content-center pr-0" id="myTab" role="tablist">
                    {% for item in title_array %}
                        <li class="nav-item">
                            <a class="nav-link mb-2 {% if forloop.index  == 1 %}active {% endif %}" id="{{item | strip | strip_newlines | handleize }}-tab" data-toggle="tab" href="#{{item  | strip | strip_newlines| handleize }}" role="tab" aria-controls="{{item | strip | strip_newlines| handleize }}" aria-selected="true">{{item  | strip | strip_newlines }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    {% for item in title_array %}
                        <div class="tab-pane fade {% if forloop.index  == 1 %}show active {% endif %}" id="{{item | strip | strip_newlines| handleize }}" role="tabpanel" aria-labelledby="{{item | strip | strip_newlines | handleize}}-tab">
                                <div class="col-xl-9 col-md-11 col-12 p-0 m-auto">
                                    <div class="row m-0 main-row-content pt-4">
                                        {% for block in section.blocks %}
                                            {% if block.settings.enable_content and block.settings.block_title == item %}
                                                <div class="col-md-6 col-12">
                                                    <a href="{% if block.settings.type_service != 'document' %}#{% else %}{{block.settings.content_url}}{% endif %}" {% if block.settings.type_service != 'document' %} data-toggle="modal" data-target=".{{block.settings.type_service }}-{{ forloop.index }}" {% else %} target="_blank" {% endif %}>
                                                        <div class="main-box">
                                                            <div class="icon-box">
                                                                {% if block.settings.type_service == 'document' %}
                                                                    <i class="fa fa-book" aria-hidden="true"></i>                                                                                                                                        
                                                                {% elsif block.settings.type_service == 'audio' %}
                                                                    <i class="fa fa-file-audio-o" aria-hidden="true"></i>    
                                                                {% elsif block.settings.type_service == 'video' %}
                                                                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                                                                {% endif %}
                                                            </div>
                                                            <p class="mb-0">{{block.settings.content}}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
             </div> 
             {% for block in section.blocks %}
                {% if block.settings.enable_content %}
                    <div class="modal fade {{block.settings.type_service}}-{{forloop.index}}" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header border-0 p-0">
                                <button type="button" class="close audio" data-dismiss="modal" data-id="{{block.settings.type_service}}-{{forloop.index}}" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body text-center">
                                    {% if block.settings.type_service == "video" %}
                                        <video id="{{block.settings.type_service}}-{{forloop.index}}" width="100%" height="300" controls>
                                            <source src="{{block.settings.content_url}}" type="video/mp4">
                                            Your browser does not support HTML5 video.
                                        </video>
                                     <iframe width="100%" height="300" src="{{block.settings.content_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                                    {% elsif block.settings.type_service == "audio" %}
                                       <audio id="{{block.settings.type_service}}-{{forloop.index}}" controls>
                                            <source src="{{block.settings.content_url}}" type="audio/mpeg">
                                        </audio>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}      
             {% endfor %}
        </div>     
    </div>
</section>
{% endcomment %}
<section class="our-wrok-section py-3">
    <div class="container">
        <div class="row">
             <div class="col-12 p-0">
                <ul class="nav nav-tabs justify-content-center pr-0" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link mb-2 active " id="קול-tab" data-toggle="tab" href="#קול" role="tab" aria-controls="קול" aria-selected="true">קריינות</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-2 " id="סריקת-ספרים-tab" data-toggle="tab" href="#סריקת-ספרים" role="tab" aria-controls="סריקת-ספרים" aria-selected="true">סריקת ספרים</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-2 typing" id="תמלול-tab" data-toggle="tab" href="#תמלול" role="tab" aria-controls="תמלול" aria-selected="true">תמלול</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-2 typing" id="קריינות-tab" data-toggle="tab" href="#קריינות" role="tab" aria-controls="קריינות" aria-selected="true">פענוח</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-2 typing" id="תרגום-tab" data-toggle="tab" href="#תרגום" role="tab" aria-controls="תרגום" aria-selected="true">תרגום</a>
                        </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active " id="קול" role="tabpanel" aria-labelledby="קול-tab">
                        <div class="col-xl-9 col-md-11 col-12 p-0 m-auto">
                            <div class="row m-0 main-row-content">
                                <div class="col-12 audio_main-div text-center">
                                    <audio controls="">
                                        <source src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Voice_over.mp3?v=1584784200" type="audio/mpeg">
                                    </audio>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="סריקת-ספרים" role="tabpanel" aria-labelledby="סריקת-ספרים-tab">
                        <div class="col-xl-9 col-md-11 col-12 p-0 m-auto">
                            <div class="row m-0 main-row-content pt-4">
                                <div class="main-slider-book col-md-6 col-12 m-auto">
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/0.jpg?v=1584787668" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/1.jpg?v=1584787701" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/2.jpg?v=1584787641" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/3.jpg?v=1584787556" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/4.jpg?v=1584787699" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/5.jpg?v=1584787638" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/6.jpg?v=1584787679" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/7.jpg?v=1584787598" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/8.jpg?v=1584787675" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/9.jpg?v=1584787647" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/10.jpg?v=1584787642" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/11.jpg?v=1584787653" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/12.jpg?v=1584787661" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/13.jpg?v=1584787638" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/14.jpg?v=1584787674" alt="">
                                    </div>
                                    <div class="img-div">
                                        <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/15.jpg?v=1584787659" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="תמלול" role="tabpanel" aria-labelledby="תמלול-tab">
                        <div class="col-xl-9 col-md-11 col-12 p-0 m-auto">
                            <div class="row m-0 main-row-content pt-4 ">
                                <div class="col-md-9 col-12 m-auto">
                                    <div class="bg-success translation-box">
                                        <table>
                                            <tbody>
                                            <tr>
                                            <td width="63">
                                            <p >דובר 1:</p>
                                            </td>
                                            <td width="63">
                                            <p ><span>00:04</span>
                                            </td>
                                            <td class="491"><p class="textwriter-text">
                                             ערב טוב לכולם ותודה רבה שהגעתם.</p>
                                            <p class="textwriter-text"> על סדר היום, אישור פרוטוקול ועד מנהל קודם,</p>
                                            <p class="textwriter-text"> אישור תקנון החברה והצגת דוח כספי לשנת 2019</p>
                                            </td>
                                            </tr>
                                           
                                            <tr>
                                            <td width="63 ">
                                            <p >דובר 2:</p>
                                            </td>
                                            <td width="63">
                                            <p><span >00:12</span>
                                            </td>
                                            <td class="491"><p class="textwriter-text">מה סטטוס ההחלטות מפרוטוקול קודם?</p>
                                            </td>
                                            </tr>
                                           <tr>
                                            <td width="63">
                                            <p>דובר 1:</p>
                                            </td>
                                            <td width="63">
                                            <p><span>00:14</span>
                                            </td>
                                            <td class="491"><p class=" textwriter-text">כולם בוצעו ונעבור עליהם באופן פרטני בהמשך. האם יש עוד שאלות לפני שנתחיל?</p>
                                            </td>
                                            </tr>
                                            <tr>
                                            <td width="63">
                                            <p>דובר 3:</p>
                                            </td>
                                            <td width="63">
                                            <p><span>00:23</span>
                                            </td>
                                            <td class="491"><p class=" textwriter-text">כן, ארצה לדעת לפני שמתחילים האם נושא החוב בבנק נפתר?</p>
                                            </td>
                                            </tr>
                                            </tbody>
                                            </table>

                                    </div>     
                                </div>         
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="קריינות" role="tabpanel" aria-labelledby="קריינות-tab">
                            <div class="col-xl-9 col-md-11 col-12 p-0 m-auto">
                                <div class="row m-0 main-row-content pt-4">
                                    <div class="col-md-9 col-12 m-auto">
                                        <div class="bg-success translation-box">
                                            <p class="textwriter-text text-left"> Companies need to establish management practices to govern these complex transformations. An important approach is to formulate a digital transformation strategy that serves as a central concept to integrate the entire coordination, prioritization, and implementation of digital transformations within a firm.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="tab-pane fade " id="תרגום" role="tabpanel" aria-labelledby="תרגום-tab">
                            <div class="col-xl-9 col-md-11 col-12 p-0 m-auto">
                               
                                <div class="row m-0 main-row-content pt-4">
                                   
                                    <div class="col-md-6 col-12">
                                        <div class="bg-success translation-box">
                                            <p class="textwriter-text">בשנים האחרונות חברות ברוב הענפים קיימו מספר יוזמות לחקר טכנולוגיות דיגיטליות חדשות ולניצול היתרונות שלהן. זה כרוך לעתים קרובות בשינוי של פעולות מרכזיות בארגון המשפיעות על מוצרים ותהליכים, כמו גם על מבנים ארגוניים ותפיסות ניהול. ארגונים צריכים לקבוע נוהלי ניהול כדי לשלוט בשינויים מורכבים אלו. גישה חשובה היא לנסח אסטרטגיית שינוי דיגיטלית המשמשת כרעיון מרכזי לשילוב כל התיאום, העדיפות והיישום של שינוי דיגיטלי בתוך הארגון.</p>
                                        </div>
                                    </div>
                                     <div class="col-md-6 col-12">
                                            <div class="bg-purple translation-box text-left">
                                                <p class="textwriter-text">In recent years, firms in almost all industries have conducted a number of  initiatives to explore new digital technologies and to exploit their benefits. This frequently involves transformations of key business operations and affects products and processes, as well as organizational structures and management concepts. Companies need to establish management practices to govern these complex transformations. An important approach is to formulate a digital transformation strategy that serves as a central concept to integrate the entire coordination, prioritization, and implementation of digital transformations within a firm.</p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
             </div>   
        </div>         
    </div>
</section>
{% endif %}
  
{% schema %}
{
"name": "Our Work",
  "settings": [
        {
        "type":"checkbox",
        "id":"enable",
        "label":"enable"
        },
        {
        "type":"text",
        "id":"title",
        "label":"Title"
        },
        {
        "type":"textarea",
        "label":"Description",
        "id":"description"
        }
      
  ],
  "blocks":[
    {
      "type": "Example_content",
      "name": "Example Content",
      "settings": [
          {
            "type":"checkbox",
            "id":"enable_content",
            "label":"Enable"
          },
          {
            "type":"text",
            "id":"block_title",
            "label":"Tab Title"
          },
          {
            "type":"text",
            "id": "content",
            "label": "Description"
          },
            {
            "type": "select",
            "id": "type_service",
            "options": [
                { "value": "document", "label": "Document"},
                { "value": "audio", "label": "Audio"},
                { "value": "video", "label": "Video"}
            ],
            "label": "Type Of Service Example"
            }
            ,
          {
            "type":"url",
            "id": "content_url",
            "label": "Url"
          }
      ]
    }
  ]
}
{% endschema %}