{% if section.settings.enable %}
<section class="pursue-passion-section pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 m-auto">
                <div class="row">
                    <div class="col-lg-6 text-center px-4 m-auto">
                        <div class="pursue-div-box bg-white py-3">
                            <h5>{{section.settings.title}}</h5>
                            <h4 class="font-italic text-body mb-3">{{section.settings.title_second}}</h4>
                            <a href="{{section.settings.btn_url}}" class="btn btn-all">{{section.settings.btn_label}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Passion Section",
  "settings": [
       {
            "type":"checkbox",
            "id": "enable",
            "label": "Enable ?"
        },
         {
        "type":"text",
        "id":"title",
        "label":"Title"
        },
         {
        "type":"text",
        "id":"title_second",
        "label":"Title Second"
        },
       {
        "type":"text",
        "label":"Button label",
        "id":"btn_label"
        },
        {
            "type":"url",
            "label":"Button Url",
            "id":"btn_url"
        },
        {
            "type":"image_picker",
            "id": "main_img",
            "label": "Image "
        }
  ]
}
{% endschema %}