{% if section.settings.enable %}
<section class="slider-section pb-lg-5 pb-lg-3 pb-1">
    <div class="container">
        <div class="row position-relative pb-lg-5 pb-1">
            {% if section.settings.bg_image != blank %}
                <img class="services-slider-img position-absolute lazyload" src="{{section.settings.bg_image | img_url :'original' }}" alt="{{section.settings.bg_image.alt | default:shop.name}}">
            {% endif %} 
            <div class="col-md-9 pt-15">
                <h1 class="">
                    <div id="typed-strings" style="display: none;">
                        <span>Work Together</span>
                    </div>
                    <span id="typed" style="white-space:pre;">{{section.settings.title}}</span>
                </h1>
                <p class="display-3 text-dark">{{section.settings.description}}</p>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Service Banner",
    "settings": [
        {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable"
        },
        {
           "type":"image_picker",
           "id":"bg_image",
            "label":"Background Image" 
        },
        {
        "type":"text",
        "id":"title",
        "label":"Title"
        },
        {
        "type":"textarea",
        "id":"description",
        "label":"Description"
        }
    ]
  }
{% endschema %}