<section class="main-cate-service-section py-5">
    <div class="container">
        <div class="col-lg-9 m-auto">
            <div class="row justify-content-center">
            {% for block in section.blocks %}
                  {% assign coll = collections[block.settings.collect] %}
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="main-cate-service-box">
                            <a href="{{coll.url}}">
                            <div class="service-img-box">
                            {% if coll.image != blank %}
                                <img src="{{coll.image | img_url:'50x50' }}" alt="{{coll.image.alt | default:shop.name}}" class="lazyload">
                            {% endif %}
                            </div>
                            <a href="{{coll.url}}"><h4 class="mb-0">{{coll.title}}</h4></a>
                            </a>
                        </div>
                    </div>
            {% endfor %}
               {% if section.settings.btnurl != blank and section.settings.button_label %}
               <div class="col-12 text-center my-3">
                    <p>{{section.settings.message}}</p>
                    <a href="{{section.settings.btnurl}}" class="btn btn-all">{{ section.settings.button_label}}</a>
               </div>
               {% endif %}
                {% comment %} <div class="col-md-4 text-center">
                    <div class="main-cate-service-box">
                        <a href="#">
                        <div class="service-img-box">
                            <img src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">ספרים</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="main-cate-service-box">
                        <a href="#">
                        <div class="service-img-box">
                            <img src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">תמונות</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="main-cate-service-box">
                        <a href="#">
                        <div class="service-img-box">
                            <img src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">מסמכים</h4>
                        </a>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>
{% comment %} <section class="main-cate-service-section py-5">
    <div class="container">
        <div class="col-lg-11 m-auto">
            <div class="row justify-content-center">
                <div class="col-md-3 text-center">
                    <div class="main-cate-service-box">
                        <a href="#">
                        <div class="service-img-box">
                            <img src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">ספרים</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="main-cate-service-box">
                        <a href="#">
                        <div class="service-img-box">
                            <img src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">תמונות</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="main-cate-service-box">
                        <a href="#">
                        <div class="service-img-box">
                            <img src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">מסמכים</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
{% schema %}
  {
    "name": "Service inner Cate",
    "max_blocks":3,
    "settings": [
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable ?"
        },
        {
            "type":"text",
            "id":"message",
            "label":"Message For Link",
            "default":"פספסנו משהו?"
        },
        {
            "type":"text",
            "label":"button label",
            "id":"button_label"
        },
        {
            "type":"url",
            "label":"Button Link",
            "id":"btnurl"
        }
    ],
    "blocks":[
        {
        "type":"Collection_blocks",
        "name":"CollectionBlock",
        "settings":[
            {
            "type":"collection",
            "id":"collect",
            "label":"Collection"
            }
        ]
        }
    ]
  }
{% endschema %}