{% if section.settings.enable %}
<section class="service-main-section py-md-5 py-3">
    <div class="container">
        <div class="col-lg-10 col-md-12 m-auto">
            <div class="row">
				<div class="col-lg-12  text-center min-about mb-4">
					<div class="title-div position-relative">
						<h3 class="m-auto position-relative">{{section.settings.title}}</h3>
						<p class="pt-1">{{section.settings.description}}</p>
						<i class="fa fa-angle-double-down down-arrow mt-2"></i>
					</div>
				</div>
			</div>
            <div class="row">
                {% for block in section.blocks %}
                    {% if block.settings.enable %}
                        {% assign collect = collections[block.settings.service_collect] %}
                        <div class="col-md-4 col-sm-6 ">
                            <div class="main-service-box {% if forloop.index == 1 %} bg-purple {% elsif forloop.index == 2 %}  bg-secondary {% elsif forloop.index == 3 %} bg-success {% elsif forloop.index == 4 %} bg-warning {% elsif forloop.index == 5 %} bg-light {% elsif forloop.index == 6%} bg-danger {% endif %}">
                                <div class="img-box">
                                    {% if block.settings.service_image != blank %}
                                        <img class="service-icon lazyload" src="{{block.settings.service_image | img_url :'70x70'}}" alt="{{block.settings.service_image.alt | default:shop.name}}">
                                    {% else if collect.image != blank %}
                                        <img class="service-icon lazyload" src="{{collect.image | img_url :'70x70'}}" alt="{{collect.title | default:shop.name}}">
                                    {% endif %}
                                </div>
                                <h4 class="mb-0">{% if block.settings.service_title != blank %}{{block.settings.service_title}}{% else %}{{collect.title}}{% endif %}</h4>
                                <div class="btn-div">
                                    <a href="{{collect.url}}"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor%}
{% comment %}                
                <div class="col-md-4">
                    <div class="main-service-box bg-success active-service">
                        <div class="img-box">
                            <img class="service-icon" src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">דיגיטציה</h4>
                        <div class="btn-div">
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-service-box bg-secondary">
                        <div class="img-box">
                            <img class="service-icon" src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">המרה</h4>
                        <div class="btn-div">
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-service-box bg-danger">
                        <div class="img-box">
                            <img class="service-icon" src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">תרגום</h4>
                        <div class="btn-div">
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-service-box bg-warning">
                        <div class="img-box">
                            <img class="service-icon" src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">תמלול</h4>
                        <div class="btn-div">
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-service-box bg-light">
                        <div class="img-box">
                            <img class="service-icon" src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">קריינות</h4>
                        <div class="btn-div">
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-service-box bg-success">
                        <div class="img-box">
                            <img class="service-icon" src="//cdn.shopify.com/s/files/1/0314/4436/9544/files/mic3_50x50.png?v=1581577267" alt="">
                        </div>
                        <h4 class="mb-0">פענוח</h4>
                        <div class="btn-div">
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                 {% endcomment %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Service Main",
    "max_blocks":6,
    "settings": [
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable"
        },
        {
            "type":"text",
            "id":"title",
            "label":"Title"
        },
        {
            "type":"textarea",
            "id":"description",
            "label":"Description"
        }
    ],
    "blocks":[
    {
        "type":"Services_Main",
        "name":"Services Main",
        "settings":[
        {
            "type":"checkbox",
            "id":"enable",
            "label":"Enable service ?"
        },
        {
            "type":"collection",
            "id":"service_collect" , 
            "label":"Choose Main Service"
        },
        {
            "type":"text",
            "id":"service_title",
            "label":"Service Title"
        },
        {
            "type":"image_picker",
            "id":"service_image",
            "label":"Service Image"
        }

        ]
    }
    ]
  }
{% endschema %}