{% if section.settings.enable %}
<section class="shipping-section py-1 ">
<div class="container"> 
        {% comment %} {% if section.settings.title != blank %}
            <div class="row py-1 px-2">
                <div class="col-12">
                    <div class="title-div text-center">
                        <h3 class="position-relative">{{section.settings.title}}</h3>
                    </div>
                </div>
            </div>
        {% endif %} {% endcomment %}
        
        <div class="row align-items-center py-1">
            {% if section.settings.content_image  != blank %}
            <div class="col-lg-12 col-md-12 text-center wow slideInLeft " data-wow-duration="2s">
                 <img src="{{section.settings.content_image |img_url:'large' }}" alt="{{section.settings.content_image.alt | default:shop.name}}" class="img_main">
            </div>
            {% endif %}
            <div class="col-lg-9 col-md-9 m-auto wow slideInRight"  data-wow-duration="2s">
                <div class="row align-items-center border border-left-0 border-right-0  py-2"  >           
                    <div class="col-lg-3 col-md-12 col-sm-12 text-center wow ">
                        <img src="{{section.settings.logo_img | img_url:'100x100' }}" class="lazyload">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 ">
                        <p>{{section.settings.note_1}}</p>
                    </div>
                    <div class=" col-lg-3 col-md-4 col-sm-4">
                        <p class="mb-0 note-2">{{section.settings.note_2_top}}</p>
                        <p><b>{{section.settings.note_2_bottom}}</b></p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <p class="mb-0"><b>{{section.settings.note_3_big}}</b></p>
                        <p class="mb-0">{{section.settings.note_3_small}}</p>
                        <p class="mb-0">{{section.settings.note_4_big}}</p>
                        <p class="mb-0">{{section.settings.note_4_small}}</p>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-12 mt-3">
                        <p class="w-75 mb-0">{{section.settings.info_1}}</p>
                        <p>{{section.settings.info_2}}</p>
                        <h5>{{section.settings.content_title}}</h5>
                        <p>{{section.settings.description}}</p>

                    </div>
                </div>
            </div>
            
        </div>
     
        {% comment %} <div class="row py-md-5 py-3">           
            <div class="col-md-8  wow slideInRight" data-wow-duration="2s">               
                <h5>{{section.settings.content_title}}</h5>
                <p>{{section.settings.description}}</p>
            </div>
            {% if section.settings.content_image  != blank %}
                <div class="col-md-4 my-3 text-center wow slideInLeft">
                    <img src="{{section.settings.content_image |img_url:'original' }}" alt="{{section.settings.content_image.alt | default:shop.name}}" class="img_main">
                </div>
            {% endif %}
        </div> {% endcomment %}
</div>
</section>
{% endif %}
{% schema %}
{
"name": "Shipping  section",
  "settings": [
        {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
        },
       {
        "type":"header",
        "content":"Shipping Info"
        },
       {
        "type":"image_picker",
        "id":"logo_img",
        "label":"Shipping Info Logo Image"
        },
        {
            "type":"text",
            "id":"note_1",
            "label":"Note 1"  
        },
        {
            "type":"text",
            "id":"note_2_top",
            "label":"Note 2 Top"  
        },
        {
            "type":"text",
            "id":"note_2_bottom",
            "label":"Note 2 Bottom"  
        },
        {
            "type":"text",
            "id":"note_3_big",
            "label":"Note 3 Big"  
        },
        {
            "type":"text",
            "id":"note_3_small",
            "label":"Note 3 Small"  
        },
        {
            "type":"text",
            "id":"note_4_big",
            "label":"Note 4 Big"  
        },
        {
            "type":"text",
            "id":"note_4_small",
            "label":"Note 4 Small"  
        },
        {"type":"text",
        "label":"Info Text 1",
        "id":"info_1"
        },
        {
        "type":"text",
        "label":"Info Text 2",
        "id":"info_2"
        },
        {
            "type":"text",
            "id":"content_title",
            "label":"Content Title",
            "default":"מדיניות החזרות"
        },
         {
            "type":"richtext",
            "id":"description",
            "label":"Content Description"
       },
       {
           "type":"image_picker",
           "id":"content_image",
           "label":"Content Image"
       }

  ]

}
{% endschema %}