{% if section.settings.enable %}
<section class="shipping-badges pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-10 m-auto text-center">
                <img class="img-fluid badges-img lazyload" src="{{ settings.badges_img | img_url: 'original' }}" atl="Trust badges">
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Shipping Badges Section",
"settings": [
    {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
    }
],
"presets": [
{
"name": "Shipping Badges Section",
"category": "Index"
}
]
}
{% endschema %}