{% if section.settings.enable %}
<section class="terms-condition pb-5">
    <div class="container">
        <div class="row">
                    {{ page.content }} 
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Terms Conditions",
  "settings": [
          {
            "type":"checkbox",
            "id": "enable",
            "label": "Enable ?"
        }
      ]
}
{% endschema %}