{% if section.settings.enable %}
<section class="voice-over-2-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="mb-3">{{section.settings.right_title}}</h5>
                <div class="row main_laguage_select">
                   {% for block in section.blocks %}
                        {% if block.settings.enable and block.type == 'choose_language' %}
                            <div class="col-md-6 col-sm-6">
                                <div class="main-box">
                                    <div class="icon-box">
                                    {% if block.settings.flag_img != blank %}
                                        <img src="{{block.settings.flag_img | img_url:'50x30'}}" alt="{{ block.settings.flag_img.alt | default:block.settings.country_name }}" class="lazyload">
                                    {% endif %}
                                    </div>
                                    <p class="mb-0">{{block.settings.country_name}}</p>
                                </div>
                            </div>
                        {% endif %}
                   {% endfor %}
                    {% comment %} <div class="col-md-6">
                        <div class="main-box">
                            <div class="icon-box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture11.png?v=1582178123" alt="">
                            </div>
                            <p class="mb-0">עברית</p>
                        </div>
                        <div class="main-box">
                            <div class="icon-box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture12.png?v=1582178123" alt="">
                            </div>
                            <p class="mb-0">רוסית</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="main-box">
                            <div class="icon-box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture20.png?v=1582179598" alt="">
                            </div>
                            <p class="mb-0">גרמנית</p>
                        </div>
                        <div class="main-box">
                            <div class="icon-box">
                                <img src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/Picture21.png?v=1582179598" alt="">
                            </div>
                            <p class="mb-0">סווהילי</p>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="col-md-6">
                <h5 class="mb-3 text-left">{{section.settings.left_title}}</h5>
                <div class="word-writer-div text-left">
                    {% comment %} <p class="text-center">(<span id="total_counts">50</span> / <span id="w_count">0</span> ) </p> {% endcomment %}
                    <p class="text-center">(<span id="w_count">0</span>)</p>
                  
                    <textarea class="form_textarea" name="content" id="content" placeholder="התוכן שלך" rows="5"></textarea>
                </div>
            </div>
        </div>
        {% if section.settings.enable_example %}
            {% assign first = true %}
            {% for block in section.blocks %}
                {% if block.type != "choose_language" and block.settings.enable_content %}
                    {%- capture titles -%}{%- if first == false -%}{{titles  | strip | strip_newlines }},{% else %} {% assign first = false %}{%- endif -%}{{block.settings.block_title  | strip | strip_newlines }}
                    {%- endcapture -%}
                {% endif %}
            {% endfor%}
            {% assign title_array1 = titles | strip | strip_newlines | split: ","  %}
            {% assign title_array = title_array1 | uniq %}  
            <div class="row mt-3 example_row">
                <div class="col-12  text-center min-about mb-4">
                    <div class="title-div position-relative">
                        <h3 class="m-auto position-relative">{{section.settings.example_title}}</h3>
                        <i class="fa fa-angle-double-down down-arrow mt-2"></i>
                    </div>
                </div>
                {% for item in title_array %}
                    {% assign title_enable = true %}
                    <div class="col-lg-3 col-md-6  col-sm-6">
                        {% for block in section.blocks %}
                            {% if block.type == "example_voice"  and block.settings.block_title == item and block.settings.enable_content %}            
                                    {% if title_enable %}
                                        <h5 class="mb-3 text-center">{{item}}</h5>
                                        {% assign title_enable = false %}
                                    {% endif %}
                                    <a href="#" data-toggle="modal" data-target="#{{block.settings.block_title | handleize }}-{{block.settings.content | handleize }}-{{forloop.index}}">
                                        <div class="main-box">
                                            <div class="icon-box">
                                                <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                                            </div>
                                            <p class="mb-0">{{block.settings.content}}</p>
                                        </div>
                                    </a>
                            {% endif %}
                        {% endfor %}
                    </div>  
                {% endfor %}
                {% comment %} <div class="col-md-3">
                    <h5 class="mb-3 text-center">עברית</h5>
                    <a href="#" data-toggle="modal" data-target="#audio_model_voice">
                        <div class="main-box">
                            <div class="icon-box">
                                <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                            </div>
                            <p class="mb-0">Example 1</p>
                        </div>
                    </a>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 2</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 3</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 4</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5 class="mb-3 text-center">אנגלית</h5>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 1</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 2</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 3</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 4</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5 class="mb-3 text-center">רוסית</h5>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 1</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 2</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 3</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 4</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5 class="mb-3 text-center">ערבית</h5>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 1</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 2</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 3</p>
                    </div>
                    <div class="main-box">
                        <div class="icon-box">
                            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
                        </div>
                        <p class="mb-0">Example 4</p>
                    </div>
                </div> {% endcomment %}
            </div>
        {% endif %}    
    </div>
    {% for block in section.blocks %}
        {% if block.type == "example_voice"  and block.settings.enable_content %}                            
            <div class="modal fade" id="{{block.settings.block_title | handleize }}-{{block.settings.content | handleize }}-{{forloop.index}}" tabindex="-1" role="dialog" aria-labelledby="{{block.settings.block_title | handleize }}-{{block.settings.content | handleize }}-{{forloop.index}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 p-0">
                    <button type="button" class="close audio" data-dismiss="modal" aria-label="Close" data-id="{{block.settings.block_title | handleize }}-{{block.settings.content | handleize }}-{{forloop.index}}-audio">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body text-center">
                        <audio id="{{block.settings.block_title | handleize }}-{{block.settings.content | handleize }}-{{forloop.index}}-audio" controls>
                            <source src="{{block.settings.content_url}}" type="audio/mpeg">
                        </audio>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% if section.settings.btnlink != blank and section.settings.btnlabel != blank %}
    <div class="row">
        <div class="col-12 text-center">
            <p class="mt-2">{{section.settings.info_text}}</p>
            <a href="{{section.settings.btnlink}}" class="btn btn-all">{{section.settings.btnlabel}}</a>        
        </div>
    </div>
    {% endif %}
</section>
{% endif %}


{% comment %} <div class="modal fade" id="audio_model_voice" tabindex="-1" role="dialog" aria-labelledby="audio_model_voice" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header border-0 p-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body text-center">
            <audio controls>
                <source src="https://cdn.shopify.com/s/files/1/0314/4436/9544/files/horse.mp3?5703" type="audio/mpeg">
            </audio>
        </div>
    </div>
    </div>
</div> {% endcomment %}
{% schema %}
{
"name": "Voice-Over 2",
  "settings": [
      {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable ?"
      },
      {
          "type":"text",
          "id":"right_title",
          "label":"Title For Language Select",
          "default":"שפות לבחירה"
      },
      {
          "type":"text",
          "id":"left_title",
          "label":"Title For Writer Box",
          "default":"סופר מילים"
      },
        {
        "type":"text",
        "id":"example_title",
        "label":"Title For Sample Content",
        "default":"דוגמאות"           
        } ,
        {
            "type":"checkbox",
            "id":"enable_example",
            "label":"Enable Examples"
        },
        {
            "type":"text",
            "id":"info_text",
            "label":"Info"
        },
        {
            "type":"url",
            "id":"btnlink",
            "label":"Button Link"
        },
        {
            "type":"text",
            "label":"Button label",
            "id":"btnlabel"
        }
  ],
  "blocks":[
    {
        "type":"choose_language",
        "name":"Choose Language",
        "settings":[
        {
        "type":"checkbox",
        "id":"enable",
        "label":"Enable "
        },
        {
            "type":"image_picker",
            "id":"flag_img",
            "label":"Flag Image"
        },
        {
            "type":"text",
            "id":"country_name",
            "label":"Country Name"
        }
        ]
    },
    {
      "type": "example_voice",
      "name": "Example Voice",
      "settings": [
          {
            "type":"checkbox",
            "id":"enable_content",
            "label":"Enable"
          },
          {
            "type":"text",
            "id":"block_title",
            "label":"Language Title"
          },
          {
            "type":"text",
            "id": "content",
            "label": "Description"
          } ,
          {
            "type":"url",
            "id": "content_url",
            "label": "Url"
          }
      ]
    }
  ]
}
{% endschema %}