{% if section.settings.enable %}
<section class="build-business-section py-md-5 mt-md-5 py-2 mt-2">
    <div class="container">
        <div class="col-lg-12 m-auto">
            <div class="row align-items-center ">
               {% if section.settings.title != blank %}
                <div class="col-lg-12  text-center min-about my-md-0 my-2 mb-2">
                    <div class="title-div position-relative mb-md-3">
                        <h3 class="m-auto position-relative  mb-3">{{section.settings.title}}</h3>
                        <i class="fa fa-angle-double-down down-arrow mt-2"></i>
                    </div>
                </div>
               {% endif %}
               {% for block in section.blocks %}
                    {% if block.settings.enable_block %}
                        <div class="col-lg-12  text-center mb-4">
                            <div class="row align-items-center mb-xl-0 mb-lg-0">
                                {% if block.settings.image_alignment == 'left' %}
                                    <div class="col-lg-6 text-lg-right process-follow-img text-center px-3 wow slideInRight order-lg-1 order-2" data-wow-duration="2s" >
                                        <img class="img-fluid" src="{{ block.settings.block_img | img_url: 'original' }}">
                                    </div>
                                    <div class="col-lg-6 wow slideInLeft text-lg-right order-1  text-center pl-3  mb-lg-0 mb-3 mt-lg-0 mt-3 " data-wow-duration="2s" >
                                        <div class="text-main-div process-title-1 custom_pad">
                                            <div class="title-div position-relative">
                                                <h3 class="position-relative">{{block.settings.title_block}}</h3>
                                            </div>
                                            <p class="m-lg-0 mb-3">{{block.settings.content_block}}</p>
                                        </div>
                                     </div>
                                {% endif %}    
                                
                                {% if block.settings.image_alignment == 'right' %}
                                    <div class="col-lg-6 wow slideInRight text-lg-right order-1  text-center pl-3  mb-lg-0 mb-3 mt-lg-0 mt-3 " data-wow-duration="2s" >
                                        <div class="text-main-div process-title-1 custom_pad">
                                            <div class="title-div position-relative">
                                                <h3 class="position-relative">{{block.settings.title_block}}</h3>
                                            </div>
                                            <p class="m-lg-0 mb-3">{{block.settings.content_block}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-lg-right process-follow-img wow slideInLeft text-center px-3 order-lg-1  order-2"  data-wow-duration="2s">
                                        <img class="img-fluid lazyload" src="{{ block.settings.block_img | img_url: 'original' }}">
                                    </div>
                                {% endif %}    
                            </div>
                        </div>
                    {% endif %}
               {% endfor %}
               {% if section.settings.btnurl != blank and section.settings.button_label != blank %}
                <div class="col-12 text-center mb-3">
                        <a href="{{section.settings.btnurl}}" class="btn btn-all">{{ section.settings.button_label}}</a>
                </div>
               {% endif %}
                {% comment %} <div class="col-lg-12  text-center mb-4">
                    <div class="row align-items-center mb-xl-0 mb-lg-0">
                        <div class="col-lg-6 text-lg-right process-follow-img text-center px-3 order-lg-1  order-2">
                            <img class="img-fluid" src="{{ section.settings.main_img | img_url: 'original' }}">
                        </div>
                        <div
                            class="col-lg-5 text-md-right text-center pl-3 order-lg-2 order-1 mb-lg-0 mb-3 mt-lg-0 mt-3">
                            <div class="text-main-div process-title-1 ">
                                <div class="title-div position-relative">
                                    <h3 class="position-relative">תתעדכן בטכנולוגיות הכי חדשות</h3>
                                </div>
                                <p class="m-lg-0 mb-3">האופן בו אנשים שומרים את המידע משתנה. ההתקדמות הטכנולוגית ללא ספק שיפרה את חיינו בכל התחומים. זה שינה את הדרך בה אנו מאחסנים, מעבדים או אפילו קוראים מידע. התקדמות טכנולוגית זו קשורה גם לתהליך הדיגיטציה.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12  text-center mb-4">
                    <div class="row align-items-center pt-3 pt-md-4">
                        <div class="col-lg-5 text-lg-left text-center">
                            <div class="text-main-div process-title-2 pl-xl-5 pl-lg-3 mb-lg-0 mb-3">
                                <div class="title-div position-relative">
                                    <h3 class="position-relative">אתה צריך להתאים את עצמך אלינו…</h3>
                                </div>
                                <p class="mb-3">Digtify נולדה בעידן הדיגיטלי, מתוך הצורך לספק מוצרים ושירותים באמצעות אספקה מהירה, בשילוב עם אלגוריתמים וכלים מתקדמים ועם חווית משתמש מעולה. זוהי חברה חדשנית ודינמית שמשתנה בהתאם לצרכי השוק. אנו מאמינים שדרוש יותר מהמוצרים הנכונים כדי להצליח, ולשם כך אנו עובדים יום יום על גילוי דרכים טובות יותר לבצע את העבודה.</p>
                            </div>
                        </div>
                        <div class="col-lg-6  text-center process-follow-img text-center px-3 mb-lg-0 mb-4">
                            <img class="img-fluid" src="{{ section.settings.main_img2 | img_url: 'original' }}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="row align-items-center py-3 mb-md-2">
                        <div
                            class="col-lg-6 text-lg-right process-follow-img text-center px-3 order-lg-1 order-2 mb-lg-0 mb-4 ">
                            <img class="img-fluid" src="{{ section.settings.main_img3 | img_url: 'original' }}">
                        </div>
                        <div class="col-lg-5 text-lg-left text-center order-lg-2 pl-3 mb-lg-0 mb-3 mt-md-3">
                            <div class=" text-main-div process-title-3">
                                <div class="title-div position-relative">
                                    <h3 class="position-relative">אנחנו איפה שאתה צריך אותנו</h3>
                                </div>
                                <p >אנחנו ב- Digtify חיים את עולם הדיגיטל וברשותנו פתרונות להמיר ולהנגיש את המידע שלך, כדי שתוכל לצפות בו בכל מקום ובכל זמן. באמצעות ממשקים אינטואיטיביים, זמינות מסביב לשעון, מימוש הזמנה בזמן אמת וטיפול בהתאמה אישית- אנו מבטיחים מעבר הרבה יותר קל לתהליך הדיגיטלי.</p>
                                <p class="mb-3">בין אם אתה יודע בדיוק מה אתה צריך, או שאתה מחפש כלים והשראה כדי להשיג את הצרכים שלך, אנו כאן בשבילך.
                                </p>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Who we Are",
"max_blocks":3,
  "settings": [
        {
            "type":"checkbox",
            "id": "enable",
            "label": "Enable ?"
        },
        {
        "type":"text",
        "id":"title",
        "label":"Title"
        },
        {
            "type":"text",
            "label":"Button label",
            "id":"button_label"
        },
        {
            "type":"url",
            "label":"Button Link",
            "id":"btnurl"
        }

  ],
  "blocks":[
    {
        "type":"image-with-text",
        "name":"image with text",
        "settings":[{
            "type":"checkbox",
            "id":"enable_block",
            "label":"Enable ?"
        },
        {
            "type":"image_picker",
            "id": "block_img",
            "label": "Image "
        },
        {
        "type": "select",
        "id": "image_alignment",
        "options": [
            { "value": "left", "label": "Left"},
            { "value": "right", "label": "Right"}
        ],  
        "default": "left",
        "label": "Image Alignment"
        },
        {
        "type":"text",
        "id":"title_block",
        "label":"Title"
        },
        {
        "type":"textarea",
        "id":"content_block",
        "label":"Content"
        }
        ]
    }
  ]
}
{% endschema %}