{% if section.settings.enable %}
<section class="word-writer"> 
    <div class="container">
        <div class="row m-auto">
            <div class="col-md-8 m-auto"> 
                {% comment %} <p class="text-center">(<span id="total_counts">100</span> / <span id="w_count">0</span>) {{section.settings.title}} </p>  {% endcomment %}
                <p class="text-center">(<span id="w_count">0</span>) {{section.settings.title}} </p> 
                <textarea name="content" id="content" class="m-auto  col-12" rows="5" placeholder="התוכן שלך"></textarea>
                <p class="text-center mt-5">{{section.settings.small_heading}}</p>
                {% if section.settings.link_url != blank %}
                    <p class="text-center"><a href="{{section.settings.link_url}}" class="btn btn-all">{{section.settings.link_label}}</a></p>
                {% endif%}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Word Writer",
"settings":[
       {
            "type":"checkbox",
            "id": "enable",
            "label": "Enable ?"
        },
        {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"סופר מילים"
        },
        {
            "type":"text",
            "id":"small_heading",
            "label":"Message",
            "default":"לא מצליח לספור את כמות המילים?"
        },
        {
            "type":"url",
            "id":"link_url",
            "label":"Url For Link"
        },
        {
            "type":"text",
            "id":"link_label",
            "label":"Link Label",
            "default":"שלח לנו לשליחה"
        }
]
}
{% endschema%}