.faq-main-section{
    .nav-pills{
        box-shadow:0px 2px 4px 0px rgba(12, 0, 46, 0.1);
        padding:15px;
        border-radius:10px;
        h4{
            font-size:32px;
        }
        .nav-link{
            font-weight:500;
        }
        .active{
            background:rgba($indigo, .2);
            color:$indigo;
            text-decoration: underline;
            
        }
    }
}
.faq-section{
    .title{
        h1{
            font-size:40px;
        }
    }
    .accordion{
        .card-header{
            padding:0;
            background:rgba(205, 211, 221, 0.29);
            h2{
                font-size: 2.625rem;
            }
            button{
                width: 100%;
                text-align: right;
                padding:10px 15px;
                color:$indigo;
                font-size:20px;
            }
        }
        a{
            color:$indigo;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}