.shipping-section{
        img{
        max-width: 100%; 
      }
      .note-2{
          font-size:20px;
      }
      .img_main{
          @include animation();
      }
    
}
@media only screen and (max-width: 768px) {
    .shipping-section{
        .image_wrapper{
           position:relative;
           padding-bottom:30px;
               img{
               position: relative;
               }
           }   
           .image_wrapper_compact{
               position:relative;
               padding-bottom:30px;
                   img{
                   position: relative;
                   }
               }   
       }
}