<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}" style="padding-bottom:0px" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
    rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"> </script>
<link rel="apple-touch-icon" sizes="57x57" href="{{'apple-icon-57x57.png'| asset_url}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{'apple-icon-60x60.png'|asset_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{'apple-icon-72x72.png'|asset_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{'apple-icon-76x76.png'|asset_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{'apple-icon-114x114.png'|asset_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{'apple-icon-120x120.png'|asset_url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{'apple-icon-144x144.png'|asset_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{'apple-icon-152x152.png'|asset_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{'apple-icon-180x180.png'|asset_url }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{'android-icon-192x192.png'|asset_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{'favicon-32x32.png'|asset_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{'favicon-96x96.png'|asset_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{'favicon-16x16.png'|asset_url }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{'ms-icon-144x144.png'| asset_url}}">
<meta name="theme-color" content="#ffffff">

<meta name="google-site-verification" content="YVGWCJUU7hd3PpZgUfUaTXb02MKCiS9Ct4WbV3MHscA" />
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
 {%- capture seo_title -%}
  {{ page_title }}
  {%- if current_tags -%}
  {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {%- endif -%}
  {%- if current_page != 1 -%}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {%- endif -%}
  {%- assign escaped_page_title = page_title | escape -%}
  {%- unless escaped_page_title contains shop.name -%}
  &ndash; {{ shop.name }}
  {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | default:page.description }}">
  {% else %}
  <meta name="description" content="{{ page.description }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'css-variables' %}
  
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script>
  $(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
  </script>
  {% comment %}
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.js">
  </script>
  <script>
    $(document).ready(function () {
      $(".site-header").sticky({
        topSpacing: 0
      });
    });
  </script> {% endcomment %}
  {% include 'script-tags', layout: 'theme' %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'custom_option_selection.js' | asset_url | script_tag }} 
  {{ content_for_header }}
  {{ 'aeo-typewriter.js' | asset_url | script_tag }}
   
</head>

<body id="{{ page_title | handle }}" class="many-gold-spark template-{{ template.name | handle }} ">
  {% section 'header' %}
  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>
  {% comment %}
  <!-- {% include 'cart-drawer' %} -->
  {% endcomment %}  
  <script src="{{ 'product_variant_selector.js' | asset_url }}"></script>
  {% section 'footer' %}

<div class="se-pre-con"></div>
</body>

</html>